[2021-04-23 11:11] selul commented on #529
fixed in the latest version

[2021-04-23 11:11] #529 closed

[2021-04-23 14:19] girishkrishaweb commented on #522
We have defined a constant which will help to make it true on and off. By default, the setting will be trued off. you have to enable by using define constant with true value.

**How to test it - QA**

1. You need to open wp-config.php
2. Add the code `define( 'FEEDZY_ALLOW_UNSAFE_HTML', true );` into file.

[2021-04-26 09:26] poonam279 opened #536 "custom fields name and value not saved"
### Description:

After creating the custom fields, neither name nor value is saved in the import settings after you re-open it again

### How to reproduce:

1. Create an import job
2. Add custom fields
3. Save it and try to edit it again

### Expected behaviour:
The custom field should save the field name and its value

### Current behaviour:
The custom field is not saved

### Reference:

Screenc

[2021-04-26 10:45] #536 closed

[2021-04-26 13:38] irinelenache commented on #439
@girishkrishaweb @selul Tested it and the feature works fine, but i don't know if the numbers in the run status are ok. For a feed with 10 items (2 of them duplicates) i get this output https://prnt.sc/123ewi2 . Shouldn't it be `Found: 10 , Imported: 8` ?

[2021-04-26 13:40] selul commented on #439
yes, they should

[2021-04-27 09:40] girishkrishaweb commented on #439
@irinelenache Yes, It should be like that. and we have added a new patch to match the above output.

[2021-04-28 22:34] vytisbulkevicius commented on #527
Hi @girishkrishaweb,

Seems like it was fixed for feeds reported before, however, another example that is still failing is this feed:
https://www.globenewswire.com/rssfeed/organization/cs3rDGAwI9v7mcwG3KV1IA==

It's a valid feed, tested here - https://codebeautify.org/xmlvalidator
SimplePie also shows items - http://simplepie.org/demo/

[2021-04-29 06:21] selul opened #541 "failing valid feed"
Hi @girishkrishaweb,

Seems like it was fixed for feeds reported before, however, another example that is still failing is this feed:
https://www.globenewswire.com/rssfeed/organization/cs3rDGAwI9v7mcwG3KV1IA==

It's a valid feed, tested here - https://codebeautify.org/xmlvalidator
SimplePie also shows items - http://simplepie.org/demo/

_Originally posted by @vytisbulkevicius in https://github.com

[2021-04-29 06:21] #527 closed

[2021-05-05 15:32] #433 closed

[2021-05-05 15:33] #421 closed

[2021-05-05 15:33] #117 closed

[2021-05-05 15:33] #224 closed

[2021-05-11 02:25] uniphonic opened #543 "Source doesn't show in feed"
### Description:
Source doesn't show in feed

### How to reproduce:
1. Enter multiple feeds
2. Enable showing sources, by putting "source" into the Item Options field labeled "When using multiple sources, should we display additional meta fields? - source (comma-separated list)."
3. The source doesn't show?

### Expected behavior:
The source of the RSS feed should show.

### Current behavior:
It d

[2021-05-11 10:00] girishkrishaweb commented on #543
@uniphonic Thank you for the reporting. We have tried to reproduce the source issue but we haven't got anything with **source**.

Can you please follow the below steps for more clarification?
**Test step**

1. Create feed importer posts or feed categories with multiple URLs.
2. After that add Gutenberg block in page/post where you want to show the feed.
3. Now, edit Gutenberg block setting and exp

[2021-05-12 11:59] #439 closed

[2021-05-12 11:59] #476 closed

[2021-05-12 11:59] #516 closed

[2021-05-12 11:59] #522 closed

[2021-05-12 11:59] #523 closed

[2021-05-12 11:59] #541 closed

[2021-06-02 08:14] Skystream96 opened #548 "Import as Attachment works but ignores standard item_description"
### Description:
Importing from a valid RSS feed as post type set as ‘Attachment’ is ignoring the [#item_description] field.

It correctly imports the [#item_description] field (and also item_title and item_date ) if the Post Type is set to ‘Post’, but not when I set it to ‘Attachment’. Only the Item_Title and the actual image imports. However, it creates a second entry in the media library with t

[2021-06-07 14:18] vytisbulkevicius opened #549 "When posts are imported with "external image" - they do not show up in Posts blocks (Gutenberg, Elementor and similar)"
### Description:
Feedzy has a feature to import posts without downloading images and use the external image URL:
![image](https://user-images.githubusercontent.com/36594177/121032910-65269480-c7b4-11eb-83e3-6fd292c1fa8c.png)

When this option is used image shows fine on single post page:
https://vertis.d.pr/LtQxAY
or category/archive pages:
https://vertis.d.pr/DR50lF

But if you're using Gutenberg

[2021-06-10 12:21] girishkrishaweb commented on #548
@vytisbulkevicius The RSS feed URL is not working. Can I have a new feed URL?

[2021-06-10 12:29] vytisbulkevicius commented on #548
@girishkrishaweb,

Sure, this should be replicable with any feed that has images, so this is one that could be used to test - http://colmcille.net/colmcille-1500-events/feed

[2021-06-16 11:09] girishkrishaweb commented on #549
@vytisbulkevicius We have verified all the possibilities to show the external images as featured images in the admin visual editor( Gutenberg, Elementor, and similar ) but there is no to do this in the admin interface.

[2021-06-18 11:47] girishkrishaweb opened #551 "Style broke for pagination on Import posts listing page"
### Description:

When I reach the import post listing page, there is a style broken for the WordPress pagination due to overwrite plugin style.
### How to reproduce:

1. Go to this URL {site_url}/wp-admin/edit.php?post_type=feedzy_imports to see the pagination style broken issue.

### Expected behaviour:
The pagination style should be like WordPress default.

### Current behaviour:
The pagination

[2021-06-25 15:02] irinelenache commented on #549
@vytisbulkevicius I see that Gutenberg **Latest posts block** has a setting for displaying the featured image (https://vertis.d.pr/5Nw1tH) that seems to work only in front-end (https://vertis.d.pr/fAjaET) and the **Image dimensions can't be changed**.

[2021-07-04 21:03] vytisbulkevicius opened #555 "Support default Gutenberg editor instead of importing content in the Classic block"
### Description:
All the posts imported by Feedzy are imported using Classic Editor Block - https://wordpress.com/support/wordpress-editor/blocks/classic-block/

For example:
![image](https://user-images.githubusercontent.com/36594177/124399418-fb05fe80-dd23-11eb-9bcc-8797be4ad008.png)

A user asked whether we can change this behavior and support the default Gutenberg editor instead of using a cla

[2021-07-05 12:02] vytisbulkevicius opened #556 "Feedzy is not compatible with PHP 8 when some specific feeds are used in Elementor/Gutenberg blocks"
### Description:
With PHP 8 when using Elementor or Gutenberg Blocks fatal error is thrown when some specific feeds are added to the Feedzy category.

The issue can be replicated using these feeds, for example:
http://bado-badosblog.blogspot.com/feeds/posts/default, http://dailycartoonist.com/index.php/feed/

If you create a category using these feeds:
![image](https://user-images.githubuserconten

[2021-07-07 15:54] #551 closed

[2021-07-07 15:54] #548 closed

[2021-07-07 15:54] #543 closed

[2021-07-09 09:47] girishkrishaweb commented on #555
@vytisbulkevicius  I have updated the patch for viewing imported posts into the default editor which will be selected from WordPress settings. When Gutenberg enables the import post will be shown into Gutenberg HTML block viewer otherwise it will be shown in the class editor.

[2021-07-09 11:06] Skystream96 opened #560 "Visualizer Block shows error when accesing after importing Data through URL or CSV file [Line Chart]"
### Description:
After you create a chart by Importing Data through URL or by uploading a CSV file when you add the Visualiser Block on to the page and **_try accessing Advanced Options_**, the "This block encountered an error" error shows up. However, the chart still displays on the front end if you hit Update and view the page.

### How to reproduce:
1. Go to Chart Library and Add New Chart
2. I

[2021-07-12 12:43] gutoslv opened #561 "Test WP 5.8 Compatibility"
### Description:

We need to make sure that the most important functionalities are working with WP 5.8.
If a bug is found, please refer to this ticket when creating the issue.

[2021-07-15 05:41] girishkrishaweb commented on #549
@irinelenache I have added front-end image dimension support and I'm working on working on add external images support in the visual editor(Gutenberg, Elementor, and similar).

[2021-07-15 09:22] girishkrishaweb commented on #549
@irinelenache I have verified all the possibilities for printing external media into the visual editor and found there is no way to render the external images within the visual editor.

The reason behind it that the recent default block get posts using REST {site_url}/wp-json/wp/v2/posts API and this API returns post data with attachment ID as a featured_media parameter after that it runs a second

[2021-07-21 10:58] irinelenache opened #563 "Broken icons in Post type import setting"
### Description:

In the import post type setting, the icons aren't correctly displayed
### How to reproduce:

1. Open import settings
2. Check Post type setting

### Reference:

https://vertis.d.pr/VA0BvR
### Technical info
* WordPress version: 5.8
* Plugin version: 3.7.1

[2021-07-21 11:57] irinelenache commented on #561
Didn't find any bug, the plugin is wp 5.8 compatible

[2021-07-22 07:23] girishkrishaweb commented on #563
@irinelenache Could you please let me know the browser name and version where you tested it? Because I have tested it with the latest WP version and 3.7.1 plugin version but I haven't got any issue which you have shown in your screenshot.

[2021-07-22 09:13] irinelenache commented on #563
@girishkrishaweb Sorry, forgot to bring more details. It happens on **macOS Big Sur** 11.2.3 both with **Chrome**(Version 91.0.4472.114) and **Safari**(Version 14.0.3). I tested on browserstack with a Windows 10 machine and it's working fine there.

[2021-07-23 10:19] stefan-cotitosu commented on #556
+1 https://secure.helpscout.net/conversation/1564559949/284821?folderId=2749618

[2021-07-28 10:08] girishkrishaweb opened #565 "[WP 5.8] PHP Notice for the widget block editor"
### Description:
I am getting a PHP error on the widget block editor area when I active plugin.

### How to reproduce:

1. Enable debug log ( define( 'WP_DEBUG', true ) ) in your wp-config.php file
2. Go to a plugin page and active feedzy RSS feeds plugin.

### Expected behaviour:
When I active plugin the error should not be at the widget block area.

### Current behaviour:
Get PHP error on widget

[2021-08-02 12:20] vytisbulkevicius opened #569 "Custom tag is trimmed on save of the import if used inside <iframe>"
### Description:
Custom tags are part of the Premium version of Feedzy, however, as the issue happens even with the Free version of Feedzy and custom tags are trimmed on save reporting it here.

Example of the issue - you want to use the URL of the video and input it to the <iframe> directly as the src of the iframe, however, part of the custom tag is trimmed on save of the import.

Here is the ta

[2021-08-02 12:22] Skystream96 opened #570 "Multiple issues involving the Title Character Limit and the Description Character Limit parameter in the Feedzy Block"
### Description:
There are more issues regarding the Title Character Limit and Description Character Limit parameters when using the Feedzy Block on your website.

1) TCL ( Title Character Limit) and DCL (Description Character Limit) cannot be set back to "Empty" (default) once a number has been inserted. This forces you to use a high number of characters to show the full item title/description or

[2021-08-04 19:20] #561 closed

[2021-08-04 19:43] #556 closed

[2021-08-04 19:43] #549 closed

[2021-08-05 08:31] Skystream96 opened #573 "Displaying Default Thumbnail Image does not show in Block or Shortcode approach"
### Description:
If you are trying to show a default image for a feed that may not contain images, it does not work, either with shortcode or through the block approach.

### How to reproduce:
1. Insert a shortcode with a feed that has items with no images and set the default to a certain image or
2. Insert a Feedzy block with the same feed
3. Go to Settings > Item Image Options > Select Display T

[2021-08-06 09:40] irinelenache commented on #569
@girishkrishaweb I tested it and with the feed provided by @vytisbulkevicius the videos don't load and i get this error in console https://vertis.d.pr/kOkgfR . Is this expected?

[2021-08-06 10:38] girishkrishaweb commented on #569
@irinelenache You should use a youtube embed URL with an iframe to test this.

[2021-08-06 13:31] irinelenache commented on #569
@girishkrishaweb
The feed didn't provide an embed URL but i managed to achieve the result by retrieving only the videoId from the feed.
`<iframe src="https://www.youtube.com/embed/[#item_custom_yt:videoId]"></iframe>`

@vytisbulkevicius If you think this is a good approach, this PR can be merged 👍

[2021-08-09 08:52] poonam279 opened #576 "feedzy_wp_widget block error in widget block editor"
### Description:

I am getting the following error in the widget editor - **The "feedzy_wp_widget" block was affected by errors and may not function properly. Check the developer tools for more details**.

### How to reproduce:

1. Activate the plugin
2. Go to Appearance > Widget
3. Try to add Feedzy widget

### Expected behaviour:
When I add a Feedzy widget, the error should not be at the widget

[2021-08-09 16:14] FitzChris opened #578 "Error reported on Twitter"
Hey,

I have zero extra information, sorry. It was reported on Twitter and I redirected him to the WP.org forums. I asked him to share some steps to reproduce, his setup etc etc.

Unfortunately, all I have is the error message, but I thought you might like to know about it.

Undefined offset: 1 in /***/***/*******/****/****/wordpress/wp-content/plugins/feedzy-rss-feeds/includes/abstract/feedzy-rss

[2021-08-09 20:44] gfg-development opened #579 "PHP warning (Illegal offset type in isset or empty) when $size is an array of integers"
In the function `display_external_post_image` the parameter `$size` can be an array of integers. In the case the function `wp_get_registered_image_subsizes` exists `isset( $_wp_additional_image_sizes[ $size ] )` leads to a PHP warning `Illegal offset type in isset or empty` as the array `$size` is used as key for the array `$_wp_additional_image_sizes[ $size ]`.

[2021-08-10 09:53] irinelenache commented on #576
@poonam279 I couldn't replicate the issue. Is this happening with a specific feed or a specific setup?

[2021-08-10 10:09] girishkrishaweb commented on #576
@irinelenache I can replicate this. You have to follow reproduce steps and here are the screenshot for it.

https://tinyurl.com/yhcmafmx

https://tinyurl.com/yjgu7yqv

[2021-08-11 07:25] girishkrishaweb commented on #578
@irinelenache I can reproduce this issue in my local machine.

**How to re-produce**

1. Activate feedzy-rss-feeds plugin
2. Goto pages tabs
3. Now, Create a page using feedzy shortcode with an empty refresh argument and one white space like:
[feedzy-rss feeds="http://rssfeeds.webmd.com/rss/rss.aspx?RSSSource=RSS_PUBLIC" max ="15" feed_title="no" sort="date_desc" follow="no" refresh=" " title="90"

[2021-08-22 19:58] vytisbulkevicius commented on #569
Hey @irinelenache,

Sorry, I missed the ping, yes we can explain this to the clients + add it to the documentation to use with youtube feeds. Thanks!

[2021-08-30 11:49] Skystream96 opened #586 "Feedzy Elementor Widget dissapeared with the latest update of Feedzy"
### Description:
After updating Feedzy, the option to use the Feedzy Elementor Widget has disappeared from the widget sidebar in elementor. However, rolling back to the previous version seems to work.

### How to reproduce:

1. Install Feedzy and Elementor on your website
2. Edit Page with Elementor
3. Search for the Feedzy Widget
4. Observe that no results come back

### Expected behaviour:
The F

[2021-08-31 08:27] vytisbulkevicius opened #587 "Auto import (cron) is no longer working with the latest version 3.7.3"
### Description:
Since the latest release (3.7.3) version of Feedzy Lite feedzy_cron is no longer importing items automatically.
The cron runs but items are not imported.
If a plugin is rolled back to 3.7.2 items are imported again by the cron.

### How to reproduce:
1. Install the latest Feedzy lite version 3.7.3 and create a cron job  (use this feed, for example - http://rss.cnn.com/rss/edition_

[2021-09-01 10:16] #586 closed

[2021-09-01 10:16] #587 closed

[2021-09-02 13:40] girishpanchal30 opened #591 "Images break with new release - 3.7.4"
### Description:
Version 3.7.4 still breaks the display of images.

### How to reproduce:
1. Go to page/post and add feedzy block with the feed source `https://lpcwest.com/feed/?post_type=news`

### Expected behaviour:
The images should be displayed properly

### Current behaviour:
The images are breaking when display on page.

### Reference:
https://tinyurl.com/ydtjxgab

### Technical info
* Word

[2021-09-02 22:43] vytisbulkevicius opened #593 "Better support with Gutenberg Editor (<br> tag breaks embed videos)"
### Description:
Since we starter supporting Gutenberg editor - https://github.com/Codeinwp/feedzy-rss-feeds/issues/555
It's really easy to add embed Youtube videos like this:
![image](https://user-images.githubusercontent.com/36594177/131924446-b1810e60-f6da-4921-a47b-bfd430e0fc79.png)

This works great and the video is embedded:
![image](https://user-images.githubusercontent.com/36594177/1319245

[2021-09-03 07:23] umm-wdc opened #594 "Automatic import not working in 3.7.3 & 3.7.4"
### Description:

### How to reproduce:

1.
2.
3.

### Expected behaviour:

### Current behaviour:

### Reference:

### Technical info
* WordPress version: x.x.x
* Plugin version: x.x.x

[2021-09-03 09:12] girishkrishaweb commented on #594
@selul I can not reproduce this issue in 3.7.4. Because we have fixed this in 3.7.4

[2021-09-03 13:04] selul commented on #594
@umm-wdc thanks for sharing this out. Can you share more details about the environment?

[2021-09-03 15:27] umm-wdc commented on #594
@girishpanchal30 , even in 3.7.4, the automatic import of posts from feed is not working , I have close to 30feeds out of which only 10 or 15 is running the rest just doesn't run .

[2021-09-03 15:28] umm-wdc commented on #594
@selul , running WP 5.8, elementor pro, hello theme, Feedzy Pro , hosted in WP engine Managed wordpress, any other specific detail you is needed ? please let me know thanks

[2021-09-03 15:36] selul commented on #594
hi @umm-wdc,

Can you get in touch with the support team on store.themeisle.com/contact to help you troubleshoot the issue. Ideally, we would need some access to replicate this on our end, or similar since on my end is working fine.

[2021-09-03 15:36] #594 closed

[2021-09-03 15:48] umm-wdc commented on #594
@selul , raised multiple support request regarding this, but the support seems to take time to respond to this.  Also now when i tried to debug the issue by uninstalling and reinstalling all the imports disappeared. :(

[2021-09-06 05:47] vytisbulkevicius opened #596 "Images are not importing with some feeds in versions 3.7.3 and 3.7.4"
### Description:
It could be related to issue https://github.com/Codeinwp/feedzy-rss-feeds/issues/591 but as behavior of widgets is mentioned there and this one is related to the posts import I'm adding it separately.

With version 3.7.3 and 3.7.4 images are not downloaded and attached as featured images from some feeds.
Example feed - https://valdarno24.it/?cat=sport&feed=rss2
Items have images a

[2021-09-06 06:47] girishpanchal30 commented on #596
The issue has already been fixed in the #591 `bugfix/591` branch. So we need to merge PR - #592

Ref - https://www.awesomescreenshot.com/image/13002538?key=0a68bd170ecd54a32b7157475e81da31

[2021-09-06 07:21] vytisbulkevicius commented on #596
+1 https://secure.helpscout.net/conversation/1616763230/290373/ (to inform the user when a fix is released)

[2021-09-06 07:24] girishpanchal30 commented on #596
@vytisbulkevicius Can I have access to HelpScout?

[2021-09-06 07:52] vytisbulkevicius commented on #596
@girishpanchal30,

We're adding these comments/notes so the support team can inform the clients after a fix is released but in case you need access not for this reason but to get more information and details about the issue reported we can ask Marius.

@selul can we provide the shared HS user that developers user or create a dedicated for @girishpanchal30?

[2021-09-06 13:48] #591 closed

[2021-09-06 13:48] #593 closed

[2021-09-06 13:48] #596 closed

[2021-09-23 16:52] vytisbulkevicius opened #600 "Magic tags that are unavailable with the free version listed in one line (should be a proper list one item per line)"
### Description:
With the Free version of Feedzy unavailable magic tags are listed in one line like this:
![image](https://user-images.githubusercontent.com/36594177/134549982-b6e1703c-6e5a-418c-8b61-567999b23d26.png)

It doesn't look good and we need to keep it as a proper list (one item per line):
![image](https://user-images.githubusercontent.com/36594177/134550193-1314563a-a9bd-4f88-bc41-2b3b1

[2021-09-24 12:01] stefan-cotitosu opened #602 "Typo in the import setup"
### Description:

When opening an import job, it can be either a new one or an existing one, there is a typo in the **External Image URL?** field.

It should be _**use** external image URL_ or _**uses** external image URL_

The current version is _Use**r** external image URL_

![Markup on 2021-09-24 at 14:57:10](https://user-images.githubusercontent.com/26867648/134670561-32e05b13-c93c-420c-a861-2

[2021-10-13 07:36] a-schild opened #607 "Deprecated warning showing on page"
### Description:
When embedding a feed on a WP page, then we see a deprecation warning before the posts are displayed.

`Deprecated: implode(): Passing glue string after array is deprecated. Swap the parameters in /home/httpd/vhosts/kgnidau.ch/ref-nidau.ch/wp-content/plugins/wp-rss-retriever/inc/lib/simplepie/library/SimplePie/Parse/Date.php on line 544 Deprecated: implode(): Passing glue string a

[2021-10-13 10:46] vytisbulkevicius commented on #607
Hi @a-schild,

Looking at the errors that you shared the error is coming from the plugin: **_wp-rss-retriever_**
https://wordpress.org/plugins/wp-rss-retriever/ and not **Feedzy**.

Could you disable the mentioned plugin and use **Feedzy**?
https://wordpress.org/plugins/feedzy-rss-feeds/

[2021-10-14 11:08] alvarini opened #608 "Custom field not added correctly"
### Description:
After adding the meta keys and feedzy tags the custom post type is not updated correctly

### How to reproduce:

1. Add a new import
2. Use a Custom post type
3. Add custom meta fields

### Expected behaviour:
To have linked the metafield with the tag content
### Current behaviour:
The tag field is shown
### Reference:
<img width="533" alt="Screenshot 2021-10-14 at 13 06 33" src="

[2021-10-14 11:27] alvarini commented on #608
Okay sorry for the confusion

[2021-10-14 11:27] #608 closed, assigned to nobody

[2021-10-17 06:20] leac opened #609 "Vendor folder?"
I see that in the WordPress plugin repository, the plugin has a directory called vendor, but in the GitHub repository I don't see that directory.

[2021-10-17 16:07] selul commented on #609
Hi,

yes, this is generated by the composer for the PHP dependencies which are not tracked by GitHub. For their list you can check the composer.json file.

[2021-10-17 16:07] #609 closed

[2021-10-20 07:35] Skystream96 opened #611 "Show the Import Job Title where a particular post was imported from"
### Description:
At the moment, if you use the Feed to Post feature, there is no way to tell which post was imported from which feed. Thus, if you have 10 import jobs with 20 feeds imported by each, you won't be able to tell where they are coming from which can be frustrating when you want to delete posts from a specific import job.

### Alternatives:
A way to implement this would be to make the I

[2021-10-22 09:16] irinelenache opened #613 "Default thumbnail image doesn't work when external image url is used"
### Description:

When i have an image set as **Default thumbnail image** in feedzy settings, using [external image URL](https://vertis.d.pr/nWFTVV) option, makes the items without images to inherit [feedzy's default image](https://vertis.d.pr/0hM2Gn).
### How to reproduce:

1. In feedzy settings, set an image as **default thumbnail**
2. Create an import with this URL https://www.nytimes.com/svc/c

[2021-10-28 13:38] girishpanchal30 opened #615 "Style missing for the input fields of setting form"
### Description:
For the setting form feedzy, The style of the inputs are different. I can see that first 3 fields are not getting style from plugin style.

### How to reproduce:
1. Go to feedzy setting
2. Click to proxy tab

### Expected behaviour:
All the input fields should be same stylewise in feedzy setting form.

### Current behaviour:
The style isn't matched for all the fields in the settin

[2021-11-03 17:58] vytisbulkevicius opened #617 "Images are not shown with using shortcode (behavior inconsistent)"
### Description:
This is a bug that happens not all the time but from time and based on my tests happens on a fresh instance.
I think the same behavior occurs when the feed is refreshed/has new items.

This is the shortcode used for testing:
`[feedzy-rss feeds="https://radio.securenetsystems.net/dx/get_podcasts_connect.cfm?stationCallSign=MRSPEAKER&pcId=254" max="4" offset="0" feed_title="no" refr

[2021-11-03 19:47] vytisbulkevicius opened #618 "Feedzy shows up as invalid on clients website"
### Description:
We're not able to replicate the issue but the issue occurs on client website - no feed can be saved as the source for the import job.

Originally client reported this feed as the problem on his website - https://www.inoreader.com/stream/user/1004769573/tag/Quesri
However, I tried other feeds and on his website no import can be saved, all the feeds are failing with the same error -

[2021-11-12 07:15] girishpanchal30 commented on #617
@vytisbulkevicius

I have tried to reproduce the issue without and with a cron job but, I couldn't reproduce this in my local and test environment.

@irinelenache Could you try to reproduce it?

[2021-11-12 08:37] irinelenache commented on #617
@girishpanchal30 I couldn't reproduce it on a jurassic instance, but i managed to do it on tastewp https://vertis.d.pr/aHdieQ

You can check it here:
[code]

For reproduction, i only created the default tastewp instance, installed feedzy and created a post with the mentioned shortcode

[2021-11-15 12:49] girishpanchal30 commented on #617
@irinelenache @vytisbulkevicius The feed URL is working on a test environment now, the issue was related to iTunes feed URL.
Ref - https://unpackcow.tastewp.com/?page_id=14
Ref - https://tinyurl.com/yeqe3lxs

[2021-11-15 13:46] irinelenache commented on #617
@girishpanchal30  Thanks for checking 👍 Can something be done so the issue won't happen again?

[2021-11-16 06:22] girishpanchal30 commented on #617
@irinelenache This issue is related to the iTunes feed source where the images are missing sometimes, so we can't fix it without replicating the actual issue. I hope it does make sense for you as well.

[2021-11-16 08:13] vytisbulkevicius commented on #617
Hm, to me it didn't look like that. I checked if the feed thas images and I saw images there but when I created a new widget images there not showing up, after some time and refreshing the page made them show up but the structure of the feed hasn't changed.

@girishpanchal30,
I tried to create a new test instance now and images are not showing up - https://vertis.d.pr/uYQk3A
But they are available

[2021-11-16 11:37] vytisbulkevicius commented on #617
Items started appearing as I said after some time now: https://vertis.d.pr/GFIuPf (I haven't made any changes, nor the feed's structure changed). Just refreshed the same page after a few hours and it works now.

[2021-11-16 13:10] girishpanchal30 commented on #617
@vytisbulkevicius Due to the large image size, we can't show images within the block. I have checked this feed URL with the podcasts feed validator tool and it returns **Your image is too large** in the artwork test. https://castfeedvalidator.com/

Ref - https://tinyurl.com/yex6xces

[2021-11-16 13:45] vytisbulkevicius commented on #617
@girishpanchal30,

But why does it show up then now after some time - https://vital-copperhead.jurassic.ninja/2021/11/16/5/ if images are too big?

And even you provided an example above where it worked for you so if it's not working all the time that would make sense and explain it, however, why it works after some time and then stops working again (according to the client after some time which I

[2021-11-16 13:49] girishpanchal30 commented on #617
@vytisbulkevicius We are on it and will update you soon

[2021-11-17 11:17] girishpanchal30 commented on #617
@vytisbulkevicius Can you please provide another iTunes feed source URL? So I can compare it with the existing iTunes feed URL.

[2021-11-17 12:36] vytisbulkevicius commented on #617
Hi @girishpanchal30,

I found this one - https://bbemusicpodcasts.podomatic.com/rss2.xml
also this one - view-source:https://chrisc416podcast.podomatic.com/rss2.xml

[2021-11-18 08:49] girishpanchal30 commented on #617
@vytisbulkevicius I have checked the feed URL and found that the `xmlns:itunes` namespace URL with HTTPS but it should be HTTP only see the URL  `iTunes RSS feed`.
`<rss version="2.0" xmlns:itunes="https://www.itunes.com/dtds/podcast-1.0.dtd">` it should be `<rss version="2.0" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd">`

Ref - https://tinyurl.com/yemfxytp

I have tested in my local

[2021-11-18 15:15] vytisbulkevicius commented on #617
Hi @girishpanchal30,

Great finding, I will let the client know and maybe he's able to contact the authors to make the change.
It's still weird to me why those images appear after some time if the problem is with the feed but let's see how it goes, we haven't received other complaints about this yet.

Let's keep this issue open for a little longer in case something new pops up, thank you!

[2021-11-18 15:24] vytisbulkevicius opened #621 "Read More using [#item_url] should be opening a link in a new tab"
### Description:
Based on my findings and understanding it's a minor bug but I might be missing something in the code.
So, if the user wants to have a Read More button somewhere in the content that opens the URL of the source they can add **[#item_url]** magic tag like this:
https://vertis.d.pr/ohql9h

In my opinion, the default behavior should be to open a link in a new tab and if I check the cod

[2021-12-20 08:20] #615 closed

[2021-12-20 08:20] #621 closed

[2021-12-20 08:20] #613 closed

[2021-12-20 08:20] #611 closed

[2021-12-21 12:23] vytisbulkevicius opened #625 "Custom refresh rate for modern Feedzy widget"
### Description:
We already had a custom code for this feature, however, it stopped working.
Here is the documentation:
https://docs.themeisle.com/article/1159-changing-the-caching-time-interval-in-feedzy-widget

The code that was working before:
[code]

We noticed that it's no longer working and giving this error in the widgets section:
![image](https://user-images.githubusercontent.com/36594177/

[2022-01-04 07:28] girishpanchal30 commented on #625
Hello, @vytisbulkevicius We can't use the existing PHP filter in Gutenberg block javascript code.
Ref - https://github.com/Codeinwp/feedzy-rss-feeds/blob/master/includes/gutenberg/src/inspector.js#L116

I have added a new filter for the Gutenberg block so users can change feed caching time.

Here code:

[code]

cc @cristian-ungureanu
Thanks

[2022-01-05 15:21] vytisbulkevicius commented on #625
Hi @girishpanchal30,

I've downloaded the build and it works as expected (the refresh times appears) in the widgets section:
https://vertis.d.pr/XWLqrG

But even a more common usage is to use Feedzy block when creating Posts/Pages and it doesn't seem to affect refresh times there: https://vertis.d.pr/XWLqrG

Can we make the code universal so it affects the Feedzy block in any place wherever it's a

[2022-01-06 05:36] girishpanchal30 commented on #625
Hello, @vytisbulkevicius The above filter also apply in Posts/Pages

Ref: https://tinyurl.com/y4zdf569

Thanks

[2022-01-06 22:38] vytisbulkevicius opened #628 "Feedzy widget missing in Elementor editor since Elementor's version 3.5"
### Description:
Feedzy widget is no longer available in Elementor if you upgrade to Elementor 3.5 or later [latest one is 3.5.3]:
https://vertis.d.pr/HY6S64

If you roll back to Elementor 3.4.8 (the version before 3.5) it works:
https://vertis.d.pr/QoksFJ

_Rolling back Feedzy version doesn't fix it so it doesn't look like caused by some change that we recently made when solving this one:
https:/

[2022-01-07 05:12] girishpanchal30 commented on #628
Hello, @vytisbulkevicius I have checked and found the feedzy widget is available in the WordPress category, but I have noticed the Elementor search widget excludes the WordPress category in the latest version.

Ref: https://tinyurl.com/yyvoop6n

Thanks

[2022-01-07 09:53] vytisbulkevicius commented on #628
Hi @girishpanchal30,

Thank you for your finding, I see it there now also.
I also checked Elementor's notes for that release here - https://wordpress.org/plugins/elementor/#developers
And it should related to: https://vertis.d.pr/d2TxKk

The question here, maybe it's possible to change the way our plugin adds itself to Elementor's sidebar?
Because I tried to install another plugin WpForms - https:

[2022-01-07 10:40] girishpanchal30 commented on #628
Hello, @vytisbulkevicius WpForms plugin widget does not register with the default WordPress widget method, it registers using the custom elementor widget method with `Basic Category` category, so it displays and searchable.

Also, we have already registered feedzy elementor widget for Pro plugin users only.

Here - https://github.com/Codeinwp/feedzy-rss-feeds-pro/issues/233
Ref - https://tinyurl.c

[2022-01-07 11:14] vytisbulkevicius commented on #628
@girishpanchal30,

So maybe we should also use Basic category to make Feedzy widget available in search? This will prevent confusion from users when they can't find the widget.

Yes, I'm aware of Feedzy Loop available for PRO version but it does not replace the Feedzy widget, it's additional functionality that allows creating a custom template that could be later used with Feedzy widget to show co

[2022-01-07 13:15] girishpanchal30 commented on #628
Hello, @vytisbulkevicius The basic category is part of elementor widget, We couldn't change the widget category directly.

We can contact elementor support for this issue in the latest release

cc @cristian-ungureanu

Thanks

[2022-01-07 13:26] cristian-ungureanu commented on #628
@girishpanchal30 so from my understanding the widget does not appear because it's registered via WP_Widget and Elementor is not indexing them anymore.  I think we could check and see what changed in Elementor, maybe we can use a filter to add it back.
If that's not working I think we can create a dedicated widget for Elementor https://developers.elementor.com/docs/widgets/

[2022-01-10 09:33] girishpanchal30 commented on #628
@vytisbulkevicius Fixed the Elementor search widget issue, Please check and verify.

cc @cristian-ungureanu
Thanks

[2022-01-10 12:56] vytisbulkevicius commented on #628
@girishpanchal30,

Thank you! I've checked with the new **build** and I see Feedzy widget in the search: https://vertis.d.pr/ZNKO0Q 👏

[2022-01-12 07:53] irinelenache commented on #625
@girishpanchal30 Tested the filter and it is not applied when creating a post/page. Let me know if any more steps are required in order to make it work.

[2022-01-12 08:50] girishpanchal30 commented on #625
@irinelenache Can you share test instance login details?
Thanks

[2022-01-12 08:58] irinelenache commented on #625
@girishpanchal30
[code]

[2022-01-12 09:56] girishpanchal30 commented on #625
@irinelenache Here is the updated filter:
[code]

[2022-01-12 12:32] irinelenache commented on #625
@girishpanchal30 Tested again and now the filter works as expected, thanks 👍

[2022-01-19 16:16] mghenciu opened #632 "Title trimming for Elementor & Gutenberg not consistent & not working as it's said"
### Description:

When using Feedzy in Elementor, there is an option to _Trim the title of the item after X characters_, and this option also says that '**A value of 0 will remove the title**', but when setting the 0 value -> the Title is still visible.
### Elementor:
<img width="1973" alt="Screenshot 2022-01-19 at 18 00 08" src="https://user-images.githubusercontent.com/52494172/150168516-3da6972

[2022-01-28 11:41] #632 closed

[2022-01-28 11:41] #628 closed

[2022-01-28 11:42] #625 closed

[2022-01-28 15:30] Skystream96 opened #636 "Question: Can we check the feed asynchronously so the page doesn't have to wait for the feed?"
### Description:
There is one user that reported that he is using a slow feed which in turn leads to a slow rendering of the page where the feed is used because Feedzy is waiting for the content to be fetched before displaying. I do have to mention that he is using the display feature, not the feed to post one.

The user reported:
**_I don’t think you have to check feeds synchronously on every cal

[2022-02-01 10:21] girishpanchal30 opened #638 "[WP 5.9] Style broken on twentytwentytwo theme"
### Description:
If we activate a new WordPress theme( twentytwentytwo ) then feedzy rss template is not visible properly in the frontend.

### How to reproduce:
1. Go to Pages/Posts.
2. Click to add a new page and insert feedzy rss Gutenberg block.
3. Save and click to preview button.

### Expected behaviour:
Plugin style template should be visible properly.

### Current behaviour:
Plugin style t

[2022-02-02 07:37] girishpanchal30 commented on #636
@Skystream96 What do think if we implement a background lazy load image?
Ref: http://jquery.eisbehr.de/lazy/example_load-background-images
Thanks

[2022-02-02 08:04] Skystream96 commented on #636
Hello @girishpanchal30 ,

Well, that would be good too although I personally prefer the "Loading" spinner that you can also customize. Since we already have a lazy load feature, maybe we could implement a message when checking the feeds that will say "This feed has high load times that might result in a slow page. We suggest eliminating it or replacing it with a better one"

Would this be feasible

[2022-02-02 08:55] vytisbulkevicius commented on #636
Hi @girishpanchal30,

I agree with your suggestion to have lazy-loading images just to make it optional, of course, not hardcoded as some users might not like it.

What @Skystream96 mentioned also makes sense to make a notification for the admin user that this feed is making the website slow but only if it's a small quick-change for you as I don't think it's a big change we need to put many resour

[2022-02-02 10:09] girishpanchal30 commented on #636
@vytisbulkevicius

Sure, We can add a new global setting field here(https://tinyurl.com/y79ghw7e) so users can enable lazy load images, by default setting is disabled.

I doubt that we can identify whether the feed is taking more load time or not.

Thanks

[2022-02-02 10:44] vytisbulkevicius commented on #636
@girishpanchal30,

Good, no need for the 2nd point them about evaluating the time feed will take to load. ✅

Regarding the lazy-loading for images, have you added this setting in this area just because it's the only place we can control something globally? I just want to be sure we're on the same page and we're talking about Feedzy block/shortcode functionality and not the imported posts because i

[2022-02-02 11:11] girishpanchal30 commented on #636
@vytisbulkevicius I understand your opinion, I think we need to add new setting support here...

1) Widget - https://tinyurl.com/yapms368
2) Block - https://tinyurl.com/yau8jw5u
3) [feedzy-rss feeds="https://s3.amazonaws.com/downloads.themeisle.com/sample-feed-import.xml" lazy-images="yes|no"]

[2022-02-02 11:49] vytisbulkevicius commented on #636
@girishpanchal30,

I agree that this way it's better and more clear. We can document this new feature after it's released. Thank you.

[2022-02-03 06:14] girishpanchal30 commented on #636
Hello, @vytisbulkevicius as per our discussion I have added lazy load image support.

Added a new setting field here.

Block - https://tinyurl.com/ya6bq34a
Widget - https://tinyurl.com/y8qobk2b
ShortCode - [feedzy-rss feeds="https://s3.amazonaws.com/downloads.themeisle.com/sample-feed-import.xml" **lazy-images="yes|no"**]

PR - Codeinwp/feedzy-rss-feeds/pull/640, Codeinwp/feedzy-rss-feeds-pro/pull

[2022-02-07 19:58] vytisbulkevicius opened #641 "Warning is printed when filter for Item Full content is used and no items found for the import"
### Description:
A client reported that the error log file in his server gets really big because of the error printer by Feedzy constantly.
The error is:
`[07-Feb-2022 19:48:07 UTC] PHP Notice:  Trying to access array offset on value of type null in /finickyhair/wordpress/wp-content/plugins/feedzy-rss-feeds/includes/abstract/feedzy-rss-feeds-admin-abstract.php on line 1805`

I managed to replicate

[2022-02-11 11:35] irinelenache commented on #636
@girishpanchal30 Tested and the feature seems to work fine, except for the feedzy shortcode.

You can check here, the **feedzy-lazy-img** class is not present for the images in the post.
[code]

[2022-02-11 12:43] girishpanchal30 commented on #636
@irinelenache Please use this shortcode attribute `lazy_images="yes|no"` instead of `lazy-images="yes|no"`
Sorry for this I have added the wrong shortcode attribute in my previous comment.

[2022-02-11 13:37] irinelenache commented on #636
@girishpanchal30 Tested again and i see that the lazy load is working fine with the shortcode too, thank you 👍

[2022-03-09 22:57] vytisbulkevicius opened #645 "Valid feed shows up as invalid when used as part of Feedzy category"
### Description:
A few users reported that feeds from http://feeds.feedburner.com appear as invalid when used in Feedzy as widget.
I was able to replicate the issue and it only happens if you're creating a Feedzy category by using that feed (alone or in a combination with others): https://vertis.d.pr/cryl4C

Example feed - http://feeds.feedburner.com/EarlyRetirementExtreme

Now, if you go to Appea

[2022-03-16 11:10] selul commented on #636
@girishpanchal30 I realized now that is not something that I would add in the plugin:

- Lazy load of images is a whole topic and adds a lot of complexity, which is not in the scope of what feedzy can offer. Implementing a lazyload for images mechanism when there are numerous plugins that people can have to use lazyload looks like over-engineering and is not something that I would add in the plugi

[2022-03-16 11:11] selul commented on #636
@vytisbulkevicius @Skystream96 please review this and keep in mind when such decisions are made in the future.

[2022-03-16 11:21] #638 closed

[2022-03-16 11:21] #641 closed

[2022-03-16 11:39] girishpanchal30 commented on #636
@selul In our plugin structure, the images come as a background image and those are not in img tag where a default lazy loader needs img tag.
See this is an example: https://github.com/Codeinwp/feedzy-rss-feeds/commit/4467e138752ed3e1ee70fe2e9f3f0d3aeea9e6a9#diff-5ed08dc376008699ed28840a8f1f2e149073a6ccc4b0dcf043edc036754f995dR1305

[2022-03-16 12:12] selul commented on #636
@girishpanchal30 thanks for the reminder, I totally forgot about this.

In this case what I would do is to implement for images content visibility: auto using some CSS class. For more details see https://developer.mozilla.org/en-US/docs/Web/CSS/content-visibility

Also, another thing related to the lazyload implementation that you used is the fact that we load a 3rd party script from an external d

[2022-03-17 13:15] irinelenache opened #648 "Emoji is imported as featured image when no image is found in a post"
### Description:

Came across this issue while i was testing something else. When i try to import a feed item that doesn't contain an image, and contains one emoji in its content, the emoji gets imported as item image. (Happens both on Feed to post and Feedzy widget)

This is the item: https://vertis.d.pr/JBEBlf
This is how it gets imported: https://vertis.d.pr/WGnUoK
This is the feed: http://feed

[2022-03-22 06:00] girishpanchal30 commented on #636
@selul Should I load the script locally instead of using CDN URL Right?
Thanks

[2022-03-22 07:43] selul commented on #636
@girishpanchal30 as I mentioned, we don't need to implement any lazyload based on a 3rd party script and use standard HTML/CSS to improve this. For bg images, we can experiment with content-visibility prop.

[2022-03-22 08:40] girishpanchal30 commented on #636
@selul Okay, I'll check the HTML/CSS method and update you here.
Thanks

[2022-03-23 07:36] girishpanchal30 commented on #636
@selul I have removed 3rd party script and added content-visibility: auto support for feed images.
I have checked rendering statistics in the chrome performance tool. Please check and do let me know if you have any issues.

Thanks

[2022-03-23 08:04] selul commented on #636
@girishpanchal30 looking good

[2022-04-06 21:51] m-vdv opened #650 "Feedzy tags and Elementor Dynamic tags"
### Description:
Feedzy feed item tags are not properly displayed in Elementor when using Feed to Post.

### How to reproduce:
1. Install Elementor, Elementor Pro, Feedzy & Feedzy Pro with Elementor Hello theme.
2. Import a Feed through Feedzy > Import Posts (Feed to Post)
3. Create a Single post template in Elementor
4. Add an Elementor widget with Dynamic tag support
5. Select Dynamic tag: Feedz

[2022-04-07 04:43] girishpanchal30 commented on #650
@m-vdv Feedzy tags work only if Elementor template is Feedzy Loop. Please create a template using Feedzy Loop then you can use the template in a single post.

Please follow this document: https://docs.themeisle.com/article/1396-elementor-compatibility-in-feedzy
Do let me know if you have any query.

Thanks

[2022-04-25 19:06] purplecodes opened #652 "Video thumbnail is displayed instead of image from the description element"
### Description:
The feed is displayed using the shortcode method. When the feed contains a media, i.e YouTube video, and the **<media:thumbnail>** tag is available - this will be the one displayed as the thumbnail image and not the image within the description element.

Feed: https://my.sjcme.edu/home/feed/

### How to reproduce:

1. Create a new post and add the Feedzy RSS block
2. Enter the fee

[2022-04-25 20:45] vytisbulkevicius commented on #652
To add additional context here, for me it's not clear the reason behind the result not that it's wrong. We use SimplePie with Feedzy and if we check the same feed in simplePie demo here:
http://simplepie.org/demo/?feed=https%3A%2F%2Fmy.sjcme.edu%2Fhome%2Ffeed%2F

We see that image from the description is being taken: https://vertis.d.pr/aphhQT

So I wouldn't say which case is good or bad as other

[2022-04-26 05:50] girishpanchal30 commented on #652
Hello @vytisbulkevicius,

I have fixed the display image issue. Please check and do let me know if you have any issues.

Thanks

[2022-04-26 14:40] purplecodes commented on #652
I tested this and it is now the displaying the correct image.
Thanks.

cc: @vytisbulkevicius , @girishpanchal30

[2022-05-06 08:23] poonam279 opened #654 "Deprecated functions error messages with PHP 8.1"
### Description:

Feedzy plugin is throwing several warnings with PHP 8.1

[code]

### How to reproduce:

1. Create an instance with PHP 8.1
2. Use Feedzy Block to show feeds or create an import

### Expected behaviour:

There should be no warnings

### Current behaviour:

There are several warnings with Feedzy block and import

### Reference:

Screenshot of error >> https://vertis.d.pr/n6zCjP
Pag

[2022-05-22 21:53] vytisbulkevicius opened #655 "Category added as a source to Feedzy block appears as invalid after page refresh in dashboard"
### Description:
If you create a category in Feedzy, even if you add only one valid XML RSS Feed URL, once that category is used for Feedzy block it appears as invalid after you refresh the page.

Here is a screencast about it: https://vertis.d.pr/ZwQIOS (in front-end it works fine, the issue happens in the dashboard only)

Feed to try: http://dailycoffeenews.com/feed/

**If you try the same Feed

[2022-05-24 12:11] girishpanchal30 commented on #650
@m-vdv

As per the document (https://docs.themeisle.com/article/1396-elementor-compatibility-in-feedzy)

 Feedzy tags works with Feedzy Loop Template Only. So I have did modification in feedzy tag. so now feedzy tags will only display if Elementor template is  "Feedzy Loop" it will not display if you choose single post or any other template from Elementor.

 for details refer below video link.
[(h

[2022-06-06 06:28] girishpanchal30 commented on #655
@vytisbulkevicius
I have already fix it. So please test it with below ticket. Please test and let me know if facing any issue.
https://github.com/Codeinwp/feedzy-rss-feeds/issues/645

[2022-06-06 10:18] vytisbulkevicius commented on #655
@girishpanchal30,
Indeed, it's fixed there already, been a while since that issue was raised so forgot about it. Thanks!
Closing this one as it's a duplicate.

[2022-06-06 10:18] #655 closed

[2022-07-14 05:51] #645 closed

[2022-07-14 05:51] #648 closed

[2022-07-14 05:51] #650 closed

[2022-07-14 05:51] #652 closed

[2022-07-14 05:51] #654 closed

[2022-07-14 05:58] #636 closed

[2022-07-15 12:01] mghenciu opened #658 "Change the Red color after a Import Job is successfully run"
### Description:

Right now the Color is red, for the text, which makes it look like an error:
![image](https://user-images.githubusercontent.com/52494172/179217904-25af53af-bba2-43a2-bbdf-279d48c66309.png)

Lets change the text color to **a Succes color**: #246B3B

### Alternatives:

[2022-07-17 10:43] AndreeaCristinaRadacina opened #659 "Typo in Import Posts > Map content"
In the Map content step of the wizard, the "Map content" structure appears in front of the description of the step as well:
<img width="1194" alt="image" src="https://user-images.githubusercontent.com/86592992/179394609-b45299b0-bc26-4a5f-94fc-505d91cf6eea.png">
Is it the desired look?

[2022-07-19 06:47] #659 closed

[2022-07-26 10:22] ineagu opened #664 "testing up to not updated"
### Description:
The testing up to tag was not updated which cause lower rankings in w.org repo and fewer installs.

### How to reproduce:

https://wordpress.org/plugins/feedzy-rss-feeds/#developers

### Expected behaviour:

This should be always updated after a major wp release.

cc @girishpanchal30

[2022-08-02 14:27] #664 closed

[2022-08-10 09:06] MarinescuLucia opened #667 "Feedzy icon not visible with the Classic Editor plugin"
### Description:

If the Classic Editor plugin is used, the Feedzy icon can't be seen in the bar even though it is there and it can be clicked and the functionality of displaying the feed items is working properly. A square and the Feedzy Lite tag appear only when you hover on that space.

### How to reproduce:

1. Install the Classic Editor plugin
2. Open a page and check the bar from the classic

[2022-08-10 10:30] girishpanchal30 commented on #667
Hello @MarinescuLucia,
I have fixed the TinyMce UI issue, Please check and verify.

Before: https://tinyurl.com/2mlon7uf
After: https://tinyurl.com/2za73pb4

cc @irinelenache
Thanks

[2022-08-10 13:38] MarinescuLucia commented on #667
@girishpanchal30 Checked it and it is displayed properly now. Thank you!

[2022-08-16 12:45] irinelenache opened #669 "Duplicated upsell card in support section"
### Description:

There is a duplicated upsell card in the support section of feedzy, in dashboard https://d.pr/XW9xUY
### How to reproduce:

1. Install feedzy and go to Dashboard > Feedzy > Support

### Expected behaviour:
The card should not be duplicated
### Current behaviour:
The card is duplicated
### Reference:

https://d.pr/XW9xUY
### Technical info
* WordPress version: 6.0.1
* Plugin versi

[2022-08-16 14:47] girishpanchal30 commented on #669
Hey @irinelenache,

I have removed the duplicate card and added a new card( Spintax Text ).
Also, I have changed some duplicate learn more links, please check and do let me know if you have any issues.

Thanks

[2022-08-17 07:00] irinelenache commented on #669
@girishpanchal30 Everything's fine now, thank you 🚀

[2022-09-05 15:41] vytisbulkevicius opened #672 "Compatibility issue related to Jnews-essential plugin"
### Description:
Client reported an issue that none of the dropdowns in Feedzy import settings are working - clicking them does nothing.
After further investigation, I found out that the issue is related to one of his plugins - **Jnews-Essential.** (attached link to download the plugin below in this issue)

Clicking the dropdown does nothing:
<img width="272" alt="image" src="https://user-images.g

[2022-09-08 16:45] selul opened #675 "enter on gutenberg block should load the feed"
### Description:
Right now if I want to use the Feedzy block I need to click on load feed btn to load the feed.
We can look into adding enter key support and whenever the user presses ENTER key, to load the feed.

[2022-09-08 16:46] selul commented on #675
Same thing on the import screen https://vertis.d.pr/xrfpV0, clicking enter should behave the same as clicking plus icon.

[2022-09-09 06:51] #658 closed

[2022-09-09 06:51] #667 closed

[2022-09-09 06:51] #669 closed

[2022-09-09 06:51] #672 closed

[2022-09-09 15:00] selul commented on #675
@girishpanchal30 reading the code change you have added this to gutenberg block only, not to the import screen. Can you add to the import screen too, ie:
https://github.com/Codeinwp/feedzy-rss-feeds/issues/675#issuecomment-1240965857

[2022-09-12 04:29] girishpanchal30 commented on #675
@selul It seems working from my end. You can check the code here - https://github.com/Codeinwp/feedzy-rss-feeds/blob/development/includes/views/js/import-metabox-edit.js#L247
Can you please provide system/browser details so I can check quickly?

Thanks

[2022-09-12 09:46] selul commented on #675
@girishpanchal30 thanks, I confused things here, for import there is another thing that we can do better:
- clicking on validate should add the feed automatically
- moving out of focus should automatically consider the feed.

Basically, the issue right now is that I'm adding the feed and unless I click the plus icon or enter, the feed is not saved.

[2022-09-12 11:33] girishpanchal30 commented on #675
@selul Fixed/Applied your suggestions, please check with the latest commit.

Thanks

[2022-09-13 11:39] vytisbulkevicius opened #677 "Feedzy cache is not working for the widget"
### Description:
Client reported that if he sets a specific cache time for a feed in the widget:
<img width="229" alt="image" src="https://user-images.githubusercontent.com/36594177/189891095-b880d8e1-216c-464c-b7da-9dd1ba87a0b0.png">

it's being ignored and they see the data being changed after a few hours.

I tried to replicate this myself and it's not working as expected, I set the cache to 15

[2022-09-14 10:07] vytisbulkevicius commented on #677
@girishpanchal30,

I confirmed that I see the same timestamp in the database, which looks to be set correctly when I saved the widget. I checked the timestamp and also see 15 days, however, it doesn't look to be working.

I set the new widget with a feed here - https://feedzy.s.themeisle.com/testpage/
I set it to be refreshed after 15 days but I was constantly checking the page with refreshing it

[2022-09-14 12:59] girishpanchal30 commented on #677
Hey @vytisbulkevicius,
I have fixed this issue, please check with this PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/678

Thanks

[2022-09-15 11:42] mghenciu opened #679 "Text duplicated on the Help us Improve Tab"
### Description:

This text appears twice in the same box: _If your feedback is especially helpful and we choose to do an interview with you to discuss your suggestions, you will even gain a yearly membership for free for your trouble._

![Screenshot 2022-09-15 at 12 24 44](https://user-images.githubusercontent.com/52494172/190394568-fc51fad8-56eb-458c-9e6f-183f2c226ce8.png)

### How to reproduce:

[2022-09-15 15:09] irinelenache commented on #677
@girishpanchal30 Tested the fix and looks like it works fine for me 🚀

[2022-09-16 08:40] irinelenache commented on #679
@girishpanchal30 The duplicated text is fine now 👍

[2022-09-19 14:25] mghenciu opened #681 "Minor upsell improvements"
### Description:

While working on the Amazon integration, I noticed a few things that can be improved:

- [x] **Upsell section in Elementor**
 Here the idea of the section is to upsell Feedzy Pro, and have a link to the docs - as a secondary action.
 Right now the learn more button points to the Docs
<img width="1287" alt="Screenshot 2022-09-19 at 17 15 29" src="https://user-images.githubusercont

[2022-09-22 12:44] selul commented on #681
@girishpanchal30 yes, if we can remove the old one from listing and keep it working for users that use it, would be good.

[2022-09-23 07:25] girishpanchal30 commented on #681
@mghenciu @selul I have removed the legacy widget as per your suggestion.

Thanks

[2022-09-23 10:18] irinelenache commented on #681
@girishpanchal30 Tested and everything seems to work fine, found a small thing only:

- [ ] Now in the elementor widget, the feedzy docs link is also [a button](https://vertis.d.pr/DLQ4t8). @mghenciu can you confirm if this is/isn't the desired behaviour?

[2022-09-23 10:21] girishpanchal30 commented on #681
@irinelenache it seems cache issue, please do a hard refresh

[2022-09-23 10:34] mghenciu commented on #681
The Docs link should be a **text link**, not a button  @girishpanchal30

[2022-09-23 10:35] girishpanchal30 commented on #681
@mghenciu  On my end, it's looks like this - https://tinyurl.com/2lx3a3re

[2022-09-23 11:05] irinelenache commented on #681
@girishpanchal30 @mghenciu I checked again on incognito mode and it works fine actually, thank you for checking 👍
Will move this to **Ready to merge** 🚀

[2022-09-23 16:19] kushh23 opened #683 "External Image feature is not working correctly."
### Description:
When you use the External Image feature for posts imports on feedzy then you will observe that the thumbnail images loaded on the post archive page will have a distorted size (irregular than the normal featured images).

Note: I already checked this issue with multiple RSS feed URLs.
### How to reproduce:

1. Install feedzy and create a New feedzy feed by using any RSS feed of you

[2022-09-26 06:48] girishpanchal30 commented on #683
Hey @kushh23

Fixed external image size issue. Please check with this PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/684

Thanks

[2022-09-26 10:41] kushh23 commented on #683
Hey @girishpanchal30,

I Checked the PR and this issue has been fixed!

Thanks

[2022-09-27 12:58] #675 closed

[2022-09-27 12:58] #677 closed

[2022-09-27 12:58] #681 closed

[2022-09-27 12:58] #683 closed

[2022-09-27 12:58] #679 closed

[2022-09-27 12:58] #617 closed

[2022-10-01 07:30] selul opened #686 "possible fatal error when removing the legacy widget support for elementor"
### Description:
https://wordpress.org/support/topic/fatal-error-instead-of-404-page/

Seems like the checks you have added @girishpanchal30 can be reviewed.

[2022-10-01 07:35] selul opened #687 "possible cache duration issue"
### Description:
We have this doc that instructs users on how to change the caching https://docs.themeisle.com/article/942-in-feedzy-how-do-i#lifetime-cache

One user reported that is no longer the filter value https://wordpress.org/support/topic/version-4-0-3-breaks-caching-4-0-2-works-fine/ and looking at the code from  #678  I think he might be right, so we need to investigate this.

If an issu

[2022-10-03 05:33] girishpanchal30 commented on #687
Hey @selul,

I have checked and fixed this issue. I think no need to add a PHP unit test for the filter test.

I've made changes as per the WordPress core. Please review and do let me know if you have found any issues.
Ref: https://github.com/WordPress/wordpress-develop/blob/trunk/src/wp-includes/feed.php#L817

Thanks

[2022-10-03 09:51] irinelenache commented on #686
@girishpanchal30 @selul I couldn't reproduce the issue but made some tests with the Elementor widget and some feeds and everything seems to work fine with the PR

[2022-10-03 10:53] irinelenache commented on #687
@girishpanchal30 Tested the fix and the snippet works fine for me now 👍

[2022-10-04 05:50] purplecodes opened #690 "Getting Fatal Error after updating to the latest version"
### Description:

Error:
Fatal error: Uncaught Error: Call to a member function get_elements_data() on bool in /home/customer/www/atarobv.nl/public_html/wp-content/plugins/feedzy-rss-feeds/includes/admin/feedzy-rss-feeds-admin.php:873 Stack trace: #0 /home/customer/www/atarobv.nl/public_html/wp-includes/class-wp-hook.php(307): Feedzy_Rss_Feeds_Admin->feedzy_remove_elementor_widgets(Array) #1 /home

[2022-10-04 07:40] #686 closed

[2022-10-17 11:04] MarinescuLucia commented on #687
The user came back mentioning that the issue still occurs for him with the latest version https://wordpress.org/support/topic/version-4-0-3-breaks-caching-4-0-2-works-fine/#post-16089810.

[2022-10-21 07:48] girishpanchal30 commented on #687
Hello @MarinescuLucia,

I have fixed the issue. Can you please check with this PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/694?

Thanks

[2022-10-21 13:57] irinelenache commented on #687
@girishpanchal30 Can you give me some more info about how to test this? The feed was refreshing for me before this PR but i don't know how to properly check the filter. Thank you

[2022-10-21 15:59] girishpanchal30 commented on #687
Hey @irinelenache,

Please add the below filter in your active theme functions.php file and check the feed updates the data based on the filter value or not.
[code]

Also, Please change the feed URL according to your feed in the filter.

Thanks

[2022-10-25 06:11] irinelenache commented on #687
@girishpanchal30 Thank you, i waited some time for the feed to update and the filter is working fine on my end, will move this to **Ready to merge** 👍

[2022-10-26 18:06] #687 closed

[2022-11-07 15:26] kushh23 opened #697 "Unable to add all the Magic tags in one flow."
### Description:
Hey there, I noticed this minor bug in the import job process of the feedzy. When you will create an import job and try to add the magic tags to the **Content field**, then you will notice that you are not able to add all the tags in one flow from the dropdown.

In order to add another tag you will have to click out somewhere on the screen, and only then you will be able to add ot

[2022-11-09 11:55] girishpanchal30 commented on #697
Hey @kushh23,

It seems not possible with tagify(https://yaireo.github.io/tagify/) mix content method. we need to always click on the box after adding a tag.

I've added some changes to improve the textarea box focus.
PR: https://github.com/Codeinwp/feedzy-rss-feeds/pull/699

Thanks

[2022-11-09 18:36] kushh23 commented on #697
Thanks @girishpanchal30 !!

[2022-11-11 09:43] irinelenache commented on #697
@girishpanchal30 Tested and everything works fine with this PR 👍

[2022-11-15 12:47] mghenciu opened #701 "Add bottom margin for Tag Items, on the Import Posts flow"
### Description:

As seen in the Image, Source tags don't have a bottom margin, which causes them to be stacked
<img width="1725" alt="Screenshot 2022-11-15 at 14 38 38" src="https://user-images.githubusercontent.com/52494172/201922498-836938ef-6de2-48ad-98fb-865a0098f266.png">

Adding a margin-bottom: 16px on .fz-form-wrap .tagify__tag, should fix the issue.

### How to reproduce:

1. Install a f