[2016-04-06 13:00] rodica-andronache opened #1 "change owner and remove internal links"

[2016-04-06 14:14] ineagu opened #2 "Create PRO repo and discuss/add issues for pro"
- add an editable template
- Download images
- Add tabs if multiple feeds are added
- Paramètre REL
- Type de contenu dédié
- Custom CSS
- Numérotation (list OL)
- WooComerce (product price)

[2016-04-18 10:28] rodica-andronache opened #3 "New banner and icon images for wordpress.org"

[2016-04-18 10:31] rodica-andronache opened #4 "Themeisle page images"
http://themeisle.com/plugins/feedzy-rss-feeds/

[2016-04-18 10:44] rodica-andronache opened #5 "Themeisle page text"
seo-friendly titles/description

We need to talk to @mariusghitulescu for this

[2016-04-18 11:26] rodica-andronache commented on #5
@abaicus you should talk with Adelina and MariusG for this

[2016-04-19 12:55] rodica-andronache commented on #2
done https://github.com/Codeinwp/feedzy-rss-feeds-pro

[2016-04-19 12:55] #2 closed

[2016-04-21 12:11] abaicus commented on #3
![banner_feedzy](https://cloud.githubusercontent.com/assets/15010186/14708403/4c0fb216-07d3-11e6-8932-08ebbd8e1e51.png)
![icon_feedzy](https://cloud.githubusercontent.com/assets/15010186/14708402/4c0f2918-07d3-11e6-8a2b-22f9dc8ecb3d.png)

[2016-04-25 09:32] abaicus commented on #5
De la **Adelina**:

[2016-04-25 09:34] #3 closed

[2016-04-25 12:11] #1 closed

[2016-04-27 08:14] rodica-andronache opened #9 "Add documentation link in readme.txt"
http://docs.themeisle.com/article/277-feedzy-rss-feeds-hooks

[2016-04-27 12:19] abaicus opened #10 "Widget shows error if the title or url are empty."
![image](https://cloud.githubusercontent.com/assets/15010186/14851879/704f5b4c-0c8b-11e6-8269-f00b94cf6fa9.png)

[2016-04-29 10:35] #5 closed

[2016-04-29 10:58] #4 closed

[2016-05-04 01:22] HardeepAsrani opened #11 "PHP error if the feed isn't reachable"
Yea, the title sums it up. :p

[2016-05-12 11:18] rodica-andronache opened #13 "Add note in readme.txt"
Note: Plugin originally developed by Brice CAPOBIANCO, b-website.com

[2016-05-28 09:30] selul opened #14 "responsive"
@ineagu what do you think of styling the grid to be more responsive ?

[2016-05-28 13:30] ineagu commented on #14
Can we have more details on it ?Some sites for examples

[2016-06-13 21:27] UVLabs opened #15 "Possible enhancement made by user"
User said this:

"Hi, I use FEEDZY RSS and i really like it. Suggested update for the plug in is to make it available that the main link could be a audio file. i did the following edit: feedzy-rss-feeds/feedzy-rss-feeds-shortcode.php

`$contentTitle .= '<span class="title"><a href="' . $item->get_permalink() . '" target="' . $target . '">'; $contentTitle .= '<audio controls style=" width:180px"> <

[2016-08-01 08:54] rodica-andronache opened #16 "Update "Tested up to value" to 4.6 in readme file"

[2016-08-19 10:19] #16 closed

[2016-08-31 00:07] UVLabs opened #17 "Case sensitive issue"
I don't quite understand what the user is saying here (not much knowledge on the plugin yet) but you could follow here: https://wordpress.org/support/topic/keyword-filtering-failure?replies=3#post-8810650

@selul

[2016-09-07 02:04] HardeepAsrani commented on #17
+1

[2016-10-06 00:27] HardeepAsrani opened #18 "Plugin not working with a feed"
The RSS URL is https://kcsmoraleja.isams.co.uk/modules/newsmanager/feeds/rss/ which has been verified as a working RSS feed. However, it does not seem to load on our test website.

[2016-12-14 17:18] selul opened #20 "wp 4.7"
@preda-bogdan using the wordpress 4.7 i get this error. Can you please check:

http://prntscr.com/djem5l

I saw that they recommend to use https://codex.wordpress.org/Function_Reference/fetch_feed

[2016-12-14 17:20] preda-bogdan commented on #20
I'll solve it first thing in the morning.

[2016-12-15 08:39] preda-bogdan commented on #20
Hey, @selul i've pushed a fix, please check and close this issue if it's ok.

[2016-12-15 11:31] selul commented on #20
@preda-bogdan yes, now is ok. thanks

[2016-12-15 11:31] #20 closed

[2016-12-16 11:40] selul opened #22 "add number per row items"
@preda-bogdan as we discussed let's introduce number of items per row to the pro settings, from 1-6

[2016-12-16 14:22] selul opened #23 "maximum attr not working"
@preda-bogdan the max number of items does not seems to work, is always fetching 5 items.

I have tried this code:
[feedzy-rss feeds="http://themeisle.com/blog/feed" maximum="2" ]

And is showing still 5 items

[2016-12-28 09:54] #23 closed

[2016-12-28 14:09] #22 closed

[2016-12-28 14:31] selul opened #26 "test new version"
@contactashish13 i would like your help in testing this new version using the next scenarios:

## Use Case 1

- Download the latest production version from here: https://wordpress.org/plugins/feedzy-rss-feeds/
- Add a some feedzy widgets using different values for the fields
- Add some shortcodes using different attribute values
- Update the code to the new version from git https://github.com/Code

[2016-12-29 07:00] contactashish13 commented on #26
@selul these are the bugs for use case 0: bugs in the production code

- single quotes are shown encoded i.e. Don&#039;t need a title...
- documentation of the attributes to be used in the short code is lacking. had to dig in the code e.g. what does meta do? and whether the booleans are yes/no or true/false or 1/0?

[2016-12-29 10:39] contactashish13 commented on #26
use case 1

- problem with shortcode not display images
[feedzy-rss feeds="http://9gag-rss.com/api/rss/get?code=9GAG&format=1" max="1" meta="yes" summary="yes" summarylength="20" thumb="yes" size="20"]

in prod version:
![image](https://cloud.githubusercontent.com/assets/12953439/21541711/9fa5c0ba-cdde-11e6-920a-4f1ed4d610c0.png)
the code is
<li style="padding: 2px 0 3px" class="rss_item"><div cla

[2016-12-29 14:35] contactashish13 commented on #26
use case 2

- activate the pro plugin
- without making any changes to the existing widget, refresh the front end that shows the widgets
- get the attached error

![image](https://cloud.githubusercontent.com/assets/12953439/21545312/ba75c336-cdfc-11e6-877e-56e9604ea29b.png)

- field "Template to use when displaying the feed" in widget config - changes to this field do not get saved when editing the

[2017-01-03 11:32] selul commented on #26
@contactashish13 thanks we should be good to go now

[2017-01-03 11:32] #26 closed

[2017-01-13 17:57] #9 closed

[2017-01-13 17:57] #10 closed

[2017-01-13 17:57] #11 closed

[2017-01-13 17:57] #13 closed

[2017-01-13 17:57] #14 closed

[2017-01-13 17:58] #17 closed

[2017-01-13 17:58] #18 closed

[2017-01-13 18:57] ineagu commented on #15
@selul we can automatically detect content type if is possible and add required markup .

Not sure how this can work for videos

[2017-03-28 10:44] selul opened #36 "screenshot"
@bogdanpopa90 when you have a bit of free time please change the cover image and the icon here:

https://wordpress.org/plugins/feedzy-rss-feeds/

the icon should be on white background not blue as now and the cover looks a bit too low quality.

[2017-04-10 08:26] selul opened #38 "two extensions in path bug"
https://secure.helpscout.net/conversation/347305627/130210/?folderId=212392

[2017-04-12 12:33] #36 closed

[2017-04-13 09:13] #38 closed

[2017-05-02 20:58] selul opened #43 "fallback for broken feeds"
https://wordpress.org/support/topic/one-broken-link-ruins-entire-feed/

[2017-05-22 08:27] HardeepAsrani opened #46 "Using alt in span"
In some places, we are using alt with span which makes no sense. Sending a pull to replace alt tags with title.

[2017-05-22 10:04] #46 closed

[2017-05-25 12:38] HardeepAsrani opened #48 "Author URL adding double protocode"
Author URL in feeds in adding http twice, like:

`href="http://http://www.example.com"`

We can remove one http but it doesn't make any sense if the site is running over https, so it's better to leave it `//` instead of defining a protocol.

[2017-05-25 14:01] #48 closed

[2017-06-07 20:31] HardeepAsrani opened #55 "Issue with Freemius"
I installed the plugin, skipped the tracking option and the plugin appears in the footer of my Plugins.php in Dashboard: https://nimbus.everhelper.me/client/notes/share/954539/znh3reocuxfxd2509qte

It was half hidden inside admin menu but adding margin to show for this issue.

[2017-06-07 20:40] ineagu commented on #55
I think is our sdk @selul

[2017-06-07 20:41] selul commented on #55
@HardeepAsrani it's not from feedzy it's from adblock, and yes, you see that because you have adblock enabled.

[2017-06-07 20:41] #55 closed

[2017-06-28 20:58] HardeepAsrani opened #57 "Sort feed by title/etc"
A feature to sort feeds by their titles/author or anything. Suggested by a user. @selul

[2017-08-04 12:49] selul opened #66 "add cache control"
i would like to add a new attribute to the shortcode, called `refresh` which will handle the the cache lifetime.

In the wizzard shortcode builder we will have a select for choose between ( 10_mins, 1_hours, 3_hours, 12hours, 1_days, 15_days) but when editing the shortcode inline, they can add combination of `number` + `_` + `unit` where number can be anything between 1-100 and unit can be `mins,h

[2017-08-04 12:51] selul commented on #57
This looks like a good idea.  however we need to see more traction in order to spend time on this.

[2017-08-04 12:51] selul commented on #43
let's tackle this.

[2017-08-04 12:59] selul commented on #15
Let's tackle this in pro

[2017-08-04 12:59] #15 closed

[2017-08-06 07:30] selul commented on #43
@preda-bogdan here we need to build a unit test too.

[2017-08-07 04:21] HardeepAsrani commented on #57
@selul I can take care of this one, if you want. :)

[2017-08-07 04:24] HardeepAsrani commented on #57
We can have these options:

- Sort By: Title, Date or Author
- Sort Order: Ascending, Descending

I've a PR ready for it, if you want me to send. (Of the function, need to add it to the shortcode/UI itself.)

Thoughts?

[2017-08-16 08:37] selul opened #68 "issue with dashes in the image url"
putem pune fixul in releasul urmator.
https://wordpress.org/support/topic/feedzy-incorrectly-converts-spaces-in-image-url-to-dashes/

[2017-08-16 08:43] preda-bogdan commented on #68
@selul am scos asta acum o sa apara odata cu update-ul de WordAi

[2017-08-16 08:45] selul commented on #68
bun, ms.

[2017-08-16 08:45] #68 closed

[2017-08-17 15:04] #66 closed

[2017-08-17 15:05] selul commented on #57
@HardeepAsrani  we have a doc published for this scenario. I dont see many requests regarding this feature and i dont want to complicate the builder too much.

[2017-08-17 15:06] #43 closed

[2017-08-23 16:02] ineagu opened #70 "use button tag instead of span for shop"
@selul here I think we can better use button instead of tags : https://demo.themeisle.com/feedzy-rss-feeds/shop-feed/ , the main advantage is that it will get styled as the theme.

[2017-08-23 16:07] selul commented on #70
@ineagu which tags are you talking about ?

[2017-08-23 16:20] ineagu commented on #70
https://www.dropbox.com/s/xoyoal1feo53sr5/Screenshot%202017-08-23%2017.19.19.png?dl=0,
is span, I think is better <button>

On Wed, Aug 23, 2017 at 5:07 PM, Marius Cristea <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2017-09-07 08:23] selul commented on #70
this should be in PRo.

[2017-09-07 08:23] #70 closed

[2017-09-13 13:48] selul opened #72 "add general settings"
@contactashish13 i would like to add a general settings page, under the Feedzy main menu.

this will provide 4 fields which will be used when fetching the feed content:

1. User agent - add a input field for allowing users to add custom user agents. The user agent will be set in this function https://github.com/Codeinwp/feedzy-rss-feeds/blob/4e64b0fefe29f040513c5774c8089983037d05cd/includes/abstra

[2017-09-13 13:50] contactashish13 commented on #72
@selul i've moved all these from awaiting triage to current week. can you prioritize them as you wish to?

[2017-09-18 09:16] contactashish13 commented on #72
@selul It seems like every feed url will be called twice because a custom simple pie implementation is being used along with the default WP one:

https://github.com/Codeinwp/feedzy-rss-feeds/blob/master/includes/abstract/feedzy-rss-feeds-admin-abstract.php#L327

https://github.com/Codeinwp/feedzy-rss-feeds/blob/master/includes/abstract/feedzy-rss-feeds-admin-abstract.php#L369

Either implementatio

[2017-09-18 09:21] selul commented on #72
yes, the one with init_feed is valid.

[2017-09-18 09:23] contactashish13 commented on #72
so the whole block https://github.com/Codeinwp/feedzy-rss-feeds/blob/master/includes/abstract/feedzy-rss-feeds-admin-abstract.php#L364-L384 should be commented out?

[2017-09-18 09:30] selul commented on #72
not really, only the 369, but we can leave them there, it will not affect anything.

[2017-09-18 09:36] contactashish13 commented on #72
@selul well it makes 2 request per URL so it is inefficient. But its alright if you want to leave it there.

Also, the implementation you want through HTTP will only work on 4.8+. On 4.7+ WP_HTTP is not used by simplepie. Is that alright?

[2017-09-18 09:37] selul commented on #72
yes, that's ok.

[2017-09-18 11:36] contactashish13 commented on #72
@selul It took me a long time to figure out that the cache was on and thats why none of the requests were passing through HTTP. So I don't think 4.7 is a problem. PR: https://github.com/Codeinwp/feedzy-rss-feeds/pull/

Have also added support for the parrot plugin.

[2017-09-18 12:39] selul commented on #72
@contactashish13 i liked how you used actions and filters to hook/unhook the useragent and proxy, well done.

I have added 2 comments in the pr.

[2017-09-18 13:17] contactashish13 commented on #72
@selul i can't see the comments. And the PR is https://github.com/Codeinwp/feedzy-rss-feeds/pull/73. Don't know how the 73 went missing.

[2017-09-18 13:20] selul commented on #72
@contactashish13 do you see them no on #73

[2017-09-26 10:22] selul commented on #72
@contactashish13 if you activate the pro version, and enable the agency filter, you will see that we have there also a settings area with the wordai credentials.

i would like to integrate the settings from lite into this page, as separate tabs and reuse the design from pro settings page.

also instead of using transients, can we define a constant instead of setting the transient and in the `send_

[2017-10-02 09:20] contactashish13 commented on #72
@selul PRs: https://github.com/Codeinwp/feedzy-rss-feeds/pull/74 and https://github.com/Codeinwp/feedzy-rss-feeds-pro/pull/50

[2017-10-12 10:16] #72 closed

[2017-10-14 15:23] #57 closed

[2017-10-21 17:12] selul opened #79 "google news smart max"
when using feeds from google news, and the user is using the max attribute within the shortcode which is greater than the num query argument of the news feed, the feed is still limited to the num query arg,

E.g [feedzy-rss feeds="http://news.google.com/news?hl=en&gl=us&q=Tourette&num=20&um=1&ie=UTF-8&output=rss" max="30" target="_blank" refresh="1_hours" title="120" meta="yes" summary="yes" summa

[2017-11-24 13:31] HardeepAsrani opened #83 "Loading HTTP images over HTTPS"
So the plugin, for obvious reasons, can't load HTTP images on a HTTPS website, and that's not plugin's fault. But I have a workaround for this and maybe we can add that to the plugin?

If the site is running on HTTPS and someone tries to fetch a feed which is over HTTP, can we pull the images and display it using a CDN over HTTPS?

@selul @ineagu

[2017-11-24 13:47] selul commented on #83
i dont think we can afford to offer a cdn inside a free plugin.

[2017-11-24 13:51] HardeepAsrani commented on #83
Can't we use a free CDN?

On Nov 24, 2017 19:17, "Marius Cristea" <notifications@github.com> wrote:

i dont think we can afford to offer a cdn inside a free plugin.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/Codeinwp/feedzy-rss-feeds/issues/83#issuecomment-346832277>,
or mute the thread
<https://github.com/notifica

[2017-11-24 17:15] ineagu commented on #83
Makes no sense, the user can use feed to post and import those completely :)

[2017-11-25 04:13] HardeepAsrani commented on #83
Ignore this, I was too much sleepy when I thought about this. 😜

[2017-11-30 16:51] MS-potilas opened #84 "Only first <img> in article is scraped"
Function feedzy_return_image (in feedzy-rss-feeds-admin-abstract.php) scrapes only the first `<img>`, and if it is blacklisted, no image is returned. To fix this change this code:

        preg_match( $pattern, $img, $matches );
        if ( isset( $matches[0] ) ) {
            $blacklistCount = 0;
            foreach ( $matches as $matche ) {
                $link      = $this->feedzy_scrape_imag

[2017-12-05 12:30] #83 closed

[2017-12-05 12:32] selul commented on #84
@MS-potilas thanks for your input, we will clearly include this.

@contactashish13 can you please check also, and if is fine to send a PR with it.

[2017-12-06 08:33] contactashish13 commented on #84
@selul PR: https://github.com/Codeinwp/feedzy-rss-feeds/pull/85

[2017-12-08 12:54] HardeepAsrani opened #86 "Doesn't work with Site Origin Page Builder"
If you use the Site Origin's Page Builder, the shortcode button doesn't work. It opens a modal with tags and doens't let you do anything. @selul

[2017-12-11 10:34] #84 closed

[2017-12-11 10:34] selul commented on #86
@contactashish13 can you have a look.

[2017-12-12 05:40] contactashish13 commented on #86
@HardeepAsrani It appears to be a problem with WP 4.9+ only and it does not show a blank modal but loads the dashboard into the modal. More information such as WP version and possibly a screenshot will certainly be more useful in the future :)

@selul PR: https://github.com/Codeinwp/feedzy-rss-feeds/pull/88

[2017-12-18 16:21] #86 closed

[2017-12-25 06:22] Vishakha-Patel opened #89 "Add support for pagination by using offset parameter"
@selul

This is a feature request. To have pagination feature in free/pro plugin.
Sample: https://wordpress.org/plugins/fetch-feed-shortcode-pageable/

It is different but relevant to this issue - https://github.com/Codeinwp/feedzy-rss-feeds/issues/79

[2017-12-25 08:19] Vishakha-Patel opened #90 "Data left after uninstall?"
@selul

This is not a confirmed bug, however, I wanted to ask if we need to remove the plugin data while plugin deletion.

Reference: https://wordpress.org/support/topic/data-left-after-uninstall/

I deleted the plugin from my local and it kept all the data such as feed category and all.

Please close if we are not removing plugin data intentionally.

[2018-01-09 06:21] rockyforever opened #93 "Compatibility with SiteOrigin Page Builder is still an issue."
Fix compatibility with SiteOrigin Page Builder.

Still shows a blank (white page) when you try to edit options.
![feed issue](https://user-images.githubusercontent.com/31295639/34707427-514670d4-f4c2-11e7-8e5e-2c939071fdff.PNG)

[2018-01-11 11:13] contactashish13 opened #95 "Improve documentation"
- [ ] In http://docs.themeisle.com/article/573-how-to-move-feedzy-templates-to-your-theme, add an example specifying the name of a popular theme so that its easy for users to understand. Remove abstract language.

- [ ] Review and update http://docs.themeisle.com/article/540-what-hooks-and-filters-are-available-in-feedzy with more explanation similar to http://docs.themeisle.com/article/663-what-a

[2018-01-13 17:58] selul commented on #95
Hestia sounds fine.

[2018-01-13 18:51] rohittm commented on #95
@contactashish13 please check both of them and let me know the suggestions/edits. Thanks.

[2018-01-15 22:45] HardeepAsrani opened #96 "Everyone can access to Import Feed post type"
All users can access to Import Feed post type from admin menu: https://s.nimbus.everhelper.me/share/1388099/82tf4sfz7npyuuhhd7ea

Even if you're on personal plan. @selul

[2018-01-16 11:15] selul commented on #96
good catch @HardeepAsrani. Would you like to try to fix it ?

We can use the is_business filter return and register or not that post type.

[2018-01-19 09:01] HardeepAsrani opened #98 "Issues in fetching images"
Feed isn't able to fetch the image when the there's no proper format. Few feeds have thumbnails as: http://website.com/feeditem/thumb/ instead of having a format. Can this work?

@selul

[2018-01-19 09:12] Vishakha-Patel opened #99 "Medium's feed not working"
Medium feed not working with the plugin: https://medium.com/feed/topic/cryptocurrency.

As Medium is quite famous, it will be helpful if this can be resolved. Ticket: https://secure.helpscout.net/conversation/504029535/152078/

@selul

[2018-01-19 10:26] Vishakha-Patel commented on #99
Another famous one: https://news.bitcoin.com/feed/.

[2018-01-19 11:05] Vishakha-Patel opened #100 "Feed URLs without http do not work"
When we place a feed URL without http/https, it does not work. Example: themeisle.com/blog/feed.

It would be a good to have this feature to add http/https automatically if URL provided by the user is not having it.

@selul

[2018-01-22 14:24] contactashish13 commented on #99
@Vishakha-Patel can you please use the PR to test on a variety of URLs including ones that you know are already working? https://github.com/Codeinwp/feedzy-rss-feeds/pull/102

If anything does not seem to work, can you try on http://simplepie.org/demo/ before you report it as an error? Anything that does not work on http://simplepie.org/demo/ will not work on feedzy as that is the component being

[2018-01-22 14:49] contactashish13 commented on #98
@HardeepAsrani can you share the feed URLs that might have this kind of format?

[2018-01-23 03:40] contactashish13 commented on #100
@selul PR: https://github.com/Codeinwp/feedzy-rss-feeds/pull/103

[2018-01-23 04:20] contactashish13 commented on #95
@rohittm

for 1) It is a little confusing if you want the user to move the feedzy templates folder into the new folder or the files from within the folder. Can you add an image too that shows the proposed folder structure? An image for both will help dispel doubts. As a general suggestion, add visual aids wherever possible.

for 2)

* don't copy/paste directly from the code :)
e.g.
`
apply_filters

[2018-01-23 06:19] HardeepAsrani commented on #98
@contactashish13 None other than our own: https://timesofindia.indiatimes.com/rssfeeds/296589292.cms

[2018-01-23 09:49] rohittm commented on #95
1) Making the changes

2) I got it. Also, about the actions, the previous documentation didn't have any. So I just added Filters. Will them as well.

[2018-02-01 11:29] rohittm commented on #95
@contactashish13 can you please check both of them again and let me know the suggestions/edits.

[2018-02-03 10:50] contactashish13 commented on #95
1. looks perfect, well done!

2a. "action: " and  "filter: " are probably not required before every action/filter.
2b. The grammar/punctuation could be improved :) e.g. `$item: an item from The feed items array.`

[2018-02-05 18:36] rohittm commented on #95
@contactashish13 , Made the changes.

[2018-02-06 04:37] contactashish13 commented on #95
@rohittm haven't seen much improvement in 2b but whether that is required or not, you can discuss with @selul

[2018-02-13 18:04] rohittm commented on #95
@contactashish13 Can you give another example, of what kind of grammar is to be used?

[2018-02-15 08:41] selul commented on #95
@rohittm inside feedzy folder from the theme root there should not be any templates folder, only the 3 php files.

You can follow your doc steps and you will see that the templates are not used in the folder structure that you suggested.

[2018-02-15 10:54] rohittm commented on #95
Okay, I'll update that.

[2018-02-15 18:49] rohittm commented on #95
@selul Can you check it again, and let me know.

[2018-02-20 12:36] #100 closed

[2018-02-20 12:36] #99 closed

[2018-02-20 12:36] #98 closed

[2018-02-20 12:52] #96 closed

[2018-02-26 09:00] selul commented on #95
@rohittm looks great.

[2018-02-26 10:22] selul commented on #93
@rockyforever it should be fixed in the latest version.

[2018-02-26 10:22] #93 closed

[2018-02-26 11:21] selul opened #107 "change shortcode order"
@contactashish13 we need to add a sorting attribute to the Feedzy shortcode.

1. Add the sorting order in the Feedzy popup in the WordPress editor.
2. The options will be name_asc, name_desc, date_asc, date_desc. The default will be the current order.
3. You can check this on how we can achieve this custom order, maybe it helps -> http://simplepie.org/wiki/reference/simplepie/sort_items
4. Make su

[2018-02-27 21:36] rohittm opened #108 "Display just the image on feed thumbnails"
@selul
According to my conversation here: https://wordpress.org/support/topic/default-image-problem/ I found no way to use the custom image if the feed has a default image. I mean, the feed url is: https://katikitti.com/feed/

When I use thumb="yes" or thumb="auto" in the shortcode,

![screen shot 2018-02-28 at 03 02 56](https://user-images.githubusercontent.com/3204558/36756041-fabbb83e-1c33-11e8

[2018-02-28 10:21] selul commented on #108
@rohittm not really, the default image purpose is to be used when we don't have any image in the feed.

[2018-02-28 10:21] #108 closed

[2018-03-02 05:18] contactashish13 commented on #107
@selul by name do you mean title?

[2018-03-02 06:34] contactashish13 commented on #107
@selul PR: https://github.com/Codeinwp/feedzy-rss-feeds/pull/110

I've called the options title_asc, title_desc, date_asc and date_desc.

[2018-03-02 08:03] contactashish13 commented on #79
@selul PR: https://github.com/Codeinwp/feedzy-rss-feeds/pull/111

[2018-03-05 10:20] selul commented on #79
@contactashish13 i'm getting this -> http://prntscr.com/in18mj

Also, please make a php unit test which should cover this.

[2018-03-05 10:26] selul commented on #107
@contactashish13 can we make the php unit tests for this also.

[2018-03-06 06:21] contactashish13 commented on #79
@selul have fixed that and also added a test case. PR: https://github.com/Codeinwp/feedzy-rss-feeds/pull/114

The build is partially failing. I guess this is because google is restricting the hits on its feed. Can you please check?

[2018-03-06 12:30] contactashish13 commented on #107
@selul added test case for title_asc and title_desc. Date sorting (desc) happens by default so I haven't added a test for that.

[2018-03-06 14:56] contactashish13 commented on #79
@selul thanks, you are right about that logic.

the test cases are still failing but they pass at my end.

[2018-03-07 09:31] selul commented on #79
@contactashish13 i have removed the unparse function as it redundant now.

[2018-03-07 10:27] selul commented on #79
@contactashish13 i've added this check
[code]
To remove the test on Travis but keep using it on the local environment. It seems, indeed a Travis issue.

[2018-03-07 10:27] #79 closed

[2018-03-07 11:49] selul commented on #107
@contactashish13 one thing here, it seems the build is failing, also can you solve the conflicts also ?

[2018-03-07 13:15] contactashish13 commented on #107
@selul have resolved the conflicts and the build is now passing as well. Last time it seemed like a problem with the travis configuration but this time it went well.

[2018-03-12 12:44] #107 closed

[2018-03-12 12:50] selul commented on #90
yep, is not that easy to delete all shortcodes references from each post/post_meta, maybe an easy way/fix will be to add a blank feedzy plugin fix which will create the shortcode and return empty, in order to fix their issues.
i will think about it.

[2018-03-12 13:04] selul opened #117 "add fallback for not writable cache location"
Now that we have a separate SimplePie util class, maybe we can investigate how we can solve the warning when the cache directory is not writable,
Ref:
 https://wordpress.org/support/topic/class-simplepie-php/

The approach which I would like to use

1) Check if the default cache location is writable if is return that and bail.
2) If is not, use a directory inside the uploads folder, called feedzy-

[2018-03-16 11:51] contactashish13 commented on #117
@selul actually, feedzy does not use the cache directory because of these 2 lines. It uses the database for caching.
`
$feed->set_cache_class( 'WP_Feed_Cache' );
$feed->set_cache_duration( apply_filters( 'wp_feed_cache_transient_lifetime', $cache_time, $feedURL ) );
`
When I remove these two lines from the code and fetch a feed, I get the error message ./cache is not writable. When these lines are

[2018-03-16 12:00] selul commented on #117
@contactashish13 can't we somehow force the database cache on all feedzy feed related requests?

[2018-03-16 12:10] contactashish13 commented on #117
@selul all feedzy requests are being cached in the database. but if some wild plugin/theme uses the default `fetch_feed` method provided by WP, that will end up using the file cache and thus throwing the error. That's what I feel is happening.

[2018-03-16 12:50] selul commented on #117
so do you think is another plugin that break ours ?

[2018-03-16 12:54] contactashish13 commented on #117
That's what it seems like. Users using feedzy might mistake that message to come from feedzy whereas it could be originating from another plugin/theme.

I don't see any other way because feedzy will not really fallback to using the filesystem when we have asked it to use db caching.

What do you think?

On Mar 16, 2018, 18:20, at 18:20, Marius Cristea <notifications@github.com> wrote:

[2018-03-16 12:55] selul commented on #117
i understand. Let's put this on hold until we get more insights from users.

[2018-03-18 06:08] contactashish13 opened #118 "n the magic tags, add item_description as well"
https://secure.helpscout.net/conversation/541510231/157086/

[2018-03-18 09:32] #118 closed

[2018-03-19 06:43] contactashish13 commented on #117
@selul ref: https://secure.helpscout.net/conversation/542318800/157188?folderId=1362294. I don't understand how this is happening despite the code explicitly using db caching. Any hints?

[2018-03-19 08:47] selul commented on #117
@contactashish13 i dont know either, can you check user website and see if there are any particular plugin that might change this ? I see they gave the parrot.

[2018-03-21 19:47] selul opened #119 "full text parse solution"
@contactashish13 it seems many users are requesting a full text parse solution, something that will fetch article content directly from the link, not from the RSS feed.

In order to do this, we will need a 3rd party server that will act as a middleware.

Basically, the server will receive a list of RSS feeds and will return RSS feed resources with all the items combined, but instead of the feed co

[2018-03-21 19:47] #119 closed

[2018-03-22 05:23] contactashish13 commented on #117
waiting for feedback from @UVLabs

[2018-04-02 14:02] mileamadalin opened #121 "Constant nagging"
@selul It looks like our customers are a little bit bothered because we are continually asking for a review. I think we should ask only once. Or maybe once at three-six months.

https://wordpress.org/support/topic/constant-nagging/

[2018-04-02 14:42] selul commented on #121
@mileamadalin we're asking just once, maybe he has multiple products from us and get from other too.

[2018-04-02 18:46] mileamadalin commented on #121
Thanks! I'll check it.

[2018-04-06 07:52] contactashish13 opened #122 "Feeds with HTTPS often fail with "curl: (60) SSL certificate problem: unable to get local issuer certificate""

[2018-04-06 08:01] contactashish13 commented on #122
@selul PR: https://github.com/Codeinwp/feedzy-rss-feeds/pull/123

[2018-04-10 09:15] #122 closed

[2018-04-23 20:50] HardeepAsrani commented on #89
+1

[2018-05-07 19:06] HardeepAsrani opened #128 "Issue with Quotes in Image title"
If image title contains a quote then it's breaking the HTML. PR coming up.

[2018-05-10 16:39] contactashish13 opened #129 "Add parameters to filter to enable better extensibility"
ref: https://secure.helpscout.net/conversation/577848228/161185?folderId=1362294

We need to add `$item` to filters so that the SimplePie_Item object can be used

[2018-05-17 04:51] contactashish13 opened #131 "If date_format or time_format is empty, do not show it in the post item"
ref https://secure.helpscout.net/conversation/582044622/161769

[2018-05-17 05:02] contactashish13 commented on #131
@rodica-andronache PR: https://github.com/Codeinwp/feedzy-rss-feeds/pull/132

[2018-05-17 07:33] contactashish13 commented on #95
@rohittm I'm reopening this so that we can add real life examples for each hook. Can you please add a fully functional example for each hook?

A few examples you can take inspiration from:

- https://secure.helpscout.net/conversation/577848228/161185/?folderId=212390#thread-1582372155
- https://secure.helpscout.net/conversation/541510231/157086/?folderId=212390#thread-1479327820
- https://secure.h

[2018-05-18 06:28] selul commented on #129
@contactashish13 i see that there is a conflict, can you please fix it ?

[2018-05-19 05:04] contactashish13 commented on #129
@selul done

[2018-05-20 13:01] rodica-andronache commented on #129
@contactashish13 I tried this with twentysixteen. I add the code you mentioned on HS and this is what I got https://prnt.sc/jk8e4p.
Could you please check?

[2018-05-21 12:16] rodica-andronache commented on #95
Maybe starting from making sure this https://docs.themeisle.com/article/540-what-actions-and-filters-are-available-in-feedzy is updated. With linked examples to other docs.

[2018-05-21 12:29] #131 closed

[2018-05-21 13:31] rohittm commented on #95
@rodica-andronache @contactashish13

Are the tasks same as I asked [here](https://github.com/Codeinwp/wp-product-review/issues/288#issuecomment-390653880)?

[2018-05-21 14:01] rodica-andronache commented on #95
@rohittm yes :D

[2018-05-22 11:17] rodica-andronache commented on #117
@contactashish13 how is this going?

[2018-05-22 11:19] contactashish13 commented on #117
I didn't even realize this was assigned to me. I don't see it in my project?

On May 22, 2018, 16:47, at 16:47, Rodica-Elena Andronache <notifications@github.com> wrote:

[2018-05-22 12:40] contactashish13 commented on #117
@rodica-andronache actually, this does not need any action because feedzy uses db caching and not file system caching.

[2018-05-22 13:07] rodica-andronache commented on #117
@contactashish13 ok, so there was a problem when using WP RSS Aggregator? Is there something that we can do about?

[2018-05-22 14:01] contactashish13 commented on #117
@rodica-andronache

yes

I'm not sure we can as there is no problem with Feedzy. Do you have any suggestions?

[2018-05-23 11:15] contactashish13 commented on #129
@rodica-andronache oops, I guess I need to add `<img src=` to that so that it returns the image element.

[2018-05-23 16:16] Vishakha-Patel commented on #89
+1

https://secure.helpscout.net/conversation/585938258/162201?folderId=948378

[2018-05-31 05:19] contactashish13 opened #133 "Documentation for remove_filter is incorrect"
ref https://secure.helpscout.net/conversation/591237029/162765

The way to remove the filter is incorrect: https://docs.themeisle.com/article/542-how-to-keep-html-in-feed-items-content

The correct way is this.

`
add_action( 'init', 'feedzy_summary_input_remove', 99 );
function feedzy_summary_input_remove() {
	remove_filter('feedzy_summary_input', array( Feedzy_Rss_Feeds::instance()->get_admin(),

[2018-05-31 14:48] rodica-andronache commented on #129
@contactashish13 was this fixed? I'm not able to find a PR

[2018-06-01 04:45] contactashish13 commented on #129
@rodica-andronache this did not need any code fix. Only the filter that was suggested to the client needed to be altered. Maybe @rohittm can use this filter in one of the documents?

[2018-06-01 13:26] rohittm commented on #133
@contactashish13 Can you please check it now? https://docs.themeisle.com/article/542-how-to-keep-html-in-feed-items-content

[2018-06-06 13:16] rodica-andronache commented on #117
@selul can you help here? I'm not sure what to do

[2018-06-06 13:20] selul commented on #117
i think we can leave it open until we gather more insights on this, i understand that the problem might be WP RSS Aggregator but until we find a way of solving this, we can tell users who are getting this error and have Feedzy + WP RSS Aggregator, to disable the one that is causing this.

[2018-06-12 12:22] contactashish13 opened #135 "Documentation for user defined templates is incorrect"
It appears the folder should be called "feedzy_templates" and not what https://docs.themeisle.com/article/573-how-to-move-feedzy-templates-to-your-theme says. Need to check and correct.

cc @rodica-andronache

[2018-06-20 12:31] rohittm commented on #135
@contactashish13 Can you check it now?

[2018-06-20 16:03] contactashish13 commented on #135
@rohittm can you confirm you have followed the mechanism you've written down and been able to show a custom template?

[2018-06-25 13:22] contactashish13 commented on #133
@rohittm it looks okay but the proof is in the pudding. Can you test using the snippet and if it works you can close this?

[2018-06-26 11:32] rodica-andronache commented on #95
Here we would also need to add 2 examples for the feedzy_thumb_output and feedzy_retrieve_image filters like mentioned here https://github.com/Codeinwp/feedzy-rss-feeds-pro/issues/101

[2018-06-26 12:04] #121 closed

[2018-06-26 12:05] #128 closed

[2018-07-03 04:31] contactashish13 opened #137 "Add option to disable featured image from being added to website RSS feed"
ref: https://secure.helpscout.net/conversation/603211304/163819?folderId=1362294#thread-1679469843

[2018-07-03 05:11] contactashish13 commented on #137
@rodica-andronache

PR: https://github.com/Codeinwp/feedzy-rss-feeds/pull/138 and https://github.com/Codeinwp/feedzy-rss-feeds-pro/pull/108

[2018-07-03 14:12] rodica-andronache commented on #137
@contactashish13 can you please help me here? :) I don't understand where this option was added

[2018-07-03 15:52] HardeepAsrani commented on #89
+1

[2018-07-04 06:16] contactashish13 commented on #137
@rodica-andronache this was added in the Setting screen under General tab.

![image](https://user-images.githubusercontent.com/12953439/42259863-dea56bfe-7f7f-11e8-9328-b5361d461c50.png)

[2018-07-04 09:04] #137 closed

[2018-07-05 10:45] HardeepAsrani commented on #89
+1

[2018-07-05 13:20] SilviuDinu opened #140 "Warning! Non-numeric value encountered"
I am not sure if it is related to our Feedzy plugin only, or other plugins out there have the same problem. I tried to solve this ticket -> https://wordpress.org/support/topic/warning-a-non-numeric-value-encountered-10/#post-10465805 and I encountered the same issue as the client. I started looking into this and I found out that it can be fixed by rolling back the php version (lower than 7.1.16 th

[2018-07-17 18:12] HardeepAsrani opened #141 "Issue with Feeds with comma in URL"
Because we separate feeds by comma, some feeds like: http://www.seloger.com/rss,recherche.xml?idtt=2&cp=33700; won't work with Feedzy. Any solution? Can we add some escaping mechanism for comma within feed URLs.

@rodica-andronache

[2018-07-25 08:46] contactashish13 opened #142 "Widget: Excluding keywords does not work"
ref: https://secure.helpscout.net/conversation/618794359/165672

[2018-07-25 09:52] ineagu commented on #142
@selul noticed this and I have  a vague impression that we made this pro-only at some point?

[2018-07-25 09:52] ineagu commented on #142
I also see it here in plans : https://www.dropbox.com/s/fptfc98bovov6lv/Screenshot%202018-07-25%2010.52.37.png?dl=0, maybe it was an inconsistency

[2018-07-25 09:54] selul commented on #142
yes, this is in pro, @contactashish13 it's related to something else?

[2018-07-25 09:56] contactashish13 commented on #142
@rodica-andronache PR: https://github.com/Codeinwp/feedzy-rss-feeds/pull/143

[2018-07-25 09:56] ineagu commented on #142
ok, I guess we might just have the code in lite for it.

[2018-07-25 09:58] contactashish13 commented on #142
@selul this issue is from the widget where you can provide include and exclude keywords. Include keywords work but exclude keywords did not because there was no support for it in the code. The user in the referenced ticket is using a pro version.

[2018-07-25 09:59] selul commented on #142
i understand, just to confirm, free users won't have this feature?

[2018-07-25 10:03] contactashish13 commented on #142
yes, only pro users will get the field to provide include and exclude keywords in the widget. The code for this filtering, though, is present in lite.

[2018-07-25 14:22] Vishakha-Patel opened #144 "New Feature: Feed Import > Run Now option"
When we add a new feed to import it schedules it at around 45 minutes and next run get scheduled accordingly.

In between, if we want to import the new feeds, there is not a way.

A "Run Now" option would be helpful in such cases. It also helps in troubleshooting some import related tickets. :)

@selul

[2018-07-31 17:31] HardeepAsrani opened #145 "do not ignore items with empty title"
User isn't able to fetch this feed with Feedzy: http://micro.fncll.org/feed.xml

It works just fine with Gutenberg block, it's able to fetch it, but shortcode part isn't able to render it. Any pointers? @selul @contactashish13

[2018-08-02 05:09] contactashish13 commented on #145
@HardeepAsrani looks like this is because the feed's items do not contain any title and we ignore the item in case the title is missing.

[2018-08-02 19:48] HardeepAsrani commented on #145
@contactashish13 Are we gonna fix it?

[2018-08-02 22:28] HardeepAsrani opened #146 "wp.components.withInstanceId is deprecated"
wp.components.withInstanceId is deprecated and will be removed in 3.5. Please use wp.compose.withInstanceId instead.

[2018-08-02 23:05] HardeepAsrani opened #147 "arr undefined in Gutenberg block"
arr undefined in Gutenberg block when the category ajax request isn't complete and you click on Load Feed.

[2018-08-02 23:07] HardeepAsrani commented on #144
That would be amazing. :D

[2018-08-02 23:08] HardeepAsrani commented on #90
@selul I think this is about removing data of Feed category from database and not the shortcode.

[2018-08-04 08:35] contactashish13 commented on #145
Do you suggest we make the title optional? If so, how would it impact the templates?

On Aug 3, 2018, 01:18, at 01:18, Hardeep Asrani <notifications@github.com> wrote:

[2018-08-05 19:54] HardeepAsrani commented on #145
Why would it impact the template? No template is dependent on title, as much as I'm aware of. A condition can be added to stop the tag from appearing. Is there something I'm missing that might impact the templates? @contactashish13

[2018-08-07 18:17] #146 closed

[2018-08-07 18:17] #147 closed

[2018-08-07 18:35] #142 closed

[2018-08-16 17:28] poonam279 opened #153 "<br/> display"
When using the shortcode below, the feed is displaying the `<br/>` rather than creating a new line.
[feedzy-rss feeds=”http://www.apple.com/newsroom/rss-feed.rss” feed_title=”yes” target=”_blank” refresh=”12_hours” title=”50″ meta=”yes” summary=”yes” summarylength=”300″ thumb=”yes” size=”100″]
Screenshot: https://prnt.sc/kjfqdv

CC @rodica-andronache

[2018-08-17 08:51] ineagu opened #154 "wrong readme modified"
@dascalescuro instead of fixing the readme in readme.txt you have modified readme.md, those changes aren't on w.org .

cc @rodica-andronache

[2018-08-17 09:01] dascalescuro commented on #154
ok, will fix this.
should I revert the readme.md file back to the initial form, @rodica-andronache

[2018-08-17 09:07] selul commented on #154
it does not matter, the readme.md file is generated automatically on release, based on the readme.txt

[2018-08-17 09:16] selul commented on #154
https://wpreadme.com/ this might help you to preview.

[2018-08-20 07:58] dascalescuro commented on #154
@selul I added the text in the readme.txt file.

let me know if things are OK now :)

CC: @rodica-andronache

[2018-08-20 08:03] selul commented on #154
@dascalescuro where have you added it ? I cant see any PR ? 😢

[2018-08-20 11:11] dascalescuro commented on #154
I guess it didn't work because I didn't sync the local repo...
should see the commit now, but didn't ask for a PR, can you help me here please?

[2018-08-20 11:12] selul commented on #154
@dascalescuro yep i see it, i will take care from now.

[2018-08-20 12:15] contactashish13 opened #155 "Some images do not render if they contain '+' or similar symbols"
ref: https://secure.helpscout.net/conversation/642973777/167743

[2018-08-20 12:26] contactashish13 commented on #155
@rodica-andronache PR: https://github.com/Codeinwp/feedzy-rss-feeds/pull/156

[2018-08-20 18:36] contactashish13 commented on #153
@poonam279 the plugin (the SimplePie component, to be precise) sanitizes the extracted content to make it HTML safe thats why `<br>` is converted to '&lt;br/&gt;`. To get around this, you can use the filter `feedzy_summary_output`

[code]

[2018-08-21 10:53] selul commented on #154
it's live now.
![image](https://user-images.githubusercontent.com/3330746/44397552-704b9f80-a549-11e8-9963-dfc0e06f6c9f.png)

[2018-08-21 10:54] selul commented on #154
my bad, this is the origin gif -> https://www.saleswingsapp.com/wp-content/uploads/2018/01/giphy-downsized-large-1.gif :)) )

[2018-08-21 10:57] dascalescuro commented on #154
📣📣📣😂😂😂😂

the amount of laughs is over the sales we get :))

On Tue, Aug 21, 2018 at 1:54 PM Marius Cristea <notifications@github.com>
wrote:

--
*Claudiu Dascalescu*
ThemeIsle <https://themeisle.com/> | CodeinWP Blog
<https://www.codeinwp.com/blog/> | JustFreeThemes
<https://justfreethemes.com/> | Revive.Social <https://revive.social/>

[2018-08-22 08:32] poonam279 commented on #153
Thanks @contactashish13 for the code. I've created a doc for this.

[2018-08-24 17:24] contactashish13 opened #159 "Pagination or load more"
Customers are asking for a pagination feature or a load more button

ref: https://secure.helpscout.net/conversation/648408292/168145
https://secure.helpscout.net/conversation/648090277/168121#thread-1785819584

[2018-09-05 11:00] Vishakha-Patel opened #160 "Plugin modifies the website feed"
@contactashish13

Ticket: https://secure.helpscout.net/conversation/652872312/168539?folderId=212385

The plugin adds an image in the website's feed.

In this user's website that shows as an error in W3C validator.

We also saw this in one of the previous tickets.

[2018-09-07 23:06] contactashish13 commented on #160
@Vishakha-Patel please check https://github.com/Codeinwp/feedzy-rss-feeds/issues/137 and if that resolves this, close the issue.

[2018-09-12 11:20] #160 closed

[2018-09-14 07:16] contactashish13 commented on #159
closing, as this is related to https://github.com/Codeinwp/feedzy-rss-feeds/issues/89

[2018-09-14 07:16] #159 closed

[2018-09-26 14:31] contactashish13 opened #161 "Unit tests fail because of misbehaving test feeds"

[2018-09-26 14:40] #161 closed

[2018-10-08 08:45] #154 closed

[2018-10-09 15:07] #153 closed

[2018-10-09 15:10] contactashish13 commented on #144
@Vishakha-Patel since this is mostly for troubleshooting, won't using a plugin like WP Crontrol solve be more helpful?

[2018-10-09 15:15] contactashish13 commented on #90
@Vishakha-Patel can you please confirm what this issue is about? is this about data being left behind in each post meta or something else?

[2018-10-09 15:18] contactashish13 commented on #141
@HardeepAsrani this seems to be a very specific case. I haven't come across many URLs that have commas but maybe if we add a filter to modify the feed separator, will that not work?

[2018-10-11 05:02] Vishakha-Patel commented on #90
@contactashish13 It is about both posts, post meta and other plugin options such as categories, feeds(import feed settings), etc...

This is the user message where he mentions about tables he saw Feedzy reference:

The solution that I see is to remove at least plugin options and other data(categories, feeds, etc...) other than posts. Because there are some difficulties as Marius said for posts.

[2018-10-11 07:49] #144 closed

[2018-10-11 16:37] contactashish13 opened #162 "Bring feed to post to 1st version without full post import, wordai, spinnerchief etc."

[2018-10-11 17:12] selul commented on #162
@contactashish13 might be a misunderstanding, in the 1st version plan, not free.

[2018-10-12 08:20] contactashish13 commented on #162
closing as this is relevant only to pro

[2018-10-12 08:20] #162 closed

[2018-10-17 09:05] #129 closed

[2018-10-17 13:48] mileamadalin opened #163 "Handle HTTP images"
@contactashish13 We have a feedback from a user:

"
I think we had a discussion a few years ago. We talked already about a feature to cache the images from other blogs which FEEDZY show in the list when you used the FEEDZY image option. There are a bunch of problems, because FEEDZY is taking the original Link to the original image.
"
More details here: https://wordpress.org/support/topic/caching-i

[2018-10-18 10:40] contactashish13 commented on #90
PR: https://github.com/Codeinwp/feedzy-rss-feeds/pull/164 and https://github.com/Codeinwp/feedzy-rss-feeds-pro/pull/132

[2018-10-18 10:40] #90 closed

[2018-10-19 07:46] selul commented on #163
seems great.

[2018-10-26 04:49] contactashish13 opened #166 "Some feeds throw an invalid XML error but work on simplepie's demo site"
ref https://secure.helpscout.net/conversation/691778031/172001/

example: https://www.osha.gov/news/newsreleases.xml

These allegedly invalid feeds are deemed valid by feed validator. It seems that when we use `set_feed_url`, it is very finicky about the feed and cannot bear even an extra newline between elements. But `set_raw_data` seems to be much more resilient. So we can fall back to using `se

[2018-10-26 04:58] contactashish13 commented on #166
PR: https://github.com/Codeinwp/feedzy-rss-feeds/pull/167

@SilviuDinu you can apply these changes and check if they work for you. Then you can apply it on the customer's site as well at a later time.

[2018-10-26 06:07] SilviuDinu commented on #166
@contactashish13 I applied the changes and the feed is working now.

[2018-10-30 06:28] contactashish13 commented on #166
Some feeds that still do not work but work on http://simplepie.org/demo/ (this is a running list and will keep being updated). **DO NOT CLOSE THIS ISSUE**

- http://betakit.com/feed/ (feed validator considers this invalid)

[2018-11-06 12:07] HardeepAsrani opened #174 "Google News images not working"
Somehow Google News feeds don't let us fetch the images, as reported in this thread: https://wordpress.org/support/topic/thumbnails-not-showing-sometimes/#post-10839687

[2018-11-15 11:42] HardeepAsrani commented on #174
@contactashish13 Can you take a look here soon, if possible? **The nation wants to know** the answer. 😛

![Arnab](https://feminisminindia.com/wp-content/uploads/2017/06/The-nation-wants-to-know.jpg)

[2018-11-16 05:50] contactashish13 commented on #174
That scared me so sh*tless that I had to fix it!

#175 should resolve this.

[2018-11-22 06:12] contactashish13 opened #176 "Improve UX on installation"
somewhat related to https://github.com/Codeinwp/feedzy-rss-feeds-pro/issues/133

We need to add a Help & Support page to the plugin that will link to the documentation for the short code as well as import posts (if pro is installed). The page will be shown during first time activation.

[2018-11-27 06:41] Vishakha-Patel commented on #144
+1 https://secure.helpscout.net/conversation/717632432/174446/

[2018-11-27 14:36] poonam279 opened #177 "option to add nofollow attribute to shortcode"
A user suggested that it would be nice to define the follow / nofollow attribute with every single shortcode as we have for the target setting.

[2018-11-27 17:13] contactashish13 commented on #135
@mileamadalin can this be checked and fixed?

[2018-11-27 17:14] contactashish13 commented on #95
closing this as this has been done by AC

[2018-11-27 17:14] #95 closed

[2018-11-27 17:16] contactashish13 commented on #133
done by AC

[2018-11-27 17:16] #133 closed

[2018-11-27 21:57] mileamadalin commented on #135
Not sure if I understand. He said that was fixed? have you checked and is not working and we have to fix it? Or what exactly to check and fix?

[2018-11-28 03:05] contactashish13 commented on #135
It would be great to check if that document is okay and fix it if it is not.

On Nov 28, 2018, 03:27, at 03:27, Madalin Milea <notifications@github.com> wrote:

[2018-12-11 09:05] tobi-PXLKNG commented on #89
+1

[2018-12-12 09:08] contactashish13 commented on #163
PR: https://github.com/Codeinwp/feedzy-rss-feeds/pull/181

the attribute is called `http` and its values can be
- `https` to force HTTPS
- `default` to fallback to default image
- `auto' to do nothing

[2018-12-12 10:56] contactashish13 commented on #177
PRs: https://github.com/Codeinwp/feedzy-rss-feeds-pro/pull/148 and https://github.com/Codeinwp/feedzy-rss-feeds/pull/182

[2018-12-18 04:33] contactashish13 commented on #176
PRs: https://github.com/Codeinwp/feedzy-rss-feeds-pro/pull/154 and https://github.com/Codeinwp/feedzy-rss-feeds/pull/184

[2018-12-18 07:51] contactashish13 commented on #145
PR: #185

[2018-12-19 13:13] Vishakha-Patel opened #188 "Feedzy RSS icon opens up dashboard screen"
Add classic editor block to the page. Then click on Feedzy RSS Icon -
![image](https://user-images.githubusercontent.com/29881234/50222319-ec51d900-03bd-11e9-80ad-3d02c0e0c448.png)

It shows dashboard there instead of plugin option -
![image](https://user-images.githubusercontent.com/29881234/50222336-fa9ff500-03bd-11e9-8c02-05ea87f573e6.png)
cc: @contactashish13

Ticket: https://wordpress.org/sup

[2018-12-20 05:03] contactashish13 commented on #188
@Vishakha-Patel If you have the classic editor plugin installed I'm not sure you can access the gutenberg editor to add a classic block. Can you mention how you are adding the classic editor block?

[2018-12-21 07:05] Vishakha-Patel commented on #188
Hey @contactashish13 ,

It is there in my installation by default. I checked in two locals and both have classic block. I have updated my WordPress from 4.9.8. So it might have been showing in that case if one does upgrade and do not install a fresh WP.

Deactivated all the plugins and still if I search classic, I see the block:

![image](https://user-images.githubusercontent.com/29881234/50329255

[2018-12-21 07:18] contactashish13 commented on #188
@HardeepAsrani can you help here? We either need to fix the feedzy button so that it works correctly or remove it (sounds easier). But only when the classic editor is being called as a gutenberg block.

[2018-12-21 12:04] contactashish13 commented on #140
Unable to reproduce this with the forthcoming release 3.3.2

[2018-12-21 21:44] HardeepAsrani commented on #188
Gutenberg doesn't have any way to check if the Gutenberg editor is opened, there is `$current_screen->is_block_editor()` but I can't get it to work, can you try to see if that works for you or am I using it wrong?

[code]

@contactashish13

[2018-12-22 05:30] contactashish13 commented on #188
@HardeepAsrani you were on the right track and it was not working because the class was being loaded on `init`. When I changed it to `admin_enqueue_scripts` it worked.

[2018-12-22 05:37] contactashish13 commented on #188
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/192

[2018-12-22 06:12] #145 closed

[2018-12-22 06:12] #163 closed

[2018-12-22 06:12] #166 closed

[2018-12-22 06:12] #174 closed

[2018-12-22 06:12] #176 closed

[2018-12-22 06:12] #177 closed

[2018-12-22 06:12] #188 closed

[2018-12-24 06:58] contactashish13 opened #193 "outgoing links should have rel=noopener"
https://mathiasbynens.github.io/rel-noopener/#hax

[2018-12-24 09:35] mileamadalin opened #194 "Feedzy gutenberg block doesn't work"
@contactashish13 we have an issue with the latest version of the plugin and WP 5.0.2

When you want to insert the feed directly from the post using the icon of Feedzy and not the shortcode, not happen.

Here is a video from @dascalescuro https://www.useloom.com/share/3413a6e6e2a44cf7a4e77f459810a26a

Poonam tested as well and had the same issue. And here is my video with the same issue: https://dr

[2018-12-25 05:15] contactashish13 commented on #194
@HardeepAsrani adding feedzy as a gutenberg block doesnt seem to work. can you take a look?

[2018-12-25 05:18] contactashish13 commented on #155
shifting the conversation here from https://github.com/Codeinwp/feedzy-rss-feeds/pull/175#issuecomment-449724580.

@mileamadalin please share more details

[2018-12-25 20:09] HardeepAsrani commented on #194
@contactashish13 Can you try to reproduce? I tried and it works just fine for me. Is the user using Gutenberg plugin, or any other plugin installed? is REST API disabled on his site? Is his site running on http/https? Or any relevant info that I could use to reproduce? @mileamadalin

[2018-12-25 20:09] HardeepAsrani commented on #194
Or access to an env where this is happening would love be helpful.

[2019-01-14 05:37] contactashish13 opened #196 "Fatal error: Uncaught ArgumentCountError: Too few arguments to function Feedzy_Rss_Feeds_Admin_Abstract::feedzy_retrieve_image(),"
ref https://wordpress.org/support/topic/fatal-error-troubleshooting/

[2019-01-14 05:42] contactashish13 commented on #196
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/197

[2019-01-14 12:41] mileamadalin opened #198 "Adding error message when no items in feed"
@contactashish13 we have a suggestion from one of our users that want to be able to add a message to show when the feed is empty.

Here is the user message:
"
How can I add a personalized error message when there are no items in the requested RSS feed? There is no error or message, for now, nothing is displayed.

I didn’t find any examples using feedzy_default_error in case this can be used; or is

[2019-01-15 06:30] contactashish13 commented on #198
PR: https://github.com/Codeinwp/feedzy-rss-feeds/pull/199

this has been added as an additional attribute to the shortcode `error_empty`

[2019-01-17 17:17] SilviuDinu commented on #194
I encountered the same issue while trying to replicate this ticket's issue -> https://wordpress.org/support/topic/feedzy-gutenberg-block/#post-11101109

Video of the issue + testing -> https://share.vidyard.com/watch/Aehgc8J7zS5YxrHAW3K2oC

A workaround for this would be to install the classic editor plugin and use it the old-fashioned way.

[2019-01-17 17:38] mileamadalin commented on #194
@HardeepAsrani I have tested on my local machine, several times in safari and chrome with the same results as Poonam and Silviu reported. If you want, I can give you access to my laptop with TeamViewer so you can make the tests.

Here is a test with a basic theme a clean install: https://drive.google.com/file/d/1EsJ6y5ERY9gAsHVtuDCja4QrWT9silP0/view

It works if we add it with shortcode.

[2019-01-22 10:03] purplecodes commented on #194
Tested this on poopy.life and I cannot replicate the issue.
Tested it on my own site and still cannot replicate it.

[2019-01-25 13:51] contactashish13 opened #200 "PHP Notice: Undefined index: follow in includes\abstract\feedzy-rss-feeds-admin-abstract.php on line 850"

[2019-01-25 13:53] contactashish13 commented on #200
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/201

[2019-01-26 07:06] contactashish13 opened #202 "changes for PHPCS (variable/property not in snake case)"

[2019-01-29 06:34] SilviuDinu opened #204 "Audio part"
Encountered a few situations where the feature of importing audio from feeds was the compelling argument for using Feedzy or even upgrade to Feedzy PRO.

I'm not sure how realistic this is, but I thought we should acknowledge this feature request.

One ticket link: https://secure.helpscout.net/conversation/760814666/178529/

[2019-01-30 09:42] contactashish13 commented on #193
PRs https://github.com/Codeinwp/feedzy-rss-feeds/pull/205 and https://github.com/Codeinwp/feedzy-rss-feeds-pro/pull/167

[2019-01-30 09:45] contactashish13 commented on #204
this is a pro feature. closed in preference to https://github.com/Codeinwp/feedzy-rss-feeds-pro/issues/166

[2019-01-30 09:45] #204 closed

[2019-01-30 11:00] contactashish13 commented on #194
@purplecodes @SilviuDinu @HardeepAsrani might be best if you could all screen share as only one out of the 3 of you is able to reproduce this issue.

[2019-01-30 11:48] mileamadalin commented on #135
@contactashish13 yes, checked and worked as expected. However, we'll re-do it a bit to make everything more clear.

[2019-01-30 11:48] #135 closed

[2019-02-08 12:54] contactashish13 commented on #155
@mileamadalin can you please respond to this or close this?

[2019-02-08 12:56] contactashish13 opened #208 "Multifeed shows an error and no content if even one feed has an error"
https://wordpress.org/support/topic/feedzy-widget-stopped-working-in-3-3-3/
https://wordpress.org/support/topic/feedzy-stopped-working-after-update/

these feeds can be tried
[code]

[2019-02-08 13:11] contactashish13 commented on #208
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/209

[2019-02-08 14:35] #208 closed

[2019-02-08 14:35] contactashish13 commented on #194
@HardeepAsrani @purplecodes can we close this? CC @mileamadalin

[2019-02-22 10:12] contactashish13 opened #211 "Invalid argument supplied for foreach() in includes\abstract\feedzy-rss-feeds-admin-abstract.php on line 61"

[2019-02-22 10:22] contactashish13 commented on #211
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/212

[2019-02-24 07:59] #211 closed

[2019-02-27 14:58] KoenJonguh opened #215 "Full content instead of description"
Hi, Is there any way i can show the whole post text instead of only the description?

[2019-03-05 05:27] Vishakha-Patel commented on #140
+1 https://secure.helpscout.net/conversation/790658750/182385/

To replicate the issue, I created a feed block with feed URL - https://www.heise.de/rss/heise-atom.xml. It seems to be coming with specific feed URLs only and not all.

[2019-03-05 08:10] contactashish13 commented on #140
@Vishakha-Patel I cannot reproduce this. Please share the exact steps and also try to reproduce it with and without Gutenberg. Please do this for all future tickets so that the ticket can be handled by the right person (Hardeep for Gutenberg).

[2019-03-07 12:31] diesocke opened #216 "Missing translation of "Feed has no items""
Problem: On https://www.altenheim-wahlscheid.de/karriere/ Feedzy RSS is used to display job offers. The feed is empty, when no posting is published. Because my superiors ask me to remove the posting when the job is taken, I repeatedly have an empty feed. The resulting message is posted in English: "Feed has no items." I can't find a corresponding string in feedzy-rss-feeds-de_DE.po.

Solution: Inc

[2019-03-07 12:41] diesocke opened #217 "Display Feedzy element only when feed contains postings"
Is it possible to offer a parameter to turn of display of the feed elements when the feed is empty?

[2019-03-08 07:56] Vishakha-Patel commented on #140
Hi @contactashish13

I don't think it is Gutenberg related only. I checked the issue with Elementor - http://prntscr.com/muyng8 And it comes on both Elementor and this visual editor - http://prntscr.com/muynaq.

Maybe, the following points help in replicating:

- Please use the same Feed URL - https://www.heise.de/rss/heise-atom.xml.
- My PHP Version 7.2.1
- WordPress version 5.1

The user is stil

[2019-03-11 09:51] contactashish13 commented on #140
@Vishakha-Patel the customer mentions "If I deactivate elementor the error message is no longer displayed". From your comment, I can't make out if you have tested without Elementor or not. Can you confirm that is the case?

[2019-03-14 10:41] Vishakha-Patel commented on #140
Hi @contactashish13,

I have tested with and without Elementor. Some Screenshots:

1. With Elementor: http://prntscr.com/mxqcoh
2. Feedzy Block:

- Backend: http://prntscr.com/mxqctf
- Frontend: http://prntscr.com/mxqd7a

3. Classic Editor:

- Backend: http://prntscr.com/mxqdfb,
- Frontend: http://prntscr.com/mxqdrn

Note: Classic Editor is enabled by using the plugin.

The warning displays even a

[2019-03-14 11:50] contactashish13 commented on #140
Unable to reproduce this on PHP 7.2, Windows, WP 5.1 with Elementor and Feedzy

[2019-03-18 13:57] SilviuDinu opened #218 "Blogspot feed considered as invalid"
a user on wp.org reported to us that a certain feed type is quite troublesome in some cases.

Ticket link -> https://wordpress.org/support/topic/i-cant-include-in-blogspot-sites-in-my-rss-page/#post-11326153

More exactly, this blogspot feed URL (http://thosewhocansee.blogspot.com/feeds/posts/default) is invalid when checked by Feedzy (screenshot -> http://prntscr.com/mzi5nc) but the feed validato

[2019-03-20 07:58] mileamadalin commented on #155
Let me know please what details you need.

A shortcode used by our user:

`[feedzy-rss feeds=”https://www.bing.com/news/search?q=%22show+jumping%22&FORM=HDRSC6&format=RSS, https://news.google.com/news/rss/search/section/q/%22show%20jumping%22/%22show%20jumping%22?hl=en&gl=US&ned=us, http://www.worldofshowjumping.com/documents.rdf?idz=32&cids=9678, http://www.worldofshowjumping.com/documents.rdf?id

[2019-03-20 08:19] mileamadalin commented on #194
@contactashish13 @HardeepAsrani I cannot replicate it anymore. We can close it from my point of view.

[2019-03-21 07:22] contactashish13 commented on #194
closing as per https://github.com/Codeinwp/feedzy-rss-feeds/issues/194#issuecomment-474730999

[2019-03-21 07:22] #194 closed

[2019-03-21 07:34] contactashish13 commented on #155
@mileamadalin from the point of view of investigation and narrowing it down to a bug, it would be helpful if the above type of shortcodes are tested with individual URLs and then, once it is determined that it is a problem with a specific URL, assigned to me. Is it bing? Is it google news? Is it a combination of both? - a definitive answer would help in resolving such cases faster.

I see that sil

[2019-04-02 04:42] contactashish13 commented on #215
@KoenJonguh if the feed contains the whole post text, you can use the filter `feedzy_item_filter` to extract the whole content from the feed and assign it to the element `item_description`

[2019-04-02 04:45] contactashish13 commented on #216
@diesocke this is part of the configuration window that pops up in the editor. You can add any text to the field `Message to show when feed is empty` which, if left empty, reads "Feed has no items"

[2019-04-02 04:45] #216 closed

[2019-04-02 05:23] contactashish13 opened #219 "Add filter to disable DB caching"
related to #218

![image](https://user-images.githubusercontent.com/12953439/55377797-348fa400-5534-11e9-8aba-34bbf48609c0.png)

[2019-04-02 05:31] contactashish13 commented on #218
@SilviuDinu there are 2 aspects to this.

1. You have tested only with gutenberg and not with classic editor. I have mentioned a few times on slack as well as individually that the testing needs to happen on both so that the bug can be resolved comprehensively (cc @mileamadalin @selul); please ensure that happens. @HardeepAsrani please look at this issue.

2. On classic editor, I get this error (p

[2019-04-02 05:32] contactashish13 commented on #219
@SilviuDinu as mentioned in #218, PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/220 solves the issue along with the filter below

[code]
Please add the filter to the documentation as well.

[2019-04-02 05:33] #215 closed

[2019-04-02 17:08] HardeepAsrani commented on #218
@contactashish13 Few things I noticed:

- This feel is invalid. This issue doesn't happen when I tried with other feeds of Blogger but only this site.

- Default RSS block doesn't work. If you use latest Gutenberg, it comes with a built-in RSS block which also can't display the feed. It fails (without debugging errors), but it still fails.

Seems to be an issue with the feed.

[2019-04-03 04:29] contactashish13 commented on #218
@HardeepAsrani the feed is not invalid. It works using the shortcode. You can test it and check for yourself. It works in conjunction with the #220. If it works there, it should work with Gutenberg too

[2019-04-03 07:35] contactashish13 opened #221 "Rename menu item in admin from Feedzy RSS to Feedzy"

[2019-04-03 07:36] contactashish13 commented on #221
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/222

[2019-04-03 07:39] contactashish13 commented on #141
closing till there are more use cases

[2019-04-03 07:39] #141 closed

[2019-04-03 07:46] contactashish13 commented on #89
@HardeepAsrani with your +1 can you also provide inputs as to who has requested this feature and in what manner? It will help me understand how to add this feature.

[2019-04-03 07:47] contactashish13 commented on #217
@diesocke is this related to https://github.com/Codeinwp/feedzy-rss-feeds/issues/216? If not, can you please mention a use case for this?

[2019-04-03 07:48] contactashish13 opened #223 "Tested upto 5.2"

[2019-04-03 21:27] HardeepAsrani commented on #89
It's been over a year so can't remember specifically. I really think this isn't needed as the pagination will really be JS tabs and not a real pagination.

[2019-04-03 21:36] HardeepAsrani commented on #218
@contactashish13 I tried this https://github.com/Codeinwp/feedzy-rss-feeds/pull/220/files and the same issue happen on both Classic and Gutenberg, the same error. Do we have to set something or it should fix it?

[2019-04-04 03:40] contactashish13 commented on #218
@HardeepAsrani as mentioned in #219 you have to return true in the filter

[2019-04-04 18:07] diesocke commented on #216
Is it included in a block added in the Gutenberg editor? I use the shortcode.

I did some research and found out that I can use error_empty="$STRING" in the shortcode to display that text when the feed is empty.

[2019-04-04 18:11] diesocke commented on #217
A use case would be to publish recent job offers on a site. Jobs would be posted with a certain category. Feedzy would show the feed of that category. However, if the job is taken the posting gets depublished, so the feed eventually gets empty.

In this case it would help, if the feed was not mentioned anymore. It should reappear  when there is a new job offer.

[2019-04-05 04:01] contactashish13 commented on #217
@diesocke you can use a message to show that the feed is now empty as per #216

[2019-04-05 04:01] #217 closed

[2019-04-05 05:05] contactashish13 opened #224 "Integration with amazon product API"
Adds amazon integration similar how we have with RSS feeds. The free version will contain widget/block that can embed content from amazon using different sources ( asin, raw xml). The pro version will contain import based on the same things as we have for feeds. For more inspiration https://codecanyon.net/item/woocommerce-amazon-affiliates-wordpress-plugin/3057503

[2019-04-08 05:24] contactashish13 opened #225 "Tags not closed when feed has no items"
https://wordpress.org/support/topic/code-error-26/

[2019-04-08 05:28] contactashish13 commented on #225
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/226

[2019-04-12 09:36] contactashish13 opened #227 "new PHPCS rules for strict comparison"

[2019-04-12 13:06] FitzChris opened #229 "Autodelete posts after a cetain time period"
I had a user who made a news aggregator site and the site has blown out to 2GB. I don't think there is an easy way, if any, to remove the old posts. Could we add something that would allow users to choose between 1 day, 7 days, 15 days, 30 days?

WP RSS Aggregator allows users to set length of storage and deletes anything outside the window.

[2019-04-15 03:58] contactashish13 opened #230 "CSS file being included on all pages"
ref https://wordpress.org/support/topic/css-file-loaded-everywhere/

[2019-04-15 04:19] contactashish13 commented on #230
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/231

[2019-04-15 04:38] contactashish13 commented on #229
closing this and moving to the pro repo: https://github.com/Codeinwp/feedzy-rss-feeds-pro/issues/192

[2019-04-15 04:38] #229 closed

[2019-05-02 07:54] contactashish13 opened #233 "Integrate Cypress.io"

[2019-05-02 07:59] contactashish13 commented on #223
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/234

[2019-05-06 05:21] contactashish13 opened #238 "Compare with WP RSS Aggregator"
reference https://secure.helpscout.net/conversation/832586352/186841

Can we see if there are somethings that plugin does better than us?

[2019-05-06 12:54] radu-themeisle commented on #238
I'll look into it but I suggest we also involve someone with more experience regarding Feedzy, mine is pretty limited.

[2019-05-08 20:57] HardeepAsrani commented on #218
@contactashish13 This feed is working now. However, whatever feed I choose, the frontend looks different than backend. For example, the description isn't visible in frontend on all the feeds, not just this. Did we change something?

[2019-05-13 11:55] HardeepAsrani commented on #218
https://github.com/Codeinwp/feedzy-rss-feeds/pull/239

[2019-05-17 07:26] SilviuDinu opened #241 "Feeds no longer display the description when using the Gutenberg block"
A couple of users reported that their feed URL has a description in their structure but Feedzy fails to display that description on the page.

The description is being displayed when loading the feed in the block but it's not being displayed when Previewing the page.

I have tested using the shortocde method and the Classic editor and it works.

Tickets:
- https://secure.helpscout.net/conversation

[2019-05-23 07:11] #218 closed

[2019-05-23 07:11] #219 closed

[2019-05-23 07:11] #221 closed

[2019-05-23 07:11] #223 closed

[2019-05-23 07:11] #225 closed

[2019-05-23 07:11] #227 closed

[2019-05-23 07:11] #230 closed

[2019-05-30 15:11] rodica-andronache opened #243 "Widgets options not visible in customizer"
![feedzy](https://user-images.githubusercontent.com/3266155/58642540-414b3100-8306-11e9-89ab-2ee8633ad4ae.png)

[2019-05-31 13:31] Vishakha-Patel opened #244 "Limit image size on mobile."
If we add thumbnail size in block settings around 400, it is cropped on mobile - https://nimb.ws/3zYkn2.

https://secure.helpscout.net/conversation/838233362/187364/

@contactashish13

[2019-05-31 17:28] poonam279 opened #245 "feedzy shortcode builder icon is not available in classic editor"
@contactashish13 Feedzy RSS icon that appears in the toolbar of classic editor is not available in version 3.3.6
![Screenshot 2019-05-31 at 10 51 11 PM](https://user-images.githubusercontent.com/27731529/58723221-2b696900-83f7-11e9-90cf-e2018a45f619.png)
Test website where you can see the issue: https://functional-fiordland.jurassic.ninja
WP user: demo
password: hpvhEHT3geao

[2019-06-03 03:04] contactashish13 commented on #244
@Vishakha-Patel I don't understand what you mean by `in block settings`. Can you provide the short code that you use or a test site where I can see this happening?

[2019-06-03 13:17] Vishakha-Patel commented on #244
@contactashish13

In the Feedzy block settings, image size is set to 400: https://nimb.ws/1NAmue
Without image: https://comfortable-musk.jurassic.ninja/feedzy-image-test/
With image: https://comfortable-musk.jurassic.ninja/feedzy-image-test-2/

Both cases, the image div is going out of the window on mobile - https://www.dropbox.com/s/n22hllwd9ohk5d9/Screenshot%202019-06-03%2018.43.26.png?dl=0.

Wh

[2019-06-04 06:46] contactashish13 commented on #244
@Vishakha-Patel in https://www.dropbox.com/s/n22hllwd9ohk5d9/Screenshot%202019-06-03%2018.43.26.png?dl=0 I don't see the issue. There is no horizontal scroll and thus the div does not go out of the window. I don't see the issue when I load those pages on a mobile UI either.

I do not understand the issue. It would be best if you can write down the exact steps to reproduce this.

[2019-06-04 13:01] Vishakha-Patel commented on #244
Hi @contactashish13 ,

The scrollbar is not coming. However, the image is going outside.

I have tried to recreate and explain in this video - https://nimb.ws/juAfPk.

The image should be responsive. If I change the size to 600, it should not load 600 size image for smaller devices.

[2019-06-04 13:06] Vishakha-Patel commented on #244
Hi @contactashish13,

Yes, the scrollbar is not there; however, the image is going outside the window. I have created a video here - https://nimb.ws/juAfPk.

If we change the size there as per video to 600 then it looks like this - https://www.dropbox.com/s/dcuh822yq7t7lo9/Screenshot%202019-06-04%2018.36.21.png?dl=0.

Ideally, the image should be responsive there.

[2019-06-05 12:01] stefan-cotitosu commented on #241
@contactashish13 Can you please check this?

More users are reporting this issue, two of them last week and one this week. This is only on HelpScout.

Thanks.

[2019-06-05 15:31] contactashish13 commented on #241
@stefan-cotitosu @HardeepAsrani is the go-to person for gutenberg related stuff.

[2019-06-05 15:42] HardeepAsrani commented on #241
@contactashish13 It was fixed in https://github.com/Codeinwp/feedzy-rss-feeds/pull/239

[2019-06-05 15:44] stefan-cotitosu commented on #241
@HardeepAsrani @contactashish13

Thanks, I didn't know that I should ping Hardeep for everything related to Gutenberg. Will do from now on.

So it should work properly on the next release of the plugin, great! 👍

[2019-06-06 12:41] contactashish13 opened #247 "Travis builds for PHP below 5.6 fail with latest WP"

[2019-06-06 12:48] contactashish13 commented on #247
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/248

[2019-06-06 12:49] #247 closed

[2019-06-06 12:57] contactashish13 commented on #244
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/246

@Vishakha-Patel can you please test this with different image sizes, different devices and all 3 templates (default, style1 and style2) and let me know if you find unexpected behavior?

[2019-06-07 04:23] contactashish13 commented on #245
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/249

[2019-06-07 05:25] contactashish13 commented on #243
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/250

[2019-06-07 05:26] contactashish13 commented on #155
closing this as no response

[2019-06-07 05:26] #155 closed

[2019-06-14 07:50] contactashish13 opened #252 "PHP Notice while loading the feed in latest WP and PHP"
[code]
This happens despite the latest WP and PHP

ref: https://wordpress.org/support/topic/error-message-the-data-could-not-be-converted-to-utf-8/

[2019-06-14 08:03] contactashish13 commented on #252
for me this was happening because of an empty feed url. We need more valid instances of this.

[2019-06-14 15:03] contactashish13 opened #255 "Add option for rel="noreferrer" to links"

[2019-06-15 06:31] #241 closed

[2019-06-15 06:31] #243 closed

[2019-06-15 06:31] #244 closed

[2019-06-15 06:31] #245 closed

[2019-06-24 14:12] contactashish13 opened #256 "Changes in readme"
in https://sl.wordpress.org/plugins/feedzy-rss-feeds/

- Specify that the templates are part of PRO
![image](https://user-images.githubusercontent.com/12953439/60025885-317dfd00-96b8-11e9-9fe2-fd1083ed3a96.png)

- remove translators links
![image](https://user-images.githubusercontent.com/12953439/60081270-19a58800-974f-11e9-8826-e41decf5c3ce.png)

[2019-06-24 14:55] contactashish13 commented on #256
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/257

[2019-06-26 16:20] svoeth opened #258 "Add option to remove title entirely"
Feature request:

It would be nice to be able to remove the title entirely instead of getting three dots.

For example by setting title="0" and replacing lines 841 to 845 in /includes/abstract/feedzy-rss-feeds-admin-abstract.php by

[code]

[2019-07-01 05:12] contactashish13 opened #259 "AMP URLs do not show the image"
ref https://wordpress.org/support/topic/amp-urls-not-showing-images/

This is because we show the images as a `span` with an inline `background-image`

[2019-07-01 07:20] contactashish13 commented on #259
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/260 adds an additional parameter to the shortcode called `amp`. This is `yes` by default and can be made `no`. If `yes`, each image `span` will be appended with an `amp-img` tag so that all AMP requests will automatically show the image.

@mileamadalin can you please add this to the documentation and confirm to me either here or on slack when it

[2019-07-01 07:30] contactashish13 commented on #258
@svoeth thank you for your suggestion. We will definitely try to incorporate this in a future release

[2019-07-01 17:48] stefan-cotitosu opened #261 "Add option to use default sorting when generating the shortcode"
@contactashish13 if I want to display feeds directly from the URL, right now I have to sort them either by the date or alphabetically.

Can we add another sorting option called `default` which will display the feeds directly as they are in the feed URL? So no sorting at all.

What do you think?

[2019-07-01 22:02] ineagu opened #262 "change feedzy icon"
@contactashish13 here is what one user said as uninstall reason: https://i.imgur.com/OOia3QN.png, that feedzy image is slowing down his site, we can compress that image and then test again.

is impressive how people care a lot about very small things :))

[2019-07-02 05:42] contactashish13 commented on #261
@stefan-cotitosu I guess you are referring to the feedzy shortcode creator popup? According to the code, if the `sort` parameter does not exist in the shortcode the feed URL is used directly. I believe an option needs to be added to the popup in this case. Can you please confirm the behavior as well?

[2019-07-02 05:49] contactashish13 commented on #262
@ineagu One site gave me a 0% reduction and another only a 7.1% reduction in size. I'm not sure how to achieve the 26% shown in the screenshot. Can we use optimole @selul? I've attached the image.
![feedzy-default](https://user-images.githubusercontent.com/12953439/60485590-1e23f080-9cbb-11e9-8d70-151d235558b0.jpg)

Also @ineagu can I get access to these uninstall reasons? Looks like we can learn

[2019-07-02 08:49] stefan-cotitosu opened #263 "Make feeds with featured image more responsive"
On mobile devices, the default layout is not so responsive when the featured image is disaplyed in the feeds.

### Current layout
![feedzy-not-responsive](https://user-images.githubusercontent.com/26867648/60498404-2d0ca200-9cbf-11e9-8320-afc9e2667747.png)

### How do I see it
The title should be below the featured image, which can be either centered or left alined.
![feedzy-responsive-suggestions

[2019-07-02 08:50] ineagu commented on #262
oki, just try to put in on a site and run pagespeed insights and make sure they are ok with it :)

@selul can help with uninstall reasons

[2019-07-03 10:36] contactashish13 opened #264 "In the shortcode, separate behavior of meta into author, date and time"
Currently `meta` takes care of both `author`, `date` and `time` but if someone wants just one, they have no simple recourse

[2019-07-04 10:37] contactashish13 commented on #264
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/265

Documentation: https://docs.themeisle.com/article/1089-how-to-display-author-date-or-time-from-the-feed

The shortcode is backward compatible with the old values `yes` (implies author, date, time) and `no`.

@HardeepAsrani can you add this support to Gutenberg too?

[2019-07-08 21:27] HardeepAsrani commented on #264
@contactashish13 Only supported values are author, date & time, right? Are we planning on adding something later too?

Asking just to know if I should leave a text field or checkboxs.

[2019-07-09 03:53] contactashish13 commented on #264
Can't think of any other field.

On Jul 9, 2019, 02:57, at 02:57, Hardeep Asrani <notifications@github.com> wrote:

[2019-07-09 14:05] contactashish13 commented on #261
@stefan-cotitosu let me know if this is still an issue or we can close it.

[2019-07-09 17:16] contactashish13 commented on #262
@selul

![image](https://user-images.githubusercontent.com/12953439/60909067-f2949d80-a29a-11e9-96cf-7c9f5394ce4d.png)

We are back to my original question.

Do you have any suggestions which site I can use to achieve this reduction?

[2019-07-10 05:34] contactashish13 commented on #258
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/266

[2019-07-10 06:10] selul commented on #262
@contactashish13 can you share with me the URL which you tested this on?

[2019-07-10 06:52] contactashish13 commented on #262
@selul https://solid-minnow.jurassic.ninja/2019/07/04/hello-world/

[2019-07-10 06:56] selul commented on #262
@contactashish13 i'm not able to see the feedzy logo?

[2019-07-10 06:57] contactashish13 commented on #262
@selul it is loaded in the background of the image from the feed so that if the feed image is not there, the default image shows. You can see in page speed it shows all 3 images

[2019-07-10 06:58] selul commented on #262
not sure if this is happening, on the report I'm not able to see any reference to the logo
https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fsolid-minnow.jurassic.ninja%2F2019%2F07%2F04%2Fhello-world%2F

[2019-07-10 07:00] contactashish13 commented on #262
@selul it was happening last night when I left a comment. I don't know why its not happening now.

[2019-07-10 07:04] selul commented on #262
ok, let me know when you have a URL.

[2019-07-10 07:04] contactashish13 commented on #262
@selul can you tell me the intent of the exercise and what we want to accomplish?

[2019-07-10 07:06] selul commented on #262
There is no exercise, I'm trying to help you by checking the issue reported and see what could have been wrong with your approach on fixing the issue.

[2019-07-10 07:08] contactashish13 commented on #262
![image](https://user-images.githubusercontent.com/12953439/60947895-56f14480-a30f-11e9-9924-74ee723f8118.png)

The feedzy image is there in the source.  I don't know why page speed does not show. It showed yesterday as I've shown the screenshot. It showed that the image could be compressed. So I'm confused about what wrong approach could be.

[2019-07-10 07:20] selul commented on #262
Ok, so I was able to find this on the desktop tab
http://snpy.in/iA8Mb2

it seems that the report is not tied to the image compression, more related to the fact that you serve an image that is bigger than the container of that image.

In this case, the container is 150x150 and the image is 250x250.

One thing that we could do is to replace that using an SVG. I think we can use the SVG icon from th

[2019-07-10 07:44] radu-themeisle commented on #140
@contactashish13 I too have stumbled upon this PHP error and I think this time you can also replicate it.
I was testing fetching a YouTube playlist in Feedzy Categories and I got the error:
- YT playlist: thttp://prntscr.com/ocz0sx
- YT channel: http://prntscr.com/ocz1gc

These are the feeds I am using:
https://www.youtube.com/feeds/videos.xml?channel_id=UC6C0TVlx75GPEQc8Kfkh0oQ
https://www.youtub

[2019-07-10 08:39] contactashish13 commented on #140
@radu-themeisle can you also post the entire shortcode you tried?

[2019-07-10 09:05] ineagu opened #267 "no error message + allow simple urls"
@contactashish13 I was trying feedzy on gutenberg and I got 2 issues :

1. When I entered a bad feed "https://codeinwp.com" and clicked load feed, nothing happened, we should display something like, this is not a valid feed

2. More than that I assumed is easy enough for us to identify feeds for wp website, or in case feed doesn't exist to automatically check for user_site / feed/ as well and if t

[2019-07-10 09:06] ineagu opened #268 "onboarding screen looks bad on laptop"
On what seems to be the most popular resolution here is how the screen looks like :

https://www.dropbox.com/s/rna8pu6sksc9fw3/Screenshot%202019-07-10%2010.05.34.png?dl=0, probably we can just stack components of the page here.

cc @contactashish13

[2019-07-10 09:11] ineagu commented on #262
@contactashish13 sorry if I wasn't clear when reporting.

The problem for me was not the image size but what those speed testing tools are saying, so I've tried now to create a site with that image in it : https://hollow-nurse.jurassic.ninja/2019/07/10/sfd/ and tested those tools.

seems like both gtmetrix and pagespeed doesn't have any issue with the image size, I guess can be an old version of t

[2019-07-10 09:25] radu-themeisle commented on #140
I used the [Feedzy option from the editor](http://prntscr.com/od0qew) so I only pasted the slug, but here's the resulting shortcode anyway: `[feedzy-rss feeds="cwp" feed_title="yes" refresh="12_hours" sort="date_desc" meta="yes" summary="yes" price="yes" columns="1" ]`

[2019-07-11 06:04] contactashish13 commented on #268
@ineagu this is how they will look now:

![screencapture-localhost-90-wp-admin-admin-php-2019-07-11-11_30_44](https://user-images.githubusercontent.com/12953439/61025800-6637c700-a3cf-11e9-887a-0dc6f9a375fd.png)
![screencapture-localhost-90-wp-admin-admin-php-2019-07-11-11_31_52](https://user-images.githubusercontent.com/12953439/61025834-84052c00-a3cf-11e9-8fd4-64e2e5afe9f4.png)

PR https://githu

[2019-07-11 06:14] contactashish13 commented on #267
@ineagu

1. this is a problem in the classic editor as well where we assume that the user has checked validity of the feed. If its not a valid feed, we show an error message - feed has no items.

Maybe we can add a link to https://validator.w3.org/feed/ on both editors and the user can automatically check if the feed is valid or not. cc @HardeepAsrani

2. simplepie internally discovers the feed ur

[2019-07-11 07:30] contactashish13 commented on #140
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/271

@radu-themeisle can you try this?

[2019-07-11 08:39] ineagu commented on #268
probably those videos can stick to the original ratio, right now is squared forced. Either way those would probably need design work at some point.

[2019-07-11 08:43] ineagu commented on #267
1. ok, on gutenberg we don't show even that.

2. I get it, but simplepie does an awful job if they can't discover the feed to a wp site automatically.

[2019-07-11 09:27] contactashish13 commented on #267
@HardeepAsrani can you add a link to the feed validator? :point_down:

![image](https://user-images.githubusercontent.com/12953439/61039190-eb30d980-a3eb-11e9-833e-10f2546068f0.png)

PR: https://github.com/Codeinwp/feedzy-rss-feeds/pull/272

@ineagu simplepie does not have a problem: http://simplepie.org/demo/?feed=https%3A%2F%2Fcodeinwp.com. In our code we use `force_feed` which forces simplepie

[2019-07-11 09:37] ineagu commented on #267
ok, so probably in cases when we don't get a result, redo the request with
force_feed off?

On Thu, Jul 11, 2019 at 10:28 AM contactashish13 <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2019-07-11 09:40] contactashish13 commented on #267
yep by using `add_filter( 'feedzy_force_feed', '__return_false' )`

[2019-07-11 10:24] stefan-cotitosu commented on #261
@contactashish13 Yes, an option should be added to the pop-up.

Since I am using Gutenberg editor, I can't see the shortcode and its parameters.
I understand your point, and it would be easy to remove the parameter from the shortcode, it's just that you need [Classic Editor plugin](https://wordpress.org/plugins/classic-editor/) in order to see it.

With Gutenberg you can only used the same options

[2019-07-11 11:10] contactashish13 commented on #261
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/273

@HardeepAsrani can you also add an option for this? Basically add `sort=''` or do not add the `sort` parameter.

[2019-07-12 13:44] radu-themeisle commented on #140
@contactashish13 tested and it works

[2019-07-13 05:19] HardeepAsrani commented on #261
@contactashish13 I'm confused. What exactly did we change here?

[2019-07-13 05:33] contactashish13 commented on #261
@HardeepAsrani we added a default option that was missing to support `sort=""` (absence of the `sort` parameter)

[2019-07-24 11:49] radu-themeisle opened #277 "Include shortcodes to the filter calls"
A user has a [small request](https://secure.helpscout.net/conversation/908260842/197117/): _"I need to detect the shortcodes to both of these filters in the callback functions. Can you "add" the shortcodes to the filter calls please?"_

He also provided the following solution:
- Can you change line: 784 in function: public function get_feed_array( $feed_items, $sc, $feed, $feed_url, $sizes )
from:

[2019-07-29 06:07] contactashish13 opened #278 "Allow ability to show date/time in WP timezone"
ref https://secure.helpscout.net/conversation/907859464/197086/

Right now the date fetched from the feed is shown in UTC format therefore dates such as `<pubDate>Tue, 17 Dec 2019 00:00:00 +0100</pubDate>` end up showing as `16 Dec 11 PM`. User should be able to specify if it should be shown in UTC (which is the default), in the local blog timezone or in the raw feed timezone.

[2019-07-29 06:09] contactashish13 commented on #264
@HardeepAsrani related to this is https://github.com/Codeinwp/feedzy-rss-feeds/issues/278. Please check the PR against that so that you know what additional items can be added.

[2019-07-29 07:11] contactashish13 commented on #278
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/279 allows the ability to add

- `tz=local` for converting the feed time into local time
- `tz=gmt` for converting the feed time into UTC time (default)
- `tz=no` for NOT converting the feed time and assuming that the time in the feed is already in UTC

[2019-07-29 21:35] HardeepAsrani commented on #267
Added in https://github.com/HardeepAsrani/feedzy-rss-feeds/commit/6c20261af21dfc3374526b7403487feea8d4e9ab

[2019-07-29 22:13] HardeepAsrani commented on #278
@contactashish13 I tried 3.3.8 branch and tried this and it's not working, as shown in the video: https://www.loom.com/share/0e9178cde6524f2087e335af2b0f3949

Am I doing something wrong?

[2019-07-30 06:23] contactashish13 commented on #278
@HardeepAsrani the dates in the feed are already in UTC. The plugin shows it in UTC by default and `tz=gmt` does the same thing. Your WP install is likely to be in GMT as well if `tz=local` gives you the same. Better to test it out using the feed in the HS ticket in the issue

[2019-07-30 06:48] contactashish13 commented on #267
@HardeepAsrani do you want to create a PR that I can merge?

[2019-07-30 21:35] HardeepAsrani commented on #267
Yea, still doing changes so didn't open PR. Forgot to reference this issue in my commit so that's why referenced it in the comments.

[2019-07-30 21:48] HardeepAsrani commented on #278
@contactashish13 I tried this feed and it seems to be the same: https://flevumrss.flevumcrm.veiligkantoor.com/RSSFeed.aspx?label=flevum%20forum%20network

It turns out that if I set my timezone to UTC + X in settings, it works just fine.

However, if I just set it to a place, like Kolkata, then it doesn't work. It stays the same whether I any location. So that needs to be fixed. Alternatively, I s

[2019-07-30 23:12] HardeepAsrani commented on #264
@contactashish13 The issue here is that the user can't hide the output. If they leave it empty, it shows everything. There should be an easier way to hide the value.

[2019-07-31 04:17] contactashish13 commented on #264
`meta=no` is for hiding the output

[2019-07-31 05:35] contactashish13 commented on #278
@HardeepAsrani PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/281 (merged) addresses this. Thanks for testing!

[2019-07-31 21:35] HardeepAsrani commented on #264
@contactashish13 That should be mentioned in the documentation at least. I guess putting any random string will result in nothing being displayed.

[2019-08-12 05:41] contactashish13 commented on #277
Closing this as this was no longer required after discussing with the user.

[2019-08-12 05:41] #277 closed

[2019-08-12 07:45] #261 closed

[2019-08-12 07:45] #278 closed

[2019-08-12 08:07] #140 closed

[2019-08-12 08:07] #255 closed

[2019-08-12 08:07] #256 closed

[2019-08-12 08:07] #258 closed

[2019-08-12 08:07] #259 closed

[2019-08-12 08:07] #262 closed

[2019-08-12 08:07] #263 closed

[2019-08-12 08:07] #264 closed

[2019-08-12 08:07] #267 closed

[2019-08-12 08:07] #268 closed

[2019-08-15 05:27] contactashish13 opened #286 "Import misinforms count of items imported if filter feedzy_insert_post_args is used to skip creation of posts"

[2019-08-17 05:32] contactashish13 opened #287 "Change upgrade link"
https://github.com/Codeinwp/themeisle/issues/795

[2019-08-19 15:55] contactashish13 opened #288 "Notice: Undefined index: proxy in includes\admin\feedzy-rss-feeds-admin.php on line 480"
This **only** happens when something in the settings page has been selected. It does not happen in the default settings when settings are **empty**.

[2019-08-19 16:05] contactashish13 commented on #288
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/289

[2019-08-20 07:19] #287 closed

[2019-08-20 07:19] #288 closed

[2019-08-23 15:07] carlosinho opened #293 "Featured image URL ignored"
When I set the featured image URL manually - to be the same direct path to an image for every import, or when I use https://source.unsplash.com/random, the URL is ignored completely. No image is being imported.

[2019-08-23 16:43] ineagu commented on #293
cc @contactashish13

[2019-08-30 05:23] contactashish13 opened #295 "Ellipsis after summary cannot be replaced by using the filter feedzy_summary_output"
ref https://wordpress.org/support/topic/is-read-more-link-hook-for-pro-only/

This is because we use `[…]` instead of `[&hellip;]`

[2019-08-30 05:27] contactashish13 commented on #295
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/296

[2019-09-12 17:33] contactashish13 opened #297 "Widget: Feed has no items cannot be overridden"
ref https://wordpress.org/support/topic/option-to-override-error-if-feed-is-empty/

[2019-09-12 18:10] contactashish13 opened #299 "Summaries ending with E getting truncated"
ref https://wordpress.org/support/topic/feedzy-cutting-off-the-end-of-summaries-that-end-in-e-or-ls/

happens because of the `chop` in the below code

[code]

[2019-09-14 05:11] contactashish13 opened #301 "Integrate Cypress.io"
related to https://github.com/Codeinwp/feedzy-rss-feeds-pro/issues/243

[2019-09-14 05:38] contactashish13 commented on #301
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/302

[2019-09-18 14:25] IosifGabriel opened #306 "Missing link label in the Feedzy shortcode in classic editor"
In Other Options, there should be a link at **here** but is displayed as **%1$shere%2$s**
Tested by @SilviuDinu  as well.

Screenshot here -> http://prntscr.com/p7spnz
version. 3.3.10 (latest)

[2019-09-24 04:26] contactashish13 commented on #306
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/307

[2019-09-24 11:48] #297 closed, assigned to nobody

[2019-09-24 11:48] #299 closed

[2019-09-24 11:48] #301 closed

[2019-09-24 11:48] #306 closed

[2019-10-01 20:52] omar-otieku opened #310 "Feed to Post: Next Run Not Executing"
With the latest version of Feedzy Lite (v3.3.11) and Feedzy (v1.6.8), I have set a new post import job. First execution and the run now feature work as expected, however the "Next Run" feature counts up instead of down to a next execution time and wp_cron never executes new posts. Has the scheduling been mixed up?

[2019-10-04 04:50] contactashish13 commented on #310
@omar-otieku can you please provide a screen shot/recording to clarify what you mean by "counts up instead of down to a next execution time"?

[2019-10-04 14:59] omar-otieku commented on #310
This screen shot shows last execution time 17 hours ago…
![Screen Shot 2019-10-04 at 10 40 06 AM](https://user-images.githubusercontent.com/3989609/66216491-8f48ba80-e693-11e9-8194-d30844e54ae3.png)

This screenshot is in the next minute showing the next execution time increasing…
![Screen Shot 2019-10-04 at 10 40 20 AM](https://user-images.githubusercontent.com/3989609/66216516-9cfe4000-e693-11e9

[2019-10-04 14:59] #310 closed

[2019-10-08 04:18] contactashish13 opened #311 "Changing cache time for widget"
https://wordpress.org/support/topic/changing-cache-time-for-widget/

[2019-10-08 04:40] contactashish13 opened #312 "Undefined index: error_empty in /includes/admin/feedzy-wp-widget.php on line 244"
https://wordpress.org/support/topic/undefined-index-150/#post-12007359

Cannot replicate this.

[2019-10-08 05:17] contactashish13 commented on #312
@stefan-cotitosu can you please see if you can reproduce this and if you can, share the instance for me to troubleshoot?

[2019-10-10 10:21] selul opened #313 "remove dev files for dist zip"
@contactashish13  the distribution zip contains some development files which should be missing

http://snpy.in/6jpBKG

i.e cypress files, docker, etc.

You can remove those by adding in distignore file.

You should have this in mind for every new file that you add.

[2019-10-18 09:42] contactashish13 opened #315 "Test with WP 5.3"
@HardeepAsrani can you check gutenberg related components here?

[2019-10-31 12:26] stefan-cotitosu commented on #312
@contactashish13 I am not able to replicate the issue.

I have tested it in a widget, as per the notice, with both a valid and an invalid feed. The notice didn't show up in either case.

Let me know if I can help you with anything else here.

[2019-10-31 13:08] stefan-cotitosu commented on #311
@contactashish13 thanks for the suggestion, I have created the guide.
https://docs.themeisle.com/article/1159-changing-the-caching-time-interval-in-feedzy-widget

Let me know if there is something that we can improve here. I thought on creating a plugin as well, but I assume that the value can be changed, therefore a plugin would require an input field for the user, and I am not so comfortable wit

[2019-11-01 04:03] contactashish13 commented on #311
@stefan-cotitosu I think having documentation is good enough.

[2019-11-01 04:03] #311 closed

[2019-11-11 06:19] #313 closed

[2019-11-11 06:19] #315 closed

[2019-11-11 08:11] HardeepAsrani opened #324 "Loose Item Character Limit Settings Gutenberg"
There are some issues with description length which were reported in https://wordpress.org/support/topic/loose-item-character-limit-settings-on-page-edit-in-gutenberg-blocks/

Steps to reproduce:
– Start a new Page
– Use of your Gutenberg Block in new WP Editor (Block “Feedzy RSS Feeds”)
– Set in “Item Options” the “Description Character Limit” to 300
– Save with “Update” (Publish) Button
– Close

[2019-11-11 08:12] HardeepAsrani commented on #324
Addressed in https://github.com/Codeinwp/feedzy-rss-feeds/pull/323

[2019-11-16 06:11] contactashish13 opened #325 "Item titles are shown as they are even if they contain HTML entities"
https://wordpress.org/support/topic/feed-results-displaying-instead-of/

[2019-11-16 06:15] contactashish13 commented on #325
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/326

[2019-11-25 08:18] contactashish13 opened #327 "Widget does not use all settings configured"
The following parameters are part of the widget but they are not used when displaying:

- sort
- refresh
- follow
- http
- mapping

ref https://wordpress.org/support/topic/there-is-a-bug-with-elementor/

[2019-11-25 08:32] contactashish13 commented on #327
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/328 and https://github.com/Codeinwp/feedzy-rss-feeds-pro/pull/268

[2019-11-26 12:50] stefan-cotitosu commented on #324
A similar setting is lost when using the Feedzy Gutenberg Block.

The number of feeds resets to 5, the exact steps mentioned above by Hardeep can be used to replicate the issue.

- set the number of feeds to a different value than 5
- publish the page
- view page
- edit it back
- the number is 5 again

![feedzy-nb-of-feeds-gutenberg](https://user-images.githubusercontent.com/26867648/69634958-0418

[2019-11-30 07:07] #324 closed

[2019-11-30 07:07] #325 closed

[2019-11-30 07:07] #327 closed

[2019-12-05 15:12] contactashish13 opened #333 "Show detailed error when user is logged in, if feed is not working"
Right now we show "Feed has no items". This isn't very helpful so maybe we can show a detailed error if the user who has created the post is logged in. We can also show a disclaimer "This is shown only to you as you created the feed" so that the user does not feel that everyone is seeing the details.

[2019-12-09 15:36] contactashish13 commented on #333
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/334

[2019-12-16 09:57] contactashish13 opened #335 "If SSL error occurs, auto retry by ignoring that error"
If an HTTPS feed URL is provided and it fails, we fall back to using the raw XML feed as the source. Instead of that, we can auto retry by ignoring the SSL verification. If that fails only then we use the raw XML feed.

[2019-12-16 12:29] contactashish13 commented on #335
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/336

[2019-12-25 07:20] contactashish13 commented on #89
Looks like https://secure.helpscout.net/conversation/613052190/164622/ is relevant. Can introduce an `offset` to the shortcode params so that the feed is read from that item onwards.

[2019-12-26 10:05] contactashish13 opened #338 "Max number of items not being saved in block editor"
Discovered as part of #89

[2019-12-26 10:05] contactashish13 commented on #89
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/337 adds this. Also fixes https://github.com/Codeinwp/feedzy-rss-feeds/issues/338

[2019-12-27 10:41] contactashish13 opened #342 "when using multiple sources, show feed title"
From uninstall feedback:

I want to display latest content from multiple sources (which   you do) but I want finer control over cache/fetch per source so that when the   cache expires the aggregator isn\'t trying to retrieve from a dozen or more   sources at once and slowing everything down. **Allied with that would be need   to show feed title (not just item title and as opposed to author) when

[2019-12-28 07:17] contactashish13 commented on #342
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/343 adds support for an additional meta attribute called `multiple_meta` that will only be relevant/used for multiple feeds.

[2019-12-31 05:23] contactashish13 opened #346 "Additional Class(es) in Gutenberg are not used"
ref https://wordpress.org/support/topic/two-missing-features-or-is-it-me/

[2019-12-31 05:54] contactashish13 commented on #346
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/347 and https://github.com/Codeinwp/feedzy-rss-feeds-pro/pull/286

[2019-12-31 08:33] #89 closed

[2019-12-31 08:33] #333 closed

[2019-12-31 08:33] #335 closed

[2019-12-31 08:33] #338 closed

[2019-12-31 08:33] #342 closed

[2019-12-31 08:33] #346 closed

[2020-01-01 05:04] contactashish13 opened #349 "Gutenberg: bug with handling numerics"
ref https://wordpress.org/support/topic/only-displaying-5-posts-in-front-end/

[2020-01-01 05:11] contactashish13 opened #350 "Allow users to edit author/feed source combination"
related to https://github.com/Codeinwp/feedzy-rss-feeds/issues/342

[2020-01-01 05:12] #350 closed

[2020-01-01 05:17] contactashish13 opened #352 "Cypress: add support for block editor"

[2020-01-03 08:24] contactashish13 opened #354 "PHP Fatal error: Call to undefined method Feedzy_Rss_Feeds_Util_SimplePie::set_curl_options()"
[code]

[2020-01-03 08:38] contactashish13 commented on #354
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/355

[2020-01-03 08:50] #349 closed

[2020-01-04 05:54] contactashish13 commented on #352
PRs https://github.com/Codeinwp/feedzy-rss-feeds/pull/356 and https://github.com/Codeinwp/feedzy-rss-feeds-pro/pull/289

[2020-01-06 04:30] contactashish13 opened #357 "Allow user to dictate order of meta data"
ref: https://wordpress.org/support/topic/great-rss-aggregator-with-a-few-small-issues/

The pre-set order is author, date, time, categories

[2020-01-06 05:41] contactashish13 commented on #357
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/358

[2020-01-06 08:36] contactashish13 opened #359 "Do not use force_feed for multiple URLs"
The current implementation may cause an unforeseen bug as multiple feeds may or may not be valid feeds.

[2020-01-06 09:23] contactashish13 commented on #359
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/360

[2020-01-06 11:49] rodica-andronache opened #361 "Notice: Undefined index: tab"
I get this notice after clicking on Feedzy > Support in the main WP menu. Once I click on the More Featured tab, the notice disappears.

![download](https://user-images.githubusercontent.com/3266155/71816472-5d2c6780-308b-11ea-9ec2-c80440261adb.png)

[2020-01-06 12:54] rodica-andronache opened #363 "Weird behaviour for default Number of Items"
Possibly related to https://github.com/Codeinwp/feedzy-rss-feeds/issues/349.
For **Number of Items**, when you delete the value ( to enter a new one ) it gets reset to 5, but the feeds disappear completely in the editor until you change the number of items again ( on the front-end the feeds display correctly )

https://www.loom.com/share/d812b761d3ef43ebae7c34235db8d414

[2020-01-06 17:26] Manni79 commented on #354
Hello, found this after posting an WP forums. Do I have the same Error? Any chance to fix it fast?

https://wordpress.org/support/topic/fatal-error-call-to-undefined-method-feedzy_rss_feeds_util_simplepie/

[2020-01-07 05:52] #354 closed

[2020-01-07 05:52] #357 closed

[2020-01-07 05:52] #359 closed

[2020-01-07 08:14] contactashish13 opened #366 "Cant see change log"
https://wordpress.org/plugins/feedzy-rss-feeds/#developers

[2020-01-07 08:27] contactashish13 commented on #366
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/367

[2020-01-08 05:53] contactashish13 opened #369 "Gutenberg: Offset works correctly in the front end but not in the backend"
https://wordpress.org/support/topic/only-displaying-5-posts-in-front-end/#post-12301231

related to #89

Display 10, Skip 1 means show 10 items from the 2nd item onward (current behavior shows 9)
Display 7 Skip 3 means show 7 items from the 3rd item onward (current behavior shows 4)

[2020-01-08 09:12] contactashish13 commented on #369
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/370

[2020-01-08 11:02] rodica-andronache commented on #369
https://github.com/Codeinwp/feedzy-rss-feeds/pull/370 is working well for me

[2020-01-09 13:07] rodica-andronache opened #371 "Gutenberg: Allow user to dictate order of meta data"
This https://github.com/Codeinwp/feedzy-rss-feeds/issues/357 is not working in the Gutenberg editor

[2020-01-10 04:10] #366 closed

[2020-01-10 04:11] #352 closed

[2020-01-15 08:33] contactashish13 commented on #363
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/374

[2020-01-15 08:43] contactashish13 commented on #371
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/375

[2020-01-19 00:28] ganijon-dev opened #376 "WooCommerce Add to Cart Button and View Product in Russian Language"
Add to Cart and View in Cart button shows inline and View in Cart Button shows totally wrong instead of displaying up and down
![Untitled](https://user-images.githubusercontent.com/50183519/72672487-c937a400-3a6b-11ea-9f9a-324ef5c4d884.png)

[2020-01-20 15:44] rodica-andronache commented on #371
@contactashish13 There's one case, where it's not working as expected, in Gutenberg.

You can't **hide the meta options**. When the field is empty, even though no meta appears in the editor, they are displayed on the frontend.

![download (1)](https://user-images.githubusercontent.com/3266155/72739384-37838000-3bac-11ea-8508-d230c5c7482b.png)
![download (2)](https://user-images.githubusercontent.c

[2020-01-20 15:54] rodica-andronache commented on #363
@contactashish13 is working well. eyepatch is failing though

[2020-01-21 04:04] contactashish13 commented on #363
@rodica-andronache eyepatch has been failing for over a year on all PRs - I don't think it is relevant anymore. @selul?

[2020-01-21 06:13] contactashish13 opened #377 "Inconsistent behavior with certain valid feed URLs"
URLs such as https://defend.wikileaks.org/feed/ are valid. simple pie demo displays the feed items but

[code]
displays them sometimes and other times displays the error

[code]
and other times displays multiple errors

[code]

[2020-01-21 06:59] selul commented on #363
I don't know whats going on there.

Feel free to fix it or drop the support for it as you please.

[2020-01-21 08:25] contactashish13 commented on #371
@rodica-andronache using `no` in the box is equivalent to `meta="no"`.  I've added a help text to make this more obvious.

PS - In the shortcode `meta=""` and leaving out `meta` should work the same way as `meta="no"` so the behavior of `meta=""` is a minor bug.

[2020-01-21 09:22] rodica-andronache commented on #371
@contactashish13 ok, it's working well with `no` in the box. And the text you added is useful.

But when the box is empty, there is still the issue with the meta not displaying in the editor, only on the frontend.

![download (1)](https://user-images.githubusercontent.com/3266155/72739384-37838000-3bac-11ea-8508-d230c5c7482b.png)

[2020-01-21 09:28] rodica-andronache commented on #376
Hi @ganijon-dev,
This doesn't look to be related to Feedzy, but with the theme you are using ( ShopIsle most likely ).
Could you share your site URL so I can see the issue?

[2020-01-21 10:56] contactashish13 commented on #371
@rodica-andronache fixed this.

[2020-01-23 04:52] contactashish13 opened #379 "Add individual filters for each meta data"
ref https://wordpress.org/support/topic/is-there-a-way-to-show-date-as-x-days-months-ago/

[2020-01-23 05:16] contactashish13 commented on #379
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/380

[2020-01-23 05:33] contactashish13 commented on #361
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/381

[2020-01-24 10:09] contactashish13 opened #382 "Invalid feeds cause feedzy to hang"
https://wordpress.org/support/topic/fatal-error-call-to-undefined-method-feedzy_rss_feeds_util_simplepie/

[2020-01-24 10:17] contactashish13 commented on #382
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/383

[2020-01-24 10:27] contactashish13 commented on #382
@rodica-andronache I'm unable to add this to the project so please include this in your testing.

[2020-01-27 05:36] contactashish13 commented on #377
So the behavior of processing feeds is as follows:

- the feed is processed using the feed URL (`set_feed_url`), method 1
- if an error occurs, we download the data behind the feed URL as raw data and set it with `set_raw_data` and process it another time, method 2

so what's happening in this case is -
- the feed is processed using method 1
- always encounters an error (`PHP Notice: This XML docu

[2020-01-27 13:11] rodica-andronache commented on #379
@contactashish13 how can the date format be filtered?
I've tried using
`add_filter( 'feedzy_meta_date','change_date_format',10,4 );`
function change_date_format($date,$feed,$item) {
	$newDate = date("m-d-Y", strtotime($date));
	return $newDate;
}`
but it's not returning the correct value because $date has that "on" like `on January 23, 2020`

[2020-01-27 13:14] contactashish13 commented on #379
@rodica-andronache you can check https://github.com/Codeinwp/feedzy-rss-feeds/projects/1#card-32034790 for an example

[2020-01-27 13:20] rodica-andronache commented on #379
thanks 👍

[2020-01-30 14:28] #369 closed

[2020-01-30 14:29] #371 closed

[2020-01-30 14:45] #361 closed

[2020-01-30 14:46] #382 closed

[2020-01-30 14:47] #379 closed

[2020-01-31 04:38] contactashish13 opened #384 "Widget ignores offset"
ref https://wordpress.org/support/topic/offset-for-feed-not-working/

PS - widget also ignores `multiple_meta`

[2020-01-31 04:43] contactashish13 commented on #384
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/385

[2020-01-31 05:03] contactashish13 commented on #363
@rodica-andronache I believe this was released in 3.3.17 and can be closed.

[2020-01-31 07:44] DanyCaissy commented on #363
Closing

[2020-01-31 07:44] #363 closed

[2020-01-31 07:51] DanyCaissy commented on #384
Was this released? Can this be closed? @contactashish13

[2020-01-31 08:39] rodica-andronache commented on #384
it was not released, the PR is not merged https://github.com/Codeinwp/feedzy-rss-feeds/pull/385. I closed the issues that were released

[2020-01-31 08:45] rodica-andronache commented on #363
yes, I've missed it as it wasn't in the review column. Thanks

[2020-01-31 09:59] DanyCaissy commented on #238
The comparison was done here: by Duong https://docs.google.com/presentation/d/1hZx3iM9nuTV1vgWhsyjmFFjJIVCRASqr5Ol8sgyXqoc/edit

I'll close this issue.

[2020-01-31 09:59] #238 closed

[2020-01-31 10:04] DanyCaissy commented on #376
Closing this as it isn't related to Feedzy. If you still require assistance, please open a ticket on the appropriate plugin repository.

[2020-01-31 10:04] #376 closed

[2020-01-31 10:11] contactashish13 commented on #224
@DanyCaissy this needs more discussion than just my original thought, which itself was quite sketchy. I'm not sure this is ready for development

[2020-02-03 04:54] contactashish13 opened #386 "Warning: md5() expects parameter 1 to be string, array given in /includes/abstract/feedzy-rss-feeds-admin-abstract.php on line 790"
ref https://wordpress.org/support/topic/warning-showing-in-widget/

[2020-02-03 05:02] contactashish13 commented on #386
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/387

[2020-02-03 09:15] contactashish13 opened #388 "Add support to lazy load feed items"
This happens because the short code goes to fetch/parse the feed the moment the page is loaded.

One way around this could be:
- fetch/parse the feed in the background every X minutes (Question: X can be given as a shortcode parameter or in the settings screen)
- when the page is loaded, load the above stale data
- show a spinner that says "fetching new items" which then fetches the new items and

[2020-02-03 09:16] contactashish13 commented on #388
@DanyCaissy can you check if the above solution is feasible from an end user point of view? If it is, we need to conclude on the best approach/behavior for this.

[2020-02-04 10:20] DanyCaissy opened #389 "Add feedzy button to classic editor in gutenberg"
As per the tutorial video, on the classic editor, you can add a feedzy feed this way: https://i.imgur.com/IDEnyE1.png

When I tried to do so, the button did not seem to exist:

https://i.imgur.com/Stk8nZm.png

This can be reproduced on this instance:

https://formal-crab.jurassic.ninja/wp-admin/post.php?post=1&action=edit
WP user: demo WP/SSH password: SvW9h0QQTYyc

[2020-02-04 10:40] rodica-andronache commented on #386
@contactashish13 if there's a specific feed that you've used to replicate this or other specific things that need to be done to replicate the issue, please let me know, so I can test it. I've tried with some feeds but couldn't replicate it

[2020-02-04 10:48] contactashish13 commented on #386
This happens with multiple feeds in the shortcode.

On Feb 4, 2020, 16:10, at 16:10, Rodica-Elena Irodiu <notifications@github.com> wrote:

[2020-02-04 10:49] DanyCaissy commented on #388
@contactashish13

Unless I misunderstood, I think refreshing every X minutes should be a separate enhancement, it could be useful for users but would not solve the problem described (slow initial page load).

For that, I think loading the page first, and then loading the feeds once the page is ready (with ajax) would be a good idea, although we'd have to try it out to be sure. Using a spinner whil

[2020-02-04 11:07] selul commented on #388
just an idea here in case you find it useful, this kind of behavior can be called lazyloading and can be turned into a shortcode/block option.

The lazyload feature basically would show a spinner, call a WP-Rest API route which could return the item feeds once ready and replace spinner with the feed content.

[2020-02-04 11:28] rodica-andronache commented on #386
I couldn't replicate it. can you please share a short video maybe?

[2020-02-05 05:34] contactashish13 commented on #386
@rodica-andronache it throws no error but it should - if you check https://github.com/Codeinwp/feedzy-rss-feeds/pull/387/commits/f9f61c3dcdf6a01301204b841b51da0ef008ff0e#diff-d0269333c4896cf97aa706ab2830ca9cL790 `md5` function should not accept an array. Nevertheless, it is a problem because the class becomes `feedzy-` instead of `feedzy-<some md5 string>`

[2020-02-06 12:30] contactashish13 commented on #388
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/390

An additional parameter `lazy='yes'` in the shortcode enables this. In the block editor, this translates to an additional toggle.

[2020-02-10 04:16] contactashish13 commented on #389
@DanyCaissy this is not the classic editor; it is a rich text editor (RTE) in gutenberg. Classic editor is the whole interface which happens to contain the RTE. If other plugins that create a button in the classic editor also create a button in the RTE in gutenberg, we can try to add it too and this can be added as an enhancement. It is not a bug.

[2020-02-11 06:56] DanyCaissy commented on #389
@contactashish13

Yeah I wasn't sure what to call this editor, I know it's not the true classic, but it's called classic editor.

Visualizer does have a button on this editor: https://i.imgur.com/Bf7KyDL.png

I'll list this as an enhancement then.

[2020-02-11 13:13] contactashish13 commented on #389
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/391

[2020-02-11 15:25] rodica-andronache commented on #388
I've tested the shortcode, the GB block and the widget and everything was ok, except these notices that appear when using the GB block with the Lazy Load feature
![download](https://user-images.githubusercontent.com/3266155/74250515-66949980-4cf3-11ea-89df-8599bd0f6641.png)
![download (1)](https://user-images.githubusercontent.com/3266155/74250538-6e543e00-4cf3-11ea-909a-192b8fd005ca.png)
![downlo

[2020-02-14 05:55] contactashish13 opened #394 "Using widget with page builders throws notice"
https://wordpress.org/support/topic/php-fatal-error-197/

https://wordpress.org/support/topic/wp-error-unless-feedzy-deactivated/

[code]

[2020-02-14 07:17] contactashish13 commented on #394
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/395

[2020-02-17 16:48] purplecodes commented on #394
+1 on this issue
- issue occurs after updating to Avada v6.2
https://secure.helpscout.net/conversation/1084682836/216857/

[2020-02-19 12:56] rodica-andronache commented on #394
@contactashish13 whenever possible, could you please offer all the details needed on how to replicate/test an issue/PR? It takes additional time to read all the tickets as well, and sometimes I can't figure it out anyway. If it helps, here's an example of a PR that helps me with testing https://github.com/Codeinwp/neve-pro-addon/pull/562
In this case, for example, I've tried activating Avada, inst

[2020-02-19 13:47] rodica-andronache commented on #388
@contactashish13 I still get those notices. As a note, the notices don't appear in the editor, but on the frontend.
![Screenshot](https://user-images.githubusercontent.com/3266155/74840137-20f95180-532f-11ea-8692-e59856b5573e.png)

[2020-02-19 16:45] contactashish13 commented on #388
@rodica-andronache I cannot reproduce it.  Can you please mention all the field values so that I can test with the same values as you? (also for the future)

[2020-02-20 09:21] contactashish13 commented on #394
@rodica-andronache there are some tickets, like this one, that I am not able to reproduce but the error is obvious as shown in the error logs shared by the user and so the solution, from a code point of view, becomes obvious. Maybe this got fixed with the new version of Avada, I don't know.

[2020-02-26 20:34] JustMelBell opened #396 "Icon links keep reappearing in Zelle Lite front page widgets"
One the frontpage Our Team section of the Zelle Lite template, the icons for social media links keep showing up despite there being nothing in those fields of the widget for that person. When I go in to delete the blank spaces (that auto populated in that field out of nowhere), it disappears. Then when I go down and do the next one, the first one reappears. And it does this again and again.

[2020-02-27 11:46] DanyCaissy opened #397 "Add the "help us improve!" tab for surveys"
Similar to Visualizer: https://i.imgur.com/SPFlkU0.png

We can add this tab in the support menu, the survey links are:

Free: https://forms.gle/yQUGSrKEa7XJTGLx8
Pro:  https://forms.gle/FZXhL3D48KJUhb7q9

[2020-02-27 13:24] DanyCaissy opened #398 "Use Visualizer's font/spacing for support/settings pages"
Feedzy: https://i.imgur.com/mol1G5d.png
Visualizer: https://i.imgur.com/BtugYjK.png

Comparing both, it seems to me that Feedzy's support pages use larger fonts and contain more unnecessary whitespace.

I think Visualizer's is more readable and and it'd be a good idea to standardize both.

[2020-02-28 04:18] contactashish13 commented on #388
@rodica-andronache this should be okay now.

[2020-02-29 07:52] DanyCaissy opened #399 "Valid feeds not importing"
Some feeds will not import through Feedzy even though they are valid feeds.

They are valid as per w3 (https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Ffurtherafrica.com%2Ffeed%2F) and also work with RSS Aggregator:

https://karishmachugani.com/category/this-body-is-human/feed/
https://analytik.news/fachartikel/rss.xml
http://www.mezzacotta.net/100proofs/feed
https://furtherafrica.com/fee

[2020-03-01 08:30] arif497 commented on #310
Facing the same problem. Can anybody help to get it fixed?

[2020-03-02 13:01] rodica-andronache commented on #394
@contactashish13 ok, and for this case do you think we should merge https://github.com/Codeinwp/feedzy-rss-feeds/pull/395?
I've tested with both that and the latest version of Feedzy and couldn't replicate that issue in Avada. From what I've seen they've had a patch for that from within the theme, and it looks to be working well.

I was thinking we could close the PR for now, if you think so.

Apa

[2020-03-03 04:34] contactashish13 commented on #394
@rodica-andronache I've closed the PR.

can you please check if https://github.com/Codeinwp/feedzy-rss-feeds/issues/312 is related to the errors you get?

[2020-03-03 09:48] rodica-andronache commented on #394
@contactashish13 not sure how to check if those are related. It looks to be different errors

[2020-03-04 04:51] contactashish13 commented on #394
@rodica-andronache can you please add a video that shows the steps you took to add the widget using avada?

[2020-03-04 04:53] contactashish13 commented on #396
closing as this is not related to feedzy

[2020-03-04 04:53] #396 closed

[2020-03-04 08:36] rodica-andronache commented on #394
@contactashish13
https://www.loom.com/share/98654176019a4ea4bc6452c5cd9efac8
Make sure Fusion Core and Fusion Builder are installed
![download (2)](https://user-images.githubusercontent.com/3266155/75860082-e77f1680-5e03-11ea-9237-9875ca13a09b.png)

[2020-03-04 10:46] contactashish13 commented on #394
@rodica-andronache I don't seem to have `widget` in the list of elements; only `widget area`.  I have avada 5.8.2

[2020-03-06 15:15] rodica-andronache commented on #394
@contactashish13 I've tested with Avada 6.2.1. I'll share the archive on slack

[2020-03-07 12:48] DanyCaissy opened #400 "Nothing getting imported"
On a fresh install, after installing current free + pro, it does not seem like anything is getting imported:

https://i.imgur.com/lXnnSbZ.png

Instance:

https://silent-hedgehog.jurassic.ninja
WP user: demo WP/SSH password: xeabFv94Bac7

[2020-03-07 12:49] DanyCaissy commented on #400
@contactashish13 Can you take a look? Did I miss something?

[2020-03-09 07:01] contactashish13 opened #401 "Using multiple feeds in shortcode throws warning"
[code]

[2020-03-09 07:04] contactashish13 commented on #401
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/402

[2020-03-09 07:11] contactashish13 commented on #377
This is not development ready so pushing this to the backlog. Needs more examples that can be studied.

[2020-03-10 05:12] contactashish13 opened #403 "Conflict with Rss Aggregator in gutenberg editor"
**Description:**

When adding a feed with the gutenberg editor, IF rss aggregator is installed, it will say "Feed URL invalid"

**Steps to reproduce:**

* Create a new instance
* Install Feedzy
* Install Rss Aggregator non-activated
* Add a feed on the gutenberg editor (ex: https://rss.nytimes.com/services/xml/rss/nyt/US.xml)
* Activate Rss aggregator
* Add the same feed again (it will cause the e

[2020-03-10 05:17] contactashish13 commented on #403
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/404

[2020-03-10 06:23] contactashish13 commented on #397
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/405

[2020-03-11 04:46] contactashish13 commented on #400
@DanyCaissy is there a reason you did not add **anything** to the last screen? If either title or content is empty, nothing will be imported as this is not a valid use case.

[2020-03-12 04:18] DanyCaissy commented on #403
@contactashish13 Could not reproduce anymore, issue fixed.

[2020-03-12 07:16] DanyCaissy commented on #397
@contactashish13

When pro is installed, the link is still for the free version for me.

https://ideological-booby.jurassic.ninja
WP user: demo WP/SSH password: 2wcAhYqZMh8P

[2020-03-12 09:16] DanyCaissy commented on #400
I think I assumed there was a default or that validations wouldn't have let me save if the entry was invalid. I think this assumption is shared as many users complained of "nothing getting imported" in uninstall reasons, I'll address changes to that in future tickets.

[2020-03-12 09:16] #400 closed

[2020-03-12 09:19] contactashish13 commented on #400
I don't think that was their reason. Theirs would have been using an invalid feed. Defaults don't make sense and we have had no tickets that suggest defaults

On Mar 12, 2020, 14:46, at 14:46, Dany Caissy <notifications@github.com> wrote:

[2020-03-12 09:32] DanyCaissy commented on #400
What makes no sense is an import that succeeds yet imports nothing when the feed is valid. This gives no feedback to the user as to what went wrong. The expected behavior of an import with no content would be posts with no content, not the absence of posts being created, as the later implies the feed is invalid or empty.

Defaults obviously make sense, you can't expect every useful change to be su

[2020-03-12 09:39] contactashish13 commented on #400
Posts with no content and no title? You may have to take this up with the creators of WordPress then as they, in their infinite wisdom, decided that such posts cannot be created programmatically. Had you selected either of those, posts would have been created as per your expectation.

On Mar 12, 2020, 15:02, at 15:02, Dany Caissy <notifications@github.com> wrote:

[2020-03-12 09:45] DanyCaissy commented on #400
I'm just saying that's the expected behavior of such a scenario, not that it should be implemented like that.

We just need some kind of warning/error/validation to be put in place, or defaults, or both.

[2020-03-12 11:15] #399 closed

[2020-03-13 14:09] rodica-andronache commented on #397
for me, it's working well

[2020-03-16 03:34] sufehmi commented on #399
Why is this issue closed already ?

I have similar problem with https://turnbackhoax.id/feed/?s=corona ,

Feedzy won't import anything from it, even though it works fine on https://simplepie.org/demo/

Any ideas ?

[2020-03-16 06:13] contactashish13 commented on #394
@rodica-andronache I've updated the theme and the dependent plugins but still no `widget`

![image](https://user-images.githubusercontent.com/12953439/76726552-76cae900-6777-11ea-93bc-61be47385046.png)

Anyways, I've tried to fix it in PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/406, Can you test it?

[2020-03-16 08:46] rodica-andronache commented on #394
@contactashish13 there's a warning for `lazy` as well, I guess the same check can be applied.
![download (3)](https://user-images.githubusercontent.com/3266155/76738340-1c2f8e00-6773-11ea-8e66-f0021c8a6f30.png)

This PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/406 also contains the changes you've done here https://github.com/Codeinwp/feedzy-rss-feeds/pull/395 and closed as it looked to be

[2020-03-16 09:09] contactashish13 commented on #394
@rodica-andronache have created a new PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/407 so that its clean.

[2020-03-16 10:53] DanyCaissy commented on #399
@sufehmi

These ended up working on the current version.

The reason it's not importing might be due to missing settings.

Notably, on the last page, please make sure the title and the content fields are both filled. Your feed worked for me that way: https://i.imgur.com/8i9VY7U.png

[2020-03-23 05:48] DanyCaissy opened #408 "Add support for feed to post"
Related to https://github.com/Codeinwp/feedzy-rss-feeds-pro/issues/287#issuecomment-599356835

We want to offer the feed to post feature to free users, so they can test it out and potentially pay for our pro version.

Let's enable it with these conditions:

* Limit of 10 posts per cycle
* Auto delete featured locked
* Custom fields locked
* All feed filters locked

Let's also ensure the user under

[2020-03-23 11:26] DanyCaissy commented on #397
@contactashish13 @rodica-andronache

This is still happening to me, Rodica can you describe the steps you've done?

When pro is installed I still get the link to the free survey.

This is the free survey, not pro: https://docs.google.com/forms/d/e/1FAIpQLScg9Lt_XSFI_WCuWe-Q_lyfDqIdBOjDxrFkytq_9sYdk3WlPQ/viewform

I have installed the files below, you can check on this instance:

https://living-pet

[2020-03-23 12:06] rodica-andronache commented on #397
@DanyCaissy I've tested again and it's working well for me.
I've installed the development branch from https://github.com/Codeinwp/feedzy-rss-feeds and for the PRO version I downloaded it from store.themeisle.com. I've also tested with the development version from Github.
I've tried multiple times and I get the PRO form https://docs.google.com/forms/d/e/1FAIpQLSc9TkrviS3KBkgVTC29lLZ4vmqm5fGQ3korQK

[2020-03-23 12:26] DanyCaissy commented on #397
@rodica-andronache

[2020-03-23_20-20-55.zip](https://github.com/Codeinwp/feedzy-rss-feeds/files/4369284/2020-03-23_20-20-55.zip)

I've done the whole process in the video above and I still get the free link. Can you tell me what I did wrong here then?

[2020-03-23 12:42] rodica-andronache commented on #397
@DanyCaissy I honestly don't know. I've tried on a Jurassic as well and it's working
https://deep-asp.jurassic.ninja/wp-admin/
`demo / e#o3eijqI%fN$7U2VwudYGB!`

[2020-03-23 12:55] DanyCaissy commented on #397
@rodica-andronache I've removed pro and installed mine, it was fine.

I've removed free and installed mine, then it's showing the free link again. This seems related to the free installation.

The free installation as you saw I just used your link this time, did composer update, and rezipped it. There is nothing else about it that I've done.

Have you done these exact steps? There must be a differ

[2020-03-23 12:59] rodica-andronache commented on #397
@DanyCaissy I run `composer install`, I think that's the only difference

[2020-03-23 13:03] DanyCaissy commented on #397
@rodica-andronache

It doesn't make a difference.

Can you take a video of you getting the free development version from scratch and installing it on the same instance you created earlier?

[2020-03-23 13:14] rodica-andronache commented on #397
@DanyCaissy https://www.loom.com/share/8fc37b88d6ca49c5a0c4b81d38f41f15

[2020-03-23 13:29] DanyCaissy commented on #397
@rodica-andronache

It seems to do that if the folder name is different. Your steps worked for me, but if I renamed the folder to anything else, it shows the wrong link. When downloading the file instead of cloning it the folder name is different.

I tested it with the correct folder name earlier, but I still had the issue, maybe I had a typo somewhere..

Either way, this means that for this speci

[2020-03-23 15:38] rodica-andronache commented on #397
@DanyCaissy I'm not completely sure, but I think yes, that shouldn't be checked based on the name of the folder. At least, for Neve, we had a similar thing, and we've changed it.

[2020-03-24 04:29] contactashish13 commented on #397
@DanyCaissy @rodica-andronache existence of pro is determined by the existence of a filter **not* the folder name. If that were the case then no functionality of pro would work.

[2020-03-24 05:08] DanyCaissy commented on #397
@contactashish13 You're welcome to attempt it, change the folder name of feedzy free and install it, you'll see the " "This theme requires the following plugin: Feedzy RSS Feeds Lite." " message and the survey link will be wrong.

The message also happens with Visualizer ever since I've started working on it.

[2020-03-24 11:16] #384 closed

[2020-03-24 11:20] #403 closed

[2020-03-24 11:20] #401 closed

[2020-03-24 11:23] #394 closed

[2020-03-24 11:24] #389 closed

[2020-03-24 11:25] #386 closed

[2020-03-24 13:50] rodica-andronache commented on #388
https://docs.themeisle.com/article/1220-lazy-loading-feed-items-with-feedzy

[2020-03-24 13:50] #388 closed

[2020-03-24 23:47] DanyCaissy commented on #398
In addition to that, I'd like to add an intro, same as on Visualizer's page. I've included the HTML in the file below, although it will have to be adapted (format, URLs, is_pro condition)

[feedzy-intro.txt](https://github.com/Codeinwp/feedzy-rss-feeds/files/4378222/feedzy-intro.txt)

[2020-03-30 11:33] stefan-cotitosu commented on #408
@contactashish13 I have a suggestion on this one.

It will be helpful if we can show all the available magic tags for the post content field, in the third step of the import wizard, but make them unavailable, maybe show them like a placeholder or something like that.

Below is a screenshot of how I see it for the free version, also for the Personal one.
![suggestion-for-fremium-ftp](https://user-i

[2020-03-30 17:37] contactashish13 commented on #408
@DanyCaissy maybe we can leave the names Agency and Business out as they tend to change and have to remain in sync with the website?

PS - I've locked the conversation so that no one outside of our group can post comments. Let me know if it stops anyone from commenting and I'll remove the lock.

[2020-03-30 19:50] DanyCaissy commented on #408
@contactashish13 I think we could just lock the fields for that reason.

[2020-03-31 12:06] rodica-andronache opened #411 "[WP 5.4] Feedzy block alignment"
In WP 5.4 the content of the Feedzy block is not centered anymore

TwentyTwenty
![download](https://user-images.githubusercontent.com/3266155/78024466-18019400-7361-11ea-9ff2-6b85469ab13c.png)

Neve
![Screenshot (2)](https://user-images.githubusercontent.com/3266155/78024729-8a727400-7361-11ea-82fd-adb04a2aea4d.png)

[2020-04-02 09:23] rodica-andronache commented on #411
@contactashish13 @DanyCaissy I think we should release this https://github.com/Codeinwp/feedzy-rss-feeds/pull/410 only after this issue is fixed

[2020-04-06 08:09] contactashish13 commented on #411
@rodica-andronache none of the elements are now centered in 5.4. You can compare the shortcode block well. Thus we should go along with the same alignment as other blocks.

I have centered the spinner and made a few UI changes so that the block looks more presentable: https://github.com/Codeinwp/feedzy-rss-feeds/pull/412

![image](https://user-images.githubusercontent.com/12953439/78531617-656b7e8

[2020-04-07 05:16] contactashish13 opened #413 "Notice: Undefined index: host when item has no link element"
https://wordpress.org/support/topic/notice-undefined-index-host-2/

[2020-04-07 05:41] contactashish13 commented on #413
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/414 uses the link of the feed instead of the link of the item in such cases.

[2020-04-08 08:33] rodica-andronache commented on #411
@contactashish13 I've released the update so that wouldn't be a problem anymore.

For this, I think there are still small things we could do ( leaving the block left aligned like the others ).
For reference, this is how the block looks on WP 5.3
![download](https://user-images.githubusercontent.com/3266155/78762119-24eb3c80-798c-11ea-872e-0ccc87eb01a6.png)

With the new fixes you've done:
- you've

[2020-04-08 09:12] rodica-andronache opened #416 "Wrong shortcode mentioned in the Support tab"
the shortcode should be `[feedzy-rss]`
![Screenshot (2)](https://user-images.githubusercontent.com/3266155/78766549-1142d480-7992-11ea-9c5c-1fb6830169e5.png)

[2020-04-08 09:40] rodica-andronache commented on #408
from what I've tested, this is working well.
I think there are things to improve regarding the upsells, as they don't look great and it's hard to understand them in some cases, from my point of view.

For example, here is not clear that in the pro version you can have more options, other than 10. The upsell looks to override with the one for the option below.
![Apr-08-2020 12-23-24](https://user-i

[2020-04-08 09:44] contactashish13 commented on #408
This isn't yet ready for testing. I'll assign to QA when it is :)

On Apr 8, 2020, 15:10, at 15:10, Rodica-Elena Irodiu <notifications@github.com> wrote:

[2020-04-08 10:21] rodica-andronache commented on #408
ok, sorry :)

[2020-04-09 05:11] contactashish13 commented on #408
PRs https://github.com/Codeinwp/feedzy-rss-feeds/pull/415 and https://github.com/Codeinwp/feedzy-rss-feeds-pro/pull/324

I've incorporated the suggestions from https://github.com/Codeinwp/feedzy-rss-feeds/issues/408#issuecomment-610858702 as well

The following combinations are supported:
- new free/old pro
- new free/new pro

old free/new pro is not supported - this means https://github.com/Codei

[2020-04-11 05:18] DanyCaissy commented on #408
@rodica-andronache Looks good functionality wise, ready for QA

[2020-04-16 05:08] contactashish13 opened #417 "bulk activation of plugin aborts activation of subsequent plugins"
tested in reference to https://wordpress.org/support/topic/bug-in-plugin-activation/

[2020-04-16 05:40] contactashish13 commented on #417
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/418

[2020-04-16 13:54] contactashish13 commented on #411
@rodica-andronache if you hover over the icon you will see the entire "click here to...". Once you validate a URL and if it turns out to be invalid, the message "invalid feeds will not..." is shown. Is that not the behavior you see?

[2020-04-21 04:47] contactashish13 opened #419 "PHP Notice: Undefined index errors in the widget"
ref https://wordpress.org/support/topic/php-notice-undefined-index-errors/

[code]

[2020-04-21 04:52] contactashish13 commented on #419
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/420

[2020-04-21 14:44] rodica-andronache commented on #417
this is also not working for me, similar to https://github.com/Codeinwp/visualizer/issues/679

[2020-04-22 04:46] contactashish13 commented on #417
@rodica-andronache I've changed the methodology and it should work anywhere.

[2020-04-22 07:01] contactashish13 commented on #411
have fixed the button and added a text to the link

![image](https://user-images.githubusercontent.com/12953439/79944803-158ae980-848a-11ea-987e-4d223d1f880e.png)

[2020-04-23 05:50] contactashish13 opened #421 "Update on email + Site Health Check page if feeds misbehave"
When feeds get added to different posts, they may misbehave during their lifetime. If the site admin is not constantly on the pages, they depend on visitors to tell them that page/feed may not be working.

This feature is intended to help the site admin know which page is misbehaving and, if possible, which feed on that page. This can show up in the Site Health Check page and also as a digest emai

[2020-04-23 09:26] contactashish13 opened #422 "Cache duration does not work; cache is always set to 12 hours"
ref: https://wordpress.org/support/topic/feed-refresh-rate-not-being-applied/

No matter what the value of `refresh` is, the cache duration in the database is always set to 12 hours.

Investigation has revealed that SimplePie's `set_cache_duration` does not work for DB caching.

[2020-04-23 09:36] contactashish13 commented on #422
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/423 fixes this.

The only way to test this is to check the database entries as mentioned in the thread: https://wordpress.org/support/topic/feed-refresh-rate-not-being-applied/

[2020-04-30 12:55] rodica-andronache commented on #422
I'm not sure if I tested properly, but here it is.
I've used this plugin to see the transients https://wordpress.org/plugins/transients-manager/

For shortcodes, it looks to work ok. I used `[feedzy-rss feeds="https://s3.amazonaws.com/downloads.themeisle.com/sample-feed-import.xml" refresh="1_hours"]` and the transient was set to expire in 60 minutes.

But for the feedzy block, I entered a feed, s

[2020-05-04 13:34] contactashish13 commented on #422
@rodica-andronache have fixed this.

[2020-05-04 13:42] barok1383 opened #426 "Posts keeps "uncategorized" category"
The way you remove the uncategorized is correct only in english.
In french, the name is "Non classé" (or with the slug "non-classe").
`wp_remove_object_terms(` $new_post_id, 'uncategorized'), 'category' );`

I think the best way to remove it is to get the default_category in wp_options table and inject it in the function.
Here is what I did in my case :
`wp_remove_object_terms( $new_post_id, array

[2020-05-05 08:14] contactashish13 commented on #408
@rodica-andronache this is now fixed.

[2020-05-07 06:22] contactashish13 commented on #416
will solve this as part of #398

[2020-05-07 10:49] contactashish13 commented on #398
PRs https://github.com/Codeinwp/feedzy-rss-feeds/pull/427  (this addresses #416 as well) and https://github.com/Codeinwp/feedzy-rss-feeds-pro/pull/330

In new free/old pro, the contact us tab will look a little drab but that should not be a big problem.

@rodica-andronache @DanyCaissy this can be released in the current version as well if you want.

[2020-05-07 21:07] DanyCaissy commented on #398
This is fine. I think it can wait for next release as its not time-sensitive.

[2020-05-11 08:44] contactashish13 commented on #426
@barok1383 thanks. We will address this in a future release.

[2020-05-13 12:35] rodica-andronache commented on #398
the only issue I saw was that in the free version we have this link to import a post, which does not exist in the free version
![download (1)](https://user-images.githubusercontent.com/3266155/81812813-5200b100-952f-11ea-89ad-994162e280f9.png)
![download (2)](https://user-images.githubusercontent.com/3266155/81812888-693f9e80-952f-11ea-8264-cbfe9ee668ec.png)

[2020-05-13 13:09] rodica-andronache commented on #398
actually I've just remembered that we'll have the Feed to Post in the lite version as well. everything's ok

[2020-05-13 13:26] rodica-andronache commented on #408
@contactashish13 it works well now. You can fix the conflicts in #415 and Codeinwp/feedzy-rss-feeds-pro#324 so they can be merged

[2020-05-14 07:07] contactashish13 commented on #408
@rodica-andronache I've resolved the conflicts.

I believe both of us overlooked the test for canonical URL corresponding to this setting.

![image](https://user-images.githubusercontent.com/12953439/81902966-9e56fa00-95de-11ea-9544-986cc596ff7a.png)

I have now added support for that as well. Here is how to test it:

- import a post using feedzy
- uncheck the canonical url checkbox
- view the pos

[2020-05-19 05:54] contactashish13 opened #429 "Sync item image options between classic and block editor"
Not all options (highlighted), that are available in the classic editor, are available through the block editor.

Classic editor:

![image](https://user-images.githubusercontent.com/12953439/82296482-e014e580-99ce-11ea-96d9-f4cce02552c0.png)

Block editor:

![image](https://user-images.githubusercontent.com/12953439/82296572-02a6fe80-99cf-11ea-9d1b-68b21ee10906.png)

+ Improvements suggested in ht

[2020-05-20 12:19] rodica-andronache commented on #408
thanks for the explanations @contactashish13 I wasn't aware of that feature

[2020-05-20 12:40] #397 closed

[2020-05-27 09:58] vytisbulkevicius opened #433 "Feedzy gets images of the feed when SimplePie demo doesn't"
This is not an issue, as agreed with @contactashish13 I'm registering an example of the feed from which Feedzy (using a shortcode) is available to get images but SimplePie demo doesn't show images:

Example feed: https://www.christianworldmedia.com/feeds/rss-2974/archives

We will register more feeds if found for better understanding when this happens.

[2020-05-28 08:48] #398 closed

[2020-05-28 08:49] #416 closed

[2020-05-28 08:51] #411 closed

[2020-05-28 08:52] #417 closed

[2020-05-28 08:53] #419 closed

[2020-05-28 08:57] #413 closed

[2020-05-28 08:59] #408 closed

[2020-05-28 08:59] #422 closed

[2020-05-28 09:42] rodica-andronache opened #435 "Present Feed2Post in the free version"
@DanyCaissy now that we have a basic version of Feed2Post in Feedzy Free, maybe we can make small updates on these pages for it
https://wordpress.org/plugins/feedzy-rss-feeds/
https://themeisle.com/plugins/feedzy-rss-feeds/upgrade/
https://themeisle.com/plugins/feedzy-rss-feeds/

[2020-05-29 06:06] contactashish13 opened #436 "Feed2Post: Give user clarity on import error"
### Description:
Right now, if something goes wrong we just say `Nothing Imported`. This may end up confusing users and creating more tickets.

We can provide more clarity on
- what went wrong
- how many duplicates were found

[2020-06-01 02:39] DanyCaissy commented on #435
The readme has been modified here: https://github.com/Codeinwp/feedzy-rss-feeds/pull/437

[2020-06-01 04:13] DanyCaissy commented on #435
@rodica-andronache

I've tried editing the https://themeisle.com/plugins/feedzy-rss-feeds/ page however if I change a picture the entire page gets out of alignment even though the new picture has the same dimensions.

Could you take a look at why that is?

The only change I want to do is to change this: https://i.imgur.com/XqlF58K.png

To using this text and image, on both pages:

"Filter which po

[2020-06-01 04:43] DanyCaissy opened #438 "Lazy loading not being applied"
### Description:

When adding an RSS feed as a block and applying lazy loading, it does not seem to apply.

### How to reproduce:

1. Create a Feedzy block
2. Add > 40 items
3. Apply lazy loading
4. View the page generated, all items are loaded at the start

### Reference:

![2020-06-01_00-36-51](https://user-images.githubusercontent.com/5183243/83376461-4b33c400-a3a0-11ea-98de-f3b8b84996b7.gif)

[2020-06-02 04:22] DanyCaissy opened #439 "Default option to remove duplicates"
### Description:

A category that contains one or multiple feeds, in which an article is duplicated, it will post that article twice. We'd like the user to have an option to purge all duplicates.

Current this can be achieved with this: https://docs.themeisle.com/article/638-how-to-eliminate-duplicate-feed-item

However it'd benefit non-technical users to be able to do this with a checkbox as it i

[2020-06-02 04:23] DanyCaissy commented on #439
C) Will require us linking import jobs to posts, which I don't think we do yet. This feature will be developer after we link these.

[2020-06-02 05:28] DanyCaissy opened #440 "Improve text of Item Image Options"
### Description:

Currently we have this: https://i.imgur.com/CwVafBS.png

We could do the following changes to improve the UX:

1- Remove the "auto" option, default should be set to yes. The default thumbnail feature should be visible right away.

2- Ensure the image does not clip over the "remove" button. It does currently on my screen: https://i.imgur.com/0JIQgKG.png

[2020-06-02 05:32] contactashish13 commented on #438
@DanyCaissy the items loaded at the start are from the cache that is built when you save the block (or the last time the feed was loaded). The lazy loading comes **after** that. There is no point showing an empty block and then showing a lazy load.

It's the same behavior with the shortcode.

[2020-06-02 05:36] DanyCaissy commented on #438
@contactashish13 I'm not sure I understand your comment. As per the scrollbar all items are loaded after the refresh of the page, I didn't notice a difference with or without the option.

[2020-06-02 05:39] contactashish13 commented on #438
@DanyCaissy you may want to reduce the number of items to 1 and see that the loading icon appears, reloads the feeds and then disappears. With 40+ items, you won't see this behavior as it loads in the middle of the entire block.

[2020-06-02 05:47] DanyCaissy commented on #438
@contactashish13 So the lazy loading feature loads all the feeds at once, but it does so after the rest of the page is loaded?

I expected it to load say 10 feeds and only load the rest upon scrolling down. But it does specify front-end only, so I understand the limitation.

The next refresh is then faster, is the result cached in the browser, or?

[2020-06-02 05:51] DanyCaissy opened #441 "Feed2Post - Default Featured Image"
### Description:

In the featured image section: https://i.imgur.com/wwt1Eux.png

We want to add:

1- An "exclude posts with no images" checkbox. By default this won't be checked.
2- IF the above checkbox is NOT checked, the option "Default image (if post does not contain any)" will appear. This will contain an upload button that will function identically to the one in image options: https://i.img

[2020-06-02 15:17] carlosinho opened #442 "The plugin's page on WordPress.org"
@contactashish13 our page on https://wordpress.org/plugins/feedzy-rss-feeds/ could benefit from additional links to:

https://themeisle.com/blog/wordpress-news-aggregator-website/
https://themeisle.com/blog/create-an-autoblogging-site-wordpress/

It would be cool if you can add them.

Ionut told me to best contact you here.

[2020-06-03 04:27] contactashish13 commented on #442
@DanyCaissy can you update the readme for this along with https://github.com/Codeinwp/feedzy-rss-feeds/issues/435?

[2020-06-03 06:30] contactashish13 commented on #438
@DanyCaissy When you create the block, the feed is parsed and cached. When you load the feed on the front end, the cached data is shown. This caching is done at the WP end not in the browser. When you load the feed on the front end, the cached data is shown first and then the feed is reloaded.

[2020-06-04 06:54] contactashish13 commented on #436
@DanyCaissy do you have any suggestions here?

[2020-06-05 00:59] #438 closed

[2020-06-05 06:46] DanyCaissy commented on #442
@carlosinho As the page is mostly focused on describing the product I'm not sure exactly where I could find in these articles. There is already quite a lot of content on it and many links. Do you have a suggestion?

[2020-06-05 06:53] DanyCaissy commented on #436
@contactashish13 I haven't looked into this yet. Please don't push new features ahead until they've been defined and I've put them into next/current release.

[2020-06-05 09:26] carlosinho commented on #442
@DanyCaissy sure, you can just add links on these phrases: https://prnt.sc/su8x4d

the first underline can be linked to https://themeisle.com/blog/wordpress-news-aggregator-website/

and the second one to https://themeisle.com/blog/create-an-autoblogging-site-wordpress/

[2020-06-05 19:05] DanyCaissy commented on #442
@carlosinho Ok, this has been done here: https://github.com/Codeinwp/feedzy-rss-feeds/pull/437/commits/c20daa5a0154c3ed1102add78b05f3c843d30e1c

[2020-06-06 20:04] DanyCaissy opened #444 "Changes to support page"
I've done a few changes to the support pages:

* Added a documentation tab with some common documentation pages included
* Merged the shortcode tabs
* Fixed a few other minor issues

[2020-06-06 20:04] DanyCaissy commented on #444
https://github.com/Codeinwp/feedzy-rss-feeds/pull/443

[2020-06-08 08:00] DanyCaissy opened #445 "Link imports to posts and pages"
### Description:

For multiple future improvements, we will need to know which posts (or pages) were created by which imports. This will also help users keep track of what happens when they have multiple import tasks and give them more control over the process.

RSS Aggregator does something somewhat similar, named feed items.

## 1- Data

A) We will need to link the imports to the posts and pages

[2020-06-08 08:09] DanyCaissy commented on #436
I think this would be an important improvement, I don't have many specific suggestion, the more details we can give in the error the better.

I think we might need to show the errors in the popup (opens when you click "click here for import errors") as they could get large. A few things I can think of:

- Feed is empty
- Feed is invalid (show url to validator website)
- Warning: There were X dupli

[2020-06-11 11:53] carlosinho commented on #442
@DanyCaissy I don't see any links added here https://prnt.sc/sxuy3n

[2020-06-12 04:56] contactashish13 commented on #440
@DanyCaissy there is a big difference between `yes` and `auto`. Auto shows the image if available and leaves it blank if not found. Yes means show the default image (feedzy icon) if the image is not found. This option should remain as it is. It would be a good idea for you to check the documentation for these options and update them in case such things are not mentioned.

[2020-06-15 00:18] DanyCaissy commented on #442
@carlosinho It won't be live until Rodica merges the pull request.

[2020-06-15 03:08] DanyCaissy commented on #440
@contactashish13 Where is the documentation for this field? I couldn't find it.

[2020-06-15 05:31] contactashish13 commented on #440
@DanyCaissy it would be part of the same document that shows the shortcode parameters. If you cannot find it, that's another part of the problem - a ready reference to all documents is not available.

[2020-06-16 07:48] contactashish13 commented on #436
PRs https://github.com/Codeinwp/feedzy-rss-feeds/pull/446 and https://github.com/Codeinwp/feedzy-rss-feeds-pro/pull/343

Changes:
- show a `source` column
- show `items imported across runs`
- show errors with an icon and separated by a horizontal rule

![image](https://user-images.githubusercontent.com/12953439/84740062-599df480-afca-11ea-9b3c-b639d27b6aeb.png)

- show `Total items found` and `Du

[2020-06-16 10:50] carlosinho commented on #442
okay, thanks!

[2020-06-16 14:28] contactashish13 commented on #442
@DanyCaissy you don't have to wait for PRs to be merged. These things can be changed directly in the master branch and they will get updated on wp.org without a new release/version. FYI for the future

[2020-06-17 10:55] rodica-andronache commented on #442
it should be live

[2020-06-17 10:55] #442 closed

[2020-06-17 11:00] rodica-andronache commented on #435
@cosmin-serbanescu can you please help Danny with this?

[2020-06-17 11:26] cosmin-serbanescu commented on #435
@rodica-andronache @DanyCaissy it's replaced now but really had no issues in updating it.

However in the past there was such a problem when updating a post/page/cpt - the easiest solution was to clear the Autoptimize cache so if it happens again: https://prnt.sc/t1dbzn

[2020-06-17 11:29] rodica-andronache commented on #435
thanks 👍

[2020-06-17 11:29] #435 closed

[2020-06-27 20:01] DanyCaissy commented on #440
@contactashish13 I see the property listed [here](https://docs.themeisle.com/article/1130-how-to-use-feedzy-with-a-shortcode), although it's not explained.

Before I add detail to that, I'm struggling to understand your description of the behaviour. You say "yes" shows the feedzy icon, but the question is "Should we display the first image of the content if it is available?", so it should show tha

[2020-06-28 04:12] #444 closed

[2020-06-29 04:35] contactashish13 commented on #440
@DanyCaissy I think you are misunderstanding the context. Can you review https://github.com/Codeinwp/feedzy-rss-feeds/issues/440#issuecomment-643064669 again?

The changes you have suggested will be done as part of #429

[2020-06-29 04:44] DanyCaissy commented on #440
@contactashish13 Re-reading it doesn't make more sense to me. It doesn't make sense in the context of the question for that field.

[2020-06-30 06:52] rodica-andronache commented on #440
@DanyCaissy I just wanted to share my opinion too, if you find it useful. I find the option a bit confusing too.
But I don't think removing the `Auto` option would be the best solution as it would change the current behavior for clients that already use it.
What I would do ( if just updating the documentation is not enough ) is to rename the options to something like:
`Auto` to `Yes (without a fal

[2020-07-01 19:44] DanyCaissy commented on #440
@rodica-andronache Yes I think that would be easier to interpret and wouldn't require technical changes. That sounds good for me.

[2020-07-06 14:23] contactashish13 commented on #441
@DanyCaissy  I'm not sure the suggested behavior works well with the already available option of `'Featured Image`. Can you think of all the possible scenarios by taking the options of `'Featured Image` into account?

[2020-07-08 04:29] contactashish13 opened #449 "Test against WP 5.5"
### Description:
Changes in SimplePie, Moment

https://make.wordpress.org/core/2020/07/01/external-library-updates-in-wordpress-5-5-call-for-testing/

[2020-07-08 08:13] contactashish13 commented on #440
@DanyCaissy I don't see the second problem. @rodica-andronache can you reproduce this?

![image](https://user-images.githubusercontent.com/12953439/86894575-ded77d80-c120-11ea-8d15-c0bf66be78ea.png)

[2020-07-08 11:32] rodica-andronache commented on #440
@contactashish13 can't replicate it either. maybe @DanyCaissy can share on which device/browser is testing

[2020-07-08 22:29] DanyCaissy commented on #441
@contactashish13

Yeah I think I see what you mean. There might be extra edge cases. One thing is, none of those options matter if the the "featured image" field is empty, so we could show them only if the field was filled.

So all the fields above should only be displayed if "featured image" contains something (more than spaces), otherwise they shouldn't be visible to the user. Another way to imp

[2020-07-08 23:07] DanyCaissy commented on #440
I'm not able to reproduce it anymore. Maybe there was something odd with the image dimensions I had used then. We can ignore that issue unless it reoccurs.

[2020-07-09 06:24] contactashish13 opened #450 "Conflict with Ultimate CSV Importer"
### How to reproduce:
1. Have Ultimate CSV Importer plugin installed (https://wordpress.org/plugins/wp-ultimate-csv-importer/) and activated
2. Have this plug installed and activated
3. Go to the Ultimate CSV Importer menu item
4. Click the Export tab in Ultimate CSV Importer . The export options appear for .5 seconds then the plugin screen goes blank

This behavior does **not affect** our plugin

[2020-07-09 09:27] contactashish13 commented on #450
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/451. This may affect the following features too:

- changing the status of the import from active to inactive by using the toggle button
- fetching the taxonomies in the 3rd page of the edit import feature
- the run now button

[2020-07-09 11:36] vytisbulkevicius opened #452 "Feed2Post: Ability to clear data of already imported items to reimport those again"
### Description:
Currently, when a new import job is created and run - items (posts) are imported and cached in the database so the same items cannot be imported again to prevent duplicates.

Even if you delete imported posts from WordPress and run import job - nothing will get imported and that's expected, however, especially when you are working to build a new import job that imports everything,

[2020-07-16 07:57] contactashish13 opened #453 "Check validity of feeds specified"
### Description:

#### category
When users add many URLs in a feed category, they tend to blindly add URLs without verifying whether they are valid or not. I see many instances where website URLs are present. We should try to validate each feed to make sure it is at least in XML format before allowing the users to save them in the category.

#### feed2post
When a feed (not a category, because we w

[2020-07-16 07:58] contactashish13 commented on #453
@DanyCaissy @rodica-andronache @vytisbulkevicius can you please review this and see if this can be improved in any way before we conclude on how to implement?

[2020-07-16 09:46] contactashish13 commented on #436
PRs https://github.com/Codeinwp/feedzy-rss-feeds/pull/454 and https://github.com/Codeinwp/feedzy-rss-feeds-pro/pull/352 will additionally notify any validation errors (e.g. license invalid ) from the full content service.

[2020-07-16 11:32] vytisbulkevicius commented on #453
@contactashish13,

Agree that this is needed. For **feed2post** I think it can be either validated on the creation of category/saving the import job **or** when they press Run Now depending on which is easier.

If it's also possible to print the actual URL of the feed which is invalid it would be great as I faced a few cases where the client used 10+ feeds so it takes time to find the invalid feed

[2020-07-20 06:59] contactashish13 commented on #452
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/455 wipes everything about this import (list of imported items used for duplicate check, last run time and last run status) when you click the purge & reset option.

![image](https://user-images.githubusercontent.com/12953439/87908237-b38b5180-ca83-11ea-948b-7e978a4ad75c.png)

@vytisbulkevicius let me know if you feel it should wipe out the post

[2020-07-20 07:16] vytisbulkevicius commented on #452
Looks great! I agree that this shouldn't delete posts created by the import job.

If there is such a demand by the clients in the future maybe it could be an additional option to delete all the posts created by a specific import job. It actually sounds pretty useful but only as a separate option and not sure how much effort it would require on your end develop.

[2020-07-21 07:19] rodica-andronache commented on #440
@contactashish13 I think you've reversed the options here.
Auto should be Yes (without a fallback image)
Yes should be Yes( with a fallback image )

[2020-07-21 07:35] rodica-andronache commented on #440
@contactashish13 we should also update the options in the Classic Editor
<img width="1099" alt="Screenshot 2020-07-21 at 10 34 08" src="https://user-images.githubusercontent.com/3266155/88026007-d843ff80-cb3d-11ea-832e-dcdeb406f89e.png">

[2020-07-21 07:43] rodica-andronache commented on #429
@contactashish13 I'm not exactly sure what's the correct behaviour, but there are some inconsistencies between classic and block editor.

**In the Classic editor**
If I chose `Auto, with a fallback image` and for the HTTP option I chose `Ignore and show the default image instead`, **on frontend there is no image**
![1](https://user-images.githubusercontent.com/3266155/88026470-98c9e300-cb3e-11ea-8

[2020-07-21 07:48] contactashish13 commented on #440
addressed both your observations @rodica-andronache

[2020-07-21 08:15] rodica-andronache commented on #440
Thanks, @contactashish13.
I was thinking now, that it would also be a good idea to rename the `Default thumbnail URL if no image is found.` option to
`Fallback image used if no image is found.` to have some consistency, if you feel is a good idea as well.
![99](https://user-images.githubusercontent.com/3266155/88030064-74bcd080-cb43-11ea-9ba2-c1e806b7be61.png)
![100](https://user-images.githubuser

[2020-07-22 03:31] contactashish13 commented on #440
@rodica-andronache done

[2020-07-22 08:01] contactashish13 commented on #429
@rodica-andronache Assuming the shortcode will contain the attributes ```thumb="yes"  http="default" default="..."```, the behavior, I believe, should be as follows:

- if a default image is not provided, it is assumed to be the feedzy icon
- the default image now becomes the image to be used for the item (if the item does not have an image)
- the `http` attribute is then used to check if that ima

[2020-07-22 10:05] rodica-andronache commented on #429
@contactashish13 the only case where things are different now on editor/front-end is in the `Gutenberg block`, with `Yes ( with a fallback image)` + `Force HTTPS`.
In the editor you don't see any image and on the frontend, you see the fallback image
![2](https://user-images.githubusercontent.com/3266155/88163861-f41dd300-cc1b-11ea-9254-e0e0cd3c3b8a.png)
![1](https://user-images.githubusercontent.c

[2020-07-23 05:50] contactashish13 commented on #429
@rodica-andronache I cannot reproduce this. I get images on both back end and front. That said, can we avoid testing with themeisle/codeinwp/wild feeds? I test with a local feed that seems to be more consistent in terms of behavior. I would suggest using a similar feed. You can use either of these as these are what we use in cypress too: https://s3.amazonaws.com/downloads.themeisle.com/sample-feed

[2020-07-23 09:13] rodica-andronache commented on #429
@contactashish13 on my local is the same, testing with those feeds. But I've realised that I don't have HTTPS enabled there, so I gues that's the issue, even though I don't understand why on frontend, the images appear. If you feel is ok, we can leave it like this

[2020-07-23 13:15] #436 closed

[2020-07-23 13:18] #452 closed

[2020-07-23 13:19] #450 closed

[2020-07-23 13:27] #440 closed

[2020-07-23 13:28] #429 closed

[2020-07-29 05:36] contactashish13 commented on #453
PR addresses this in the following manner:

#### category
If I provide invalid feeds as below

![image](https://user-images.githubusercontent.com/12953439/88757142-056a6080-d183-11ea-8044-9ad49127936e.png)

it removes the invalid URLs and shows a notice.

![image](https://user-images.githubusercontent.com/12953439/88757224-2b900080-d183-11ea-9086-500d36360913.png)

#### feed2post edit
![image](htt

[2020-07-29 10:30] vytisbulkevicius commented on #453
Thanks, @contactashish13 - could you elaborate a little how the check works? In provided screenshots, those are not links and if a link is added that is not a valid XML feed - will it be removed also and error is thrown?

Also, if it's valid XML feed but SimplePie for some reason is not able to parse it - is there also an error thrown during this validation? Just to understand what's exactly being

[2020-07-29 14:52] contactashish13 commented on #453
@vytisbulkevicius an invalid feed can be a link or cannot be a link. It does not matter to the plugin as both would be considered unparseable. The validation is not shallow - it as being sent through simplepie just like any other feed is and any error there results in the feed being removed.

[2020-07-29 15:00] contactashish13 commented on #449
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/457 is tested against WP 5.5 RC1.

@rodica-andronache if we do not manage to make a released before 5.5 is officially released, you can create a release just for the readme file if you want.

[2020-07-30 13:22] vytisbulkevicius opened #458 "Random image generator link doesn't work when trying to attach random featured image to Feedzy Import posts"
### Description:
Elementor has this guide about Feedzy: https://elementor.com/blog/news-aggregator-site-feedzy/
And there is such paragraph:

I have tried using https://source.unsplash.com/random in the Image field for imported posts and no image is attached as a featured image.

By the way, if I try to set this link as a fallback image in Feedzy Elementor Widget it works but sets the same image f

[2020-08-06 08:46] contactashish13 commented on #458
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/459

[2020-08-10 13:24] contactashish13 commented on #445
In PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/461 I've made this simpler, inheriting from the changes we had made in https://github.com/Codeinwp/feedzy-rss-feeds/issues/436. The number here is a link that will take the user to a post listing screen that will show all posts imported for the specific import:

![image](https://user-images.githubusercontent.com/12953439/89785160-90f6d080-db3

[2020-08-10 13:31] rodica-andronache commented on #453
@contactashish13 for Categories, the notices doesn't appear when you first publish it, but only after you update the category, which I don't think is correct
https://www.loom.com/share/7372d02dafda4cb78c8a07534d4e0154

[2020-08-11 13:09] contactashish13 commented on #453
@rodica-andronache fixed this.

[2020-08-11 15:03] rodica-andronache commented on #453
@contactashish13 there are some cases where the check is not working well for Categories.
For example, if you just enter a valid feed like `https://www.codeinwp.com/feed/` I get the error when first publishing the category, which shouldn't happen. When updating the category, the errors dissappears.

https://www.loom.com/share/c26d44ae275d4e7aa26a282982aa553e

[2020-08-11 17:50] rodica-andronache opened #463 "[feed2post] Number of Items imported across runs does not count duplicates"
with the new `Purge & Reset` option you quickly run the same import multiple times which will import some of the posts multiple time.
But this doesn't reflect in the `Number of Items imported across runs` option.

For example, here I've run the same import twice, which got 20 posts imported in total.
![1](https://user-images.githubusercontent.com/3266155/89930975-38e1cc00-dc14-11ea-9a15-0e11c48dd0

[2020-08-12 07:34] vytisbulkevicius opened #464 "HTML tags are trimmed on save of the import job"
### Description:
With the latest version of the plugin - 3.4.1 it's not possible to add HTML tags anymore and they are being trimmed on save of the import job. Works fine with version 3.4.0.

Tried to add HTML tags to the content field:
![image](https://user-images.githubusercontent.com/36594177/89987504-d83fa700-dc86-11ea-8cac-640f2e1c4963.png)

When the import job is saved and I go back to edit

[2020-08-12 07:39] vytisbulkevicius commented on #464
https://secure.helpscout.net/conversation/1238345305/238386/

[2020-08-12 08:15] contactashish13 commented on #453
@rodica-andronache this doesn't happen for me. Can you make sure you have taken the updated code as this was happening in one of the interim checkins, not the final commit?

[2020-08-12 08:49] rodica-andronache commented on #453
@contactashish13 I got the latest update, and tested on both wp 5.4 and 5.5 and is still happening for me.

You can check it out here:
https://blind-right.jurassic.ninja/wp-admin/
user: demo
pass: oHy5kYWPflVs2R43(bN77BMl

[2020-08-12 10:59] #449 closed

[2020-08-12 13:41] contactashish13 commented on #453
@rodica-andronache fixed this. Interestingly, this was happening when the category got saved as an auto-draft

[2020-08-17 12:56] contactashish13 commented on #463
@rodica-andronache can you please mention the steps to follow here?

[2020-08-17 13:36] contactashish13 commented on #464
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/465 fixes this.

[2020-08-17 16:01] rodica-andronache commented on #463
@contactashish13 made a video, hope it's more useful https://www.loom.com/share/14080f98433d427886b8caeb28608828

[2020-08-18 08:17] contactashish13 commented on #463
@rodica-andronache yes because purge is for purging our data not the posts that were imported. So this confusion will remain if the user has not delete the posts. I'm not sure what is the expected behavior

[2020-08-21 08:20] contactashish13 opened #467 "Improve UI of the import listing page"

[2020-08-26 11:00] #464 closed

[2020-08-27 07:10] contactashish13 commented on #467
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/469 adds a separate table for showing the last run details.

This is how it behaves:

![feedzy](https://user-images.githubusercontent.com/12953439/91408589-b8e97200-e861-11ea-9cb4-a8fb5d82b85c.gif)

and looks like on the mobile interface:

![image](https://user-images.githubusercontent.com/12953439/91408729-f0f0b500-e861-11ea-88f6-d1a275f7e24b.p

[2020-08-27 13:01] rodica-andronache commented on #467
@contactashish13 on smaller resolutions, the found/duplicates/imported, etc badges are not properly visible. Even in your mobile screenshot, the `duplicates` and `cumulative` words are not ok.
![z](https://user-images.githubusercontent.com/3266155/91444985-286d5a80-e87e-11ea-84e0-517b2ffbcc72.png)
![zz](https://user-images.githubusercontent.com/3266155/91445015-33c08600-e87e-11ea-9b07-3d3e68dad5d0

[2020-08-27 13:32] contactashish13 commented on #467
@rodica-andronache I've fixed the font size in the mobile interface.

Your confusion about cumulative counts and purge and reset feature has been addressed previously in another issue. I thought it was cleared there :) Anyways, purge and reset only resets the counters of feedzy - it does not delete the posts. That was the behavior of purge and reset when it was introduced. Let me know if you expec

[2020-08-27 13:49] contactashish13 commented on #463
@rodica-andronache here is where I had responded. Let me know if you expect a different behavior from what has been defined.

[2020-08-27 19:43] StellaTI opened #470 "Impoper vertical display of categories on 'Shop' page for Neve Pro/ 'Shop' starter site"
### Description:

There is an impoper vertical display of categories on 'Shop' page for Neve / 'Shop' starter site

### How to reproduce:

1. clean install of Neve Pro/ Shop starter site
2. go to Shop page

### Expected behaviour:
we expect an easy readable content on the page

### Current behaviour:
we see [mpoper vertical display of categories on 'Shop' page for Neve Pro/ 'Shop' starter site

##

[2020-08-28 05:47] #470 closed

[2020-08-28 05:48] rodica-andronache commented on #470
@StellaTI this isn't related to Feedzy, I think you're supposed to add this to Neve

[2020-09-01 16:05] stefan-cotitosu commented on #458
+1 https://secure.helpscout.net/conversation/1270223457/243318?folderId=212390

[2020-09-04 11:44] irinelenache commented on #458
@contactashish13  tested it with https://github.com/Codeinwp/feedzy-rss-feeds/pull/459 and when i add a random image generator link and try to run the import, it just loads and import doesn't work

[2020-09-04 12:43] irinelenache commented on #453
@contactashish13 Tested it and it works fine . The only problem (don't know if it's really a problem) is when i add a valid feed without `https://` before.
feed with https:// -> https://prnt.sc/ubiier
feed without https:// -> https://prnt.sc/ubiiqa

[2020-09-04 14:27] irinelenache commented on #467
@contactashish13
The functionality works fine, but on mobile, text overlaps on narrow screens
https://prnt.sc/ubkfir

[2020-09-07 04:30] contactashish13 commented on #467
@irinelenache we can't do much for this on some smaller screens because the words are too big. It looks fine on iphone 6/7/8 plus

![image](https://user-images.githubusercontent.com/12953439/92348524-fdda9780-f0f0-11ea-851e-2cfdcde9d51b.png)

[2020-09-07 05:14] contactashish13 commented on #458
@irinelenache can you please share a video?

[2020-09-07 05:17] contactashish13 commented on #453
@irinelenache I've addressed this. It will automatically append the scheme (`http`) to such URLs

[2020-09-07 08:04] irinelenache commented on #453
@contactashish13 Tested it now and it works fine!

[2020-09-07 10:28] irinelenache commented on #458
@contactashish13 https://www.loom.com/share/8b80fd403c4740d2851f6bdac08c54ac  when it won't stop loading, i refreshed the page

[2020-09-08 09:15] contactashish13 opened #472 "Enclosures that do no specify image extension are not imported even if type is image/jpeg"
### Description:
Feeds that have images of the form `<enclosure url="http://covermgfeed.com/image/image_gallery?uuid=fbf0432e-4dcb-4733-9b2c-10a04951542b&amp;groupId=10139&amp;t1599462822354" type="image/jpeg" length="0"/>` are not imported.

### How to reproduce:

1. Create a new import using the below feed (change extension into XML before adding to the import)
[test_rss.txt](https://github.com/

[2020-09-08 09:32] contactashish13 commented on #472
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/473 addresses this

[2020-09-10 08:27] contactashish13 commented on #458
@irinelenache The console error does not seem to be an error caused by feedzy. I don't see where you get the console error in the video. If you are testing on local, can you make sure you add the logs as well?

[2020-09-10 12:45] irinelenache commented on #458
@contactashish13 sorry for being a bit misunderstanding.

https://www.loom.com/share/6b8ad2cc1b8c4d43a6654734eeb291bb

also, in php error log, i got this ->
[error.txt](https://github.com/Codeinwp/feedzy-rss-feeds/files/5201702/error.txt)

[2020-09-11 03:45] contactashish13 commented on #458
@irinelenache what's your PHP and WP version? From the error, I don't feedzy's master branch will work for you - please try by providing the magic tag in the featured image and let me know what happens.

[2020-09-11 07:59] irinelenache commented on #458
wp 5.5.1
php 7.4.1
this is what i get when i use [#item_image] -> https://prnt.sc/ufe5rg

[2020-09-11 08:20] contactashish13 commented on #458
Sorry, please run it with a feed that has images otherwise the magic tag doesn't make sense.

On Sep 11, 2020, 13:30, at 13:30, irinelenache <notifications@github.com> wrote:

[2020-09-14 10:28] contactashish13 commented on #453
The latest commit adds this button that allows users to clean their categories to weed out incorrect URLs:

![image](https://user-images.githubusercontent.com/12953439/93072325-dbbbb900-f69e-11ea-8891-80556bd40625.png)

[2020-09-14 11:50] irinelenache commented on #453
@contactashish13 it works fine with correct feeds, incorrect feeds, incomplete feeds (without http://)!

[2020-09-18 06:18] contactashish13 commented on #458
@irinelenache any luck with this?

[2020-09-18 08:28] irinelenache commented on #458
@contactashish13 can you please send me a feed that contains images to try it? I couldn't find anything.

[2020-09-18 08:34] stefan-cotitosu commented on #458
You can try with this one, https://rss.app/feeds/xJRj9yVAzpPVBZrV.xml

[2020-09-18 10:30] irinelenache commented on #458
@stefan-cotitosu thanks for the help!

@contactashish13 apparently on a fresh new local instance with only feedzy installed, i can't import a feed with images and i get this error:
[error.log](https://github.com/Codeinwp/feedzy-rss-feeds/files/5244879/error.log)

don't know what causes this but on a jurrasic ninja instance these feeds work:

[2020-09-24 12:12] vytisbulkevicius opened #474 "With debug mode enabled Feedzy throws PHP Notices about Undefined index in one of the files."
### Description:

With debug mode enabled:
[code]

Feedzy throws PHP Notices about Undefined index in one of the files.
PHP notices are written to the debug.log WordPress file that lives in /wp-content/ directory.

I have installed Feedzy to a fresh WordPress instance and after creating an import job and running it - debug file was populated with notices:

[code]

### How to reproduce:
1. Enable d

[2020-09-24 12:12] vytisbulkevicius commented on #474
Reported here: https://wordpress.org/support/topic/php-notice-undefined-index-feedzy_category_meta_noncename/

[2020-09-24 13:47] vytisbulkevicius opened #475 "Cannot save <iframe></iframe> tag in the content field - gets trimmed on Save"
### Description:

Previously it was possible to add <iframe></iframe> tag into the content field and it was useful to import embed videos by passing custom field to **_src_** attribute. Now it's not possible to save import with <iframe></iframe> because it gets trimmed when saving the import.

### How to reproduce:
1. Create a new import and add <iframe></iframe> to the content field:
![image](htt

[2020-09-29 07:09] contactashish13 commented on #475
@vytisbulkevicius the user may intentionally want to save `<script>` tags as well. Should we be allowing that as well? Should we basically allow **anything** without sanitization and allow the user to compromise his system? I don't think that's wise.

Instead, my suggestion is to use this filter https://gist.github.com/bjorn2404/8afe35383a29d2dd1135ae0a39dc018c for such users (you can try it at yo

[2020-09-29 07:13] contactashish13 commented on #474
This will be addressed in https://github.com/Codeinwp/feedzy-rss-feeds/pull/456/. @rodica-andronache any plans of releasing these PRs that are getting stale?

[2020-09-29 07:14] contactashish13 commented on #463
@rodica-andronache please close this if this is not a bug but if it is, can you explain the behavior you expect wrt to the user's expectation?

[2020-09-29 19:26] vytisbulkevicius opened #476 "Integration with WPML plugin - import posts to selected language"
### Description:

Some clients use WPML and want to import different feeds to different languages of their WordPress. Maybe we can have an option in the Feedzy Import job settings to select in which language content should be imported based on languages that are activated in the WPML plugin.

### Alternatives:

I don't think we have an alternative option to import posts to another than the default

[2020-10-01 10:22] vytisbulkevicius opened #477 "Featured image is not being attached to post if image URL is used in Featured image field of Import job"
### Description:
Previously it was possible to set image URL in the Featured image field and that image was being attached to ALL the imported posts as a featured image. It was also useful if the image lives in a custom tag so the custom tag could have been added in the field and this way featured image was being attached to the post where it belongs to.

This no longer works and if we added an im

[2020-10-01 10:23] vytisbulkevicius commented on #477
Ticket: https://secure.helpscout.net/conversation/1296131960/247095/

[2020-10-05 14:31] contactashish13 commented on #477
@vytisbulkevicius please check if this is related to https://github.com/Codeinwp/feedzy-rss-feeds/issues/458 and is fixed by that PR

[2020-10-06 14:24] irinelenache opened #480 "Pro features button auto triggers when tapping a pro import option"
### Description:

When making an import with a mobile device (phone/tablet), tapping on a pro feature (where the button appears when hovering the feature) automatically triggers the button and opens the link. Something similar happened here https://github.com/Codeinwp/neve-pro-addon/issues/904
### How to reproduce:

1. Open an import
2. Select a mobile device
3. Tap on a pro feature, where the "Cl

[2020-10-12 11:01] rodica-andronache commented on #474
@contactashish13 https://github.com/Codeinwp/feedzy-rss-feeds/pull/456 was merged on development. I tried with that version, and still got the PHP notices mentioned in the issue

[2020-10-12 15:11] #467 closed

[2020-10-12 15:12] #453 closed

[2020-10-13 05:31] contactashish13 commented on #474
@rodica-andronache I don't get this with the development branch. I've tried with an import with a feed url and also with a category. Both work for me without any notice.

[2020-10-14 10:24] rodica-andronache commented on #474
@irinelenache can you please check too with the latest version of Feedzy?

[2020-10-14 11:02] irinelenache commented on #474
@rodica-andronache i get the same notices in the log
[debug.log](https://github.com/Codeinwp/feedzy-rss-feeds/files/5377628/debug.log)

[2020-10-14 11:20] #463 closed

[2020-10-15 14:00] irinelenache commented on #477
@contactashish13 i tried to run test this on local with https://github.com/Codeinwp/feedzy-rss-feeds/pull/459 and i got the same error as last time  [error.log](https://github.com/Codeinwp/feedzy-rss-feeds/files/5385319/error.log)
But on a jurassic ninja, i made the commit you did in the PR to the released version of Feedzy, and import works fine, can be checked here:
https://warm-basilisk.jurassi

[2020-10-16 04:16] contactashish13 commented on #477
@irinelenache you may want to check why your local dev does not work properly. As long as it works on jurassic, I'm good

[2020-10-27 17:10] rodica-andronache commented on #458
@contactashish13 using https://github.com/Codeinwp/feedzy-rss-feeds/pull/459, there are two issues:
- [ ] using `[#item_image]` does not import the featured image anymore. On the current version of Feedzy is working, so it might be related to this PR.

I've used multiple feeds with images, for e.g. http://www.chexed.com/feeds/MainNewsFeed.xml.
These are the settings I've used
![download (7)](https

[2020-10-28 06:10] contactashish13 commented on #458
@rodica-andronache have addressed the first point. The second point cannot be controlled by the plugin.

[2020-10-28 08:37] rodica-andronache commented on #458
@contactashish13 with the latest changes, using `[#item_image]` works well, but using `https://source.unsplash.com/random` or a specific featured image https://github.com/Codeinwp/feedzy-rss-feeds/issues/477 doesn't work anymore _for feeds that don't have a featured image_.

For example, for the feed mentioned in this issue `https://oncubanews.com/feed/`, using `https://source.unsplash.com/random`

[2020-10-28 11:56] contactashish13 commented on #458
@rodica-andronache I have fixed this and tested the following scenarios with `http://www.chexed.com/feeds/MainNewsFeed.xml` and `https://themeisle.com/blog/feed`.  Let me know if there are more that I may have missed.

- use `[#item_image]`
The items **with** an image are imported with the featured image and the items **without** an image are imported without the featured image.

Any items that do

[2020-11-24 14:33] contactashish13 commented on #441
PR https://github.com/Codeinwp/feedzy-rss-feeds/pull/481 adds this feature with the following controls:

![image](https://user-images.githubusercontent.com/12953439/100107518-bc57be00-2e8f-11eb-9214-39086c8fc80b.png)

![image](https://user-images.githubusercontent.com/12953439/100107811-13f62980-2e90-11eb-9b38-d0e4bc9ffe22.png)

[2021-01-12 17:30] agent-xcom opened #490 "Extend the RSS import compatibility to a different protocol/API, i.e JSON/XML."
### Description:
Currently Feedzy can export RSS and Atom feeds only.

1. The purpose of the task is to make Feedzy import code parts more abstract, giving an ability to easily add support for various protocols.
2. Develop support for JSON feed as a first example.

### Alternatives:
I don't believe there can be good alternatives

[2021-01-27 12:35] shiningdreams789 commented on #144
I am also facing same problem. If any one have solution "How to change the import run time? I want to extend the time from default time to 14 days.  "
Is that possible now??
kindly suggest any one...
Thanks 😊😊

[2021-02-14 23:17] vytisbulkevicius opened #492 "Add ability to use external images instead of uploading featured image to media library"
### Description:
From time to time there are requests to have an option and use external images as featured images because storing every image in the media library increases disk space and also creates duplicates.

We got a suggestion to integrate functionality with another plugin in this thread:
https://wordpress.org/support/topic/integration-with-fifu-plugin/

### Alternatives:
We don't have a k

[2021-02-22 21:16] vytisbulkevicius opened #493 "Non-Latin categories are split into lines when searching for a Post Taxonomy"
### Description:
When categories with non-latin characters exist in WordPress and you try to search for those in Feedzy Import settings - only the first letter of that taxonomy appears in the search results.

Example keywords that are tested:
她今天看起来很悲伤 (Chinese)
![image](https://user-images.githubusercontent.com/36594177/108771046-bee7b380-7563-11eb-8c5e-068594977494.png)

Новини (Russian)
![image

[2021-02-22 21:17] vytisbulkevicius commented on #493
Reported here: https://wordpress.org/support/topic/non-latin-terms-are-mutilated-in-live-search/

[2021-02-23 08:54] #490 closed

[2021-02-26 13:27] girishkrishaweb commented on #493
PR - https://github.com/Codeinwp/feedzy-rss-feeds/pull/494

[2021-02-26 13:27] girishkrishaweb commented on #474
PR - https://github.com/Codeinwp/feedzy-rss-feeds/pull/495

[2021-03-01 09:10] girishkrishaweb commented on #312
PR - https://github.com/Codeinwp/feedzy-rss-feeds/pull/496

[2021-03-01 09:36] girishkrishaweb commented on #475
PR - https://github.com/Codeinwp/feedzy-rss-feeds/pull/497

[2021-03-01 12:41] girishkrishaweb commented on #492
PR - https://github.com/Codeinwp/feedzy-rss-feeds/pull/498

[2021-03-15 18:29] topher1kenobe commented on #474
I'm getting this when I save a menu, but NOT when I run an import.

` Warning: Undefined array key "feedzy_category_meta_noncename" in /home/customer/www/topher.how/public_html/wp-content/plugins/feedzy-rss-feeds/includes/admin/feedzy-rss-feeds-admin.php on line 300`

<img width="1680" alt="Screen Shot 2021-03-15 at 2 22 47 PM" src="https://user-images.githubusercontent.com/341412/111202900-cca8bb

[2021-03-17 16:48] tudor-themeisle commented on #474
I got the same error ( https://prnt.sc/10od22t ), ( https://prnt.sc/10od2z0 ).

This is happening when I saved the menu after I added a page to it, and it does the same when I deleted the page and saved it.

[2021-03-22 13:44] tudor-themeisle opened #513 "Undefined array key php error on line 300"
### Description:

This is happening when I saved the menu after I added a page to it, and it does the same when I deleted the page and saved it.

### How to reproduce:

1. Fresh instance on Neve 2.10.2
2. Install Feedzy RSS Feeds Lite | Version 3.5.2
3. Add a page to the menu and save it.

### Expected behaviour:

It should not have the error.

### Current behaviour:

https://prnt.sc/10od22t

###

[2021-03-25 05:38] girishkrishaweb commented on #474
@tudor-themeisle & @topher1kenobe  Can you please confirm here that you were testing the issue after applying the latest patch? As I can see in the screenshot, you are getting the issue on this line `Warning: Undefined array key "feedzy_category_meta_noncename" in /home/customer/www/topher.how/public_html/wp-content/plugins/feedzy-rss-feeds/includes/admin/feedzy-rss-feeds-admin.php on line 300` bu

[2021-03-25 16:50] irinelenache commented on #474
@girishkrishaweb with the patch applied, no errors are shown neither with Neve or Kadence installed

[2021-03-26 11:19] tudor-themeisle commented on #474
Sorry @girishkrishaweb, I think I didn't use the current patch, I tested again and got the same result as @irinelenache.

[2021-04-02 11:01] selul opened #514 "test issues"
test issue

[2021-04-02 11:01] #514 closed

[2021-04-07 07:40] #441 closed

[2021-04-07 09:01] selul opened #516 "move gutenberg app on wordpress-scripts"
### Description:
Move the build of the Gutenberg block via the WordPress [scripts](https://developer.wordpress.org/block-editor/reference-guides/packages/packages-scripts/) package.

- [x] remove the packages that are no longer needed
- [x] make sure that build, lint:js functions are passing.
- [x] add the lint-js command into Github actions.
- [x] the Gutenberg block should work as before.

[2021-04-07 10:07] girishkrishaweb commented on #513
@tudor-themeisle Duplicate ticket https://github.com/Codeinwp/feedzy-rss-feeds/issues/474 - Solved

[2021-04-12 11:46] girishkrishaweb commented on #439
@DanyCaissy We have added a new feature as you describe in the ticket description.

Here is the screenshot of the plugin settings page from the admin interface
![duplicate-post-plugin-settings](https://user-images.githubusercontent.com/79647963/114389221-5bb4ed80-9bb2-11eb-8830-3501412c8100.png)
(duplicate-post-plugin-settings.png) where you can enable and disable duplicate feed import using the c

[2021-04-13 12:02] vytisbulkevicius opened #522 "Allow leaving specific HTML tags unstripped"
### Description:
When importing items as posts XML RSS Feeds sometimes contain specific HTML tags that might be insecure like <iframe>, <script> etc.

SimplePie allows stripping them and we do so:
https://simplepie.org/wiki/reference/simplepie/strip_htmltags#don_t_strip_any_tags_not_recommended

However, sometimes users want to keep those tags and import them as content into a post. Example feed:

[2021-04-14 05:22] girishkrishaweb commented on #476
**QA test**
We have to test these scenarios:

1. Create a new import feed with the feed URL Ex: {site_url}/es/feed/, {site_url}/pt-pt/feed/
2. Select **Assign language** and save the import feed post.
![Select-language](https://user-images.githubusercontent.com/79647963/114658294-312c7700-9d0f-11eb-84f7-e2143720e350.png)
3. Click the run now button to import feed as per selected language.
4. Feed

[2021-04-14 11:33] irinelenache opened #523 "Thumbnails dimension doesn't work in front-end for the feedzy block"
### Description:

When i add the feedzy block in a post, setting the thumbnail dimension works only in editor.
If i set the thumbnail dimension to 250, in front-end it has the default dimension (150), if i set it to 300, it works fine.
### How to reproduce:

1. Create a post and add the feedzy block
2. Add a feed that contains images ( https://www.buzzfeed.com/world.xml )
3. Set the thumbnail dime

[2021-04-20 07:41] selul commented on #522
we can turn this on/off based on a constant, i.e FEEDZY_ALLOW_UNSAFE_HTML

[2021-04-20 10:54] #252 closed

[2021-04-20 10:54] #312 closed

[2021-04-20 10:54] #377 closed

[2021-04-20 10:54] #474 closed

[2021-04-20 10:54] #475 closed

[2021-04-20 10:54] #480 closed

[2021-04-20 10:54] #492 closed

[2021-04-20 10:54] #493 closed

[2021-04-20 11:10] #513 closed

[2021-04-21 12:54] selul opened #524 "fatal error on wp_verify_nonce"
https://wordpress.org/support/topic/fatal-error-in-the-last-update-2/

[2021-04-21 16:27] #524 closed

[2021-04-22 12:42] vytisbulkevicius opened #527 "Youtube feeds do not validate in the Import (F2P) settings"
### Description:
None of youtube feeds validate in the import settings so it's not possible to import items from youtube feeds.

Example feed - https://www.youtube.com/feeds/videos.xml?playlist_id=PLubHZPzx6RlpDOXh4F6pjrUrO5mvejHFw

When trying to save an import - error is thrown:
![image](https://user-images.githubusercontent.com/36594177/115715356-b7386580-a380-11eb-9542-43ef08f5ffe9.png)

Works

[2021-04-22 13:32] vytisbulkevicius commented on #527
+1 https://secure.helpscout.net/conversation/1468539936/272948 (to inform client once fixed)

[2021-04-22 17:46] poonam279 opened #529 "custom fields input box don't appear in the import wizard"
### Description:

In the import wizard, when we click the **Add custom fields button**, no input fields appear there.

### How to reproduce:

1. Create an import job
2. Click Add custom fields button

### Expected behavior:
I expected the empty custom fields input boxes to appear when I click the "add custom fields" button.

### Current behaviour:
No input fields, only the bin icon appears

### Re

[2021-04-22 19:29] vytisbulkevicius commented on #527
Seems like this happens not only with YouTube feeds.

Another client reported that his feeds stopped working and provided this one as an example:
https://multipolar-magazin.de/atom.xml

Again, I can replicate the same issue:
![image](https://user-images.githubusercontent.com/36594177/115774384-2da58980-a3ba-11eb-9c12-99432f38fe36.png)

**Works fine with Feedzy 3.5.1**

Reported - https://secure.he

[2021-04-23 11:11] selul commented on #527
fixed in the latest version.